@charset "utf-8";
/************************************************************************************************************ 
Basic Style Sheet (for version 4 browsers)	
	version: 0.1
	author: 박수연
	email: suudjin@nate.com
	설명: BTMS 
	
************************************************************************************************************/
.k1_btms_input{border:#cfcfcf 1px solid; height:13px; color:#8a8a8a; font-size:11px; line-height:13px; padding:2px;}

/************************************************************************************************************
 그리드 장식용 테이블 BTMS
************************************************************************************************************/
/*이전 : k1_btms_table2*/
.k1_btms_t_layout1{width:100%; border-top:#969696 2px solid; border-bottom:#d5d5d5 1px solid;}
.k1_btms_t_layout1 td{background:#f1f1f1; font-weight:normal; text-align:center; color:#393939; height:20px; padding:4px 5px 3px; border-right:#d5d5d5 1px solid; border-top:#d5d5d5 1px solid; border-bottom:medium none; line-height:1.2em;}
.k1_btms_t_layout1 td.last{border-right:0 none;}
.k1_btms_t_layout1 td.last2{border-right:0 none; padding:0;}

/*k1_htl_board3*/
.k1_btms_t_layout2{width:100%; border-top:#3775c7 1px solid;}
.k1_btms_t_layout2 td{padding:6px 5px 4px; text-align:center;height:16px; background:#f5f5f5; border-bottom:#c9c9c9 1px solid; border-right:#c9c9c9 1px solid; color:#393939; line-height:16px;}
.k1_btms_t_layout2 .pdl_20{padding-left:20px;}
.k1_btms_t_layout2 .last{border-right:0 none;}

/*k1_btms_table4*/
.k1_btms_t_layout3{width:100%; border-top:#969696 2px solid; border-bottom:#969696 1px solid; /*table-layout:fixed;*/ font-size:11px;}
.k1_btms_t_layout3 td{background:#f1f1f1; text-align:center; font-weight:normal; color:#393939; height:20px; padding:4px 3px 3px; line-height:20px;border-right:#d5d5d5 1px solid; border-top:#d5d5d5 1px solid; border-bottom:medium none;}
.k1_btms_t_layout3 tr.first td{border-top:0 none;}
.k1_btms_t_layout3 td.txt_l{text-align:left;}
.k1_btms_t_layout3 td.txt_r{text-align:right;}
.k1_btms_t_layout3 td.last{border-right:0 none;}
/************************************************************************************************************
 btms_table
************************************************************************************************************/
.k1_btms_table_btn{border-top:none !important;}

.k1_btms_mboard{width:100%; border-top:#d5d5d5 1px solid; border-bottom:#969696 1px solid;}
.k1_btms_mboard th{padding:7px 10px; height:14px; background:#f1f1f1; border-top:#d5d5d5 1px solid; border-bottom:#969696 1px solid; color:#393939; line-height:14px;}
.k1_btms_mboard td{padding:7px 10px 5px; height:16px; border-bottom:#969696 1px dotted; line-height:12px; color:#777; text-align:center;}
.k1_btms_mboard td a{color:#777;}
.k1_btms_mboard td a:hover{text-decoration:underline; color:#3775c7;}

.k1_btms_confirm{width:100%;}
.k1_btms_confirm th,
.k1_btms_confirm td{border-bottom:dotted 1px #cdc8c8;}
.k1_btms_confirm th.last,
.k1_btms_confirm td.last{border:0 none;}
.k1_btms_confirm td{padding:2px 0; color:#5e5e5e; font-size:11px;}
.k1_btms_confirm td .k1_btms_input{width:130px;}
.k1_btms_confirm th{text-align:left; background:url(/air/wfw/imgs/bullet/bul_gray_square.gif) no-repeat 5px 10px; color:#5e5e5e; padding:7px 15px 7px 20px; font-weight:bold; line-height:14px;}
.k1_btms_confirm select{border:#cfcfcf 1px solid; width:136px; color:#8a8a8a; font-size:11px; height:19px; line-height:12px;}

.k1_btms_table1{width:100%; border-top:#969696 2px solid; border-bottom:#969696 1px solid; table-layout:fixed;}
.k1_btms_table1 th,
.k1_btms_table1 td{border:#d5d5d5 1px solid; border-bottom:medium none;}
.k1_btms_table1 th{background:#f1f1f1; text-align:left; font-weight:normal; color:#393939; height:20px; padding:5px 10px 3px; line-height:1.4em;}
.k1_btms_table1 td{color:#5e5e5e; padding:4px 10px; height:20px; line-height:1.4em;}
.k1_btms_table1 td.pd_none{padding:0;}
.k1_btms_table1 td label{vertical-align:middle;}
.k1_btms_table1 td span.txt11_blue{float:right; padding-top:5px; width:70%; color:#3775c7; font-size:11px; line-height:11px; text-align:left;}/*삭제예정*/
.k1_btms_table1 td span.pw_comment{float:right; padding-top:5px; width:70%; color:#3775c7; font-size:11px; line-height:11px; text-align:left;}
.k1_btms_table1 td span.pw_comment2{padding-left:5px; color:#5e5e5e; font-size:11px; line-height:11px; text-align:left;}
.k1_btms_table1_2{width:100%; border-top:#969696 2px solid; border-bottom:#969696 1px solid;}
.k1_btms_table1_2 th,
.k1_btms_table1_2 td{border-top:#d5d5d5 1px solid; border-left:#d5d5d5 1px solid; border-right:#d5d5d5 1px solid; border-bottom:medium none; line-height:1.2em;}
.k1_btms_table1_2 th{background:#f1f1f1; font-weight:normal; color:#393939; height:20px; padding:4px 10px 3px;}
.k1_btms_table1_2 .k1_rowline[rowspan]{border:#a3c0e5 1px solid;}
.k1_btms_table1_2 td{color:#5e5e5e; padding:4px 10px; height:20px; text-align:center; word-break:break-all;}
.k1_btms_table1_2 td.pd_none{padding:0;}
.k1_btms_table1_2 td a{color:#3775c7;}
.k1_btms_table1_2 td a:hover{text-decoration:underline; color:#3775c7;}

.k1_intable{width:100%;}
.k1_intable th,
.k1_intable td{padding:4px 10px; border:#d5d5d5 1px solid; border-right:none; border-bottom:medium none; text-align:center;}
.k1_intable tr.first td,
.k1_intable tr.first th,
.k1_intable thead th{border-top:0 none;}
.k1_intable th.first,
.k1_intable td.first{border-left:0 none;}
.k1_intable td.tal{text-align:left;}

.k1_btms_table2{width:100%; border-top:#969696 2px solid; border-bottom:#969696 1px solid;}
.k1_btms_table2 tr.first td{border-top:0 none;}
.k1_btms_table2 th,
.k1_btms_table2 td{border-right:#d5d5d5 1px solid; border-top:#d5d5d5 1px solid; border-bottom:medium none; line-height:1.2em;}
.k1_btms_table2 th{background:#f1f1f1; font-weight:normal; color:#393939; height:20px; padding:4px 10px 3px;}
.k1_btms_table2 td{color:#5e5e5e; padding:4px 10px; height:20px; text-align:center;}
.k1_btms_table2 th.txt_l,
.k1_btms_table2 td.txt_l{text-align:left;}
.k1_btms_table2 td.txt_r{text-align:right;}
.k1_btms_table2 th.last,
.k1_btms_table2 td.last{border-right:0 none;}
.k1_btms_table2 th.last2,
.k1_btms_table2 td.last2{border-right:0 none; padding:0;}
.k1_btms_table2 tfoot th,
.k1_btms_table2 tfoot td{background:#f6f9fc; border-top:#4881cc 1px solid; border-bottom:#4881cc 1px solid; font-weight:bold;}
.k1_btms_table2 tfoot th.nobg,
.k1_btms_table2 tfoot td.nobg{background:none;}
.k1_btms_table2 tfoot th{color:#3775c7;}

.k1_btms_table3{width:100%; border-top:#969696 2px solid; border-bottom:#969696 1px solid;}
.k1_btms_table3 th,
.k1_btms_table3 td{border-right:#d5d5d5 1px solid; border-top:#d5d5d5 1px solid; border-bottom:medium none; line-height:1.2em;}
.k1_btms_table3 th{background:#f1f1f1; font-weight:normal; color:#393939; height:20px; padding:4px 5px 3px;}
.k1_btms_table3 td{color:#5e5e5e; padding:4px 5px; height:20px; text-align:center;}
.k1_btms_table3 tr.first th,
.k1_btms_table3 tr.first td{border-top:0 none;}
.k1_btms_table3 td label{vertical-align:middle;}
.k1_btms_table3 td.txt_l{text-align:left;}
.k1_btms_table3 td.txt_r{text-align:right;}
.k1_btms_table3 th.last,
.k1_btms_table3 td.last{border-right:0 none;}
.k1_btms_table3 th.last2,
.k1_btms_table3 td.last2{border-right:0 none; padding:0;}
.k1_btms_table3 tfoot th,
.k1_btms_table3 tfoot td{background:#f1f1f1; border-top:#969696 1px solid; border-bottom:#969696 1px solid; font-weight:bold;}
.k1_btms_table3 tfoot th.nobg,
.k1_btms_table3 tfoot td.nobg{background:none;}
.k1_btms_table3 tfoot th{color:#3775c7;}
.k1_btms_table3 tfoot td span.k1_btms_total {color:#3775c7 !important;}

/* 통계관련 */
.k1_btms_table4{width:100%; border-top:#969696 2px solid; border-bottom:#969696 1px solid; /*table-layout:fixed;*/ font-size:11px;}
.k1_btms_table4 th,
.k1_btms_table4 td{border-right:#d5d5d5 1px solid; border-top:#d5d5d5 1px solid; border-bottom:medium none;}
.k1_btms_table4 th{background:#f1f1f1; font-weight:normal; color:#393939; height:20px; padding:4px 3px 3px; line-height:20px;}
.k1_btms_table4 td{color:#5e5e5e; padding:4px 7px; height:20px; text-align:center;}
.k1_btms_table4 tr.first td,
.k1_btms_table4 tr.first th{border-top:0 none;}
.k1_btms_table4 th.txt_l,
.k1_btms_table4 td.txt_l{text-align:left;}
.k1_btms_table4 td.txt_r{text-align:right;}
.k1_btms_table4 th.last,
.k1_btms_table4 td.last{border-right:0 none;}
.k1_btms_table4 td a:hover{color:#3775c7; text-decoration:underline;}
.k1_btms_table4 tfoot th,
.k1_btms_table4 tfoot td{background:#f1f1f1; border-top:#969696 1px solid; border-bottom:#969696 1px solid; font-weight:bold;}
.k1_btms_table4 tfoot th.nobg,
.k1_btms_table4 tfoot td.nobg{background:none;}
.k1_btms_table4 tfoot th{color:#3775c7;}

.k1_btms_table5{width:100%; border-top:#969696 2px solid; border-bottom:#969696 1px solid; table-layout:fixed;}
.k1_btms_table5 th,
.k1_btms_table5 td{border-right:#d5d5d5 1px solid; border-bottom:#d5d5d5 1px solid;}
.k1_btms_table5 th{background:#f1f1f1; font-weight:normal; color:#393939; height:20px; padding:4px 2px 3px;}
.k1_btms_table5 td{color:#5e5e5e; padding:4px 2px; height:20px; text-align:center;}
.k1_btms_table5 td.txt_l{text-align:left;}
.k1_btms_table5 td.txt_r{text-align:right;}
.k1_btms_table5 th.last,
.k1_btms_table5 td.last{border-right:0 none;}
.k1_btms_table5 td .k1_pricep{color:#3775c7;}
.k1_btms_table5 tfoot th,
.k1_btms_table5 tfoot td{background:#f6f9fc; border-top:#4881cc 1px solid; border-bottom:#4881cc 1px solid; font-weight:bold;}
.k1_btms_table5 tfoot th.nobg,
.k1_btms_table5 tfoot td.nobg{background:none;}
.k1_btms_table5 tfoot th{color:#3775c7;}

/************************************************************************************************************
 btms_조회박스
************************************************************************************************************/
.k1_btms_searchbox{border:#969696 2px solid;}
.k1_btms_searchbox .searchbox_inner{padding:3px 14px; border:#e6e6e6 1px solid;}

.k1_btms_searchbox2{padding:7px 17px; margin-bottom:10px; height:19px; border:#e4e4e4 1px solid; background:#f4f5f5; line-height:1.4em;}
.k1_btms_searchbox2 .sech{padding:1px 15px 1px 20px; margin-right:10px; border-right:#cecece 1px solid; background:url(/air/wfw/imgs/icon/ico_search.gif) no-repeat 0 0; color:#393939; font-weight:bold;}
.k1_btms_searchbox2 label{color:#5e5e5e; font-weight:bold; padding-top:1px; vertical-align:middle;}
.k1_btms_searchbox2 input{border:#e2e3ea 1px solid; font-size:11px; color:#777; height:13px; line-height:13px; padding:2px; vertical-align:middle;}
.k1_btms_searchbox2 select{border:#cfcfcf 1px solid; color:#8a8a8a; font-size:11px; height:19px; vertical-align:middle;}
.k1_btms_searchbox2 span{vertical-align:middle;}
.k1_btms_searchbox2 .k1_btn_search{margin-top:1px;}

.k1_btms_search{width:100%;}
.k1_btms_search th{padding:3px 5px 2px 10px; height:26px; background:url(/air/wfw/imgs/airB/bullet_icon/bul_arrow02.gif) no-repeat 0 12px; border-bottom:#cecfcf dotted 1px; text-align:left; line-height:26px;}
.k1_btms_search td{padding:3px 5px 2px 15px; height:26px; background:url(/air/wfw/imgs/airB/common/bul_bar.gif) no-repeat 0 10px; border-bottom:#cecfcf dotted 1px; line-height:26px;}
.k1_btms_search th.last,
.k1_btms_search td.last{border-bottom:0 none;}

.k1_btms_filebox{height:32px; padding:2px 0; border:#e2e3ea 1px solid; font-size:11px; color:#5e5e5e; vertical-align:middle; overflow-y:scroll; text-align:left;}
.k1_btms_filebox a{display:inline-block; height:17px; padding:1px 10px 0 18px; margin-left:5px; background:url(/air/wfw/imgs/airB/btn/btn_icon.png) no-repeat -352px 0; vertical-align:middle; color:#5e5e5e !important;}
.k1_btms_filebox a:hover{text-decoration:underline;}
.k1_btms_file{display:inline-block; height:17px; padding:1px 10px 0 18px; background:url(/air/wfw/imgs/airB/btn/btn_icon.png) no-repeat -352px 0; vertical-align:middle; color:#5e5e5e;}

.k1_btms_massagebox {padding:7px 13px; margin-bottom:10px; border:#e4e4e4 1px solid; background:#f4f5f5; line-height:18px;}
.k1_btms_statue{padding:10px 10px 8px; margin-top:5px; background:#f4f5f5; border:#e4e4e4 1px solid; line-height:1.4em;}
.k1_btms_statue p{padding-left:10px; background:url(/air/wfw/imgs/airB/bullet_icon/bul_6px_dot4.gif) 0 4px no-repeat; font-size:12px;}
.k1_btms_statue p.k1_btms_totalsum{padding-left:0; background:none;}
.k1_btms_statue p.k1_btms_totalsum strong{color:#3775c7;}
.k1_btms_statue p.k1_btms_totalsum strong span{color:#fd2805;}

.k1_btms_statue2{padding:8px 10px 8px; margin-top:5px; background:#f4f5f5; border:#e4e4e4 1px solid; line-height:1.4em;}
.k1_btms_statue2 dl{line-height:1.3em;}
.k1_btms_statue2 dt{padding-left:10px; margin-top:5px; background:url(/air/wfw/imgs/airB/bullet_icon/bul_6px_dot4.gif) 0 4px no-repeat; font-size:12px;}
.k1_btms_statue2 dl dt:first-child{margin-top:0;}
.k1_btms_statue2 dd{padding-left:10px;}

/*2017-03-21 table extend style*/
th.bg-dark{background-color:#e3e3e3;}
th.bdr-dark,
td.bdr-dark{border-right:1px solid #969696;}