@charset "utf-8";
/************************************************************************************************************ 
Basic Style Sheet (for version 4 browsers)	
	version: 0.1
	author: 박수연
	email: suudjin@nate.com
	설명: BTMS
************************************************************************************************************/
/************************************************************************************************************
 btms_btn
************************************************************************************************************/
/* 버튼정렬 */
.k1_btnarea_c{text-align:center;}
.k1_btnarea_c1{text-align:center; padding-top:10px;}
.k1_btnarea_c2{text-align:center; padding-top:20px;}
.k1_btnarea_r{text-align:right;}
.k1_btmspop_btn_tr{text-align:right; padding-bottom:3px;}
.k1_btn_area{position:relative; padding:0;}
.k1_btn_area_l{position:absolute; left:0; top:0;}
.k1_btn_area_r{position:absolute; right:0; top:0;}
.k1_height18{height:18px;}

/* k1_btmsbtn01 */
.k1_btmsbtn01,
.k1_btmsbtn01 *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif) !important; font-weight:bold; color:#fff; cursor:pointer; line-height:15px;}
.k1_btmsbtn01{display:inline-block; padding-right:7px; background-position:right top !important;}
.k1_btmsbtn01 span{display:block; height:15px; padding:6px 14px 4px 21px; background:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif) left top !important;}
.k1_btmsbtn01 span.w90{width:50px; text-align:center;}
span.k1_btmsbtn01 {height:25px;}
.k1_btmsbtn01 button,
.k1_btmsbtn01 input{display:block; height:25px; border:0 none; padding:6px 14px 4px 21px; background:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif) left top !important;}

/* k1_btmsbtn02 */
.k1_btmsbtn02,
.k1_btmsbtn02 *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif); color:#393939; cursor:pointer; line-height:14px; font-size:11px; text-align:center;}
.k1_btmsbtn02{display:inline-block; height:27px; padding-right:3px; background-position:right -247px;}
.k1_btmsbtn02 span{display:block; height:14px; width:92px; padding:7px 0 6px 2px; background-position:left -247px;}
.k1_btmsbtn02 button,
.k1_btmsbtn02 input{display:block; height:27px; border:0 none; width:94px; padding:5px 0 6px 2px; background-position:left -247px;}

/* k1_btmsbtn01_off */
.k1_btmsbtn01_off,
.k1_btmsbtn01_off *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif) !important; color:#fff; font-weight:bold; line-height:15px; cursor:pointer;}
.k1_btmsbtn01_off{display:inline-block; padding-right:7px; height:25px; background-position:right -186px !important;}
.k1_btmsbtn01_off span{display:block; height:15px; padding:6px 14px 4px 21px; background-position:left -186px !important;}
.k1_btmsbtn01_off span.w50{width:50px; text-align:center;}
.k1_btmsbtn01_off button.w50,
.k1_btmsbtn01_off input.w50{width:85px; text-align:center;}
span.k1_btmsbtn01_off {height:25px;}
.k1_btmsbtn01_off button,
.k1_btmsbtn01_off input{display:block; height:25px; border:0 none; padding:6px 14px 4px 21px; background-position:left -186px !important;}

/* k1_btmsbtn01_2 */
.k1_btmsbtn01_2,
.k1_btmsbtn01_2 *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif); color:#fff; font-weight:bold; line-height:15px; cursor:pointer;}
.k1_btmsbtn01_2{display:inline-block; padding-right:7px; height:25px; background-position:right top;}
.k1_btmsbtn01_2 span{display:block; height:15px; padding:6px 23px 4px 30px; background-position:left top;}
.k1_btmsbtn01_2 button,
.k1_btmsbtn01_2 input{display:block; height:25px; border:0 none; padding:6px 23px 4px 30px; background-position:left top;}

/* k1_btmsbtn_s01 */
.k1_btmsbtn_s01,
.k1_btmsbtn_s01 *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif); color:#fff; font-size:11px; line-height:11px; vertical-align:middle; cursor:pointer;}
.k1_btmsbtn_s01{display:inline-block; position:relative; padding-right:7px; height:20px; background-position:right -27px;}
.k1_btmsbtn_s01 span{display:block; height:11px; padding:5px 3px 4px 10px; background-position:left -27px;}
.k1_btmsbtn_s01 button,
.k1_btmsbtn_s01 input{display:block; height:20px; border:0 none; padding:5px 3px 4px 10px; background-position:left -27px;}
.k1_btmsbtn_s01 em.plus{display:block; position:absolute; left:10px; top:28%; width:8px; height:8px; background:url(/air/wfw/imgs/airB/btn/btn_icon.png) no-repeat -320px 0;}

/* k1_btn_dbtxt */
.k1_btn_dbtxt,
.k1_btn_dbtxt *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif); line-height:11px; color:#fff; font-size:11px; vertical-align:middle; cursor:pointer; white-space:nowrap;}
.k1_btn_dbtxt{display:inline-block; padding-right:3px; background-position:right -47px;}
.k1_btn_dbtxt span{display:block; height:11px; padding:4px 4px 3px 7px; background-position:left -47px;}
.k1_btn_dbtxt button,
.k1_btn_dbtxt input{display:block; height:18px; border:0 none; padding:4px 4px 3px 7px; background-position:left -47px;}

.k1_btn_dbtxt span.w35{width:27px; padding:4px 2px 3px 5px; text-align:center;}
.k1_btn_dbtxt button.w35,
.k1_btn_dbtxt input.w35{width:34px;}

.k1_btn_dbtxt span.w55{width:45px; padding:4px 2px 3px 5px; text-align:center;}
.k1_btn_dbtxt button.w55,
.k1_btn_dbtxt input.w55{width:52px;}
a.k1_btn_dbtxt:hover{text-decoration:none !important;}

/* k1_btn_dbtxt01 */
.k1_btn_dbtxt01,
.k1_btn_dbtxt01 *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif); color:#fff; font-size:11px; line-height:14px; vertical-align:middle; cursor:pointer;}
.k1_btn_dbtxt01{display:inline-block; position:relative; padding-right:3px; height:18px; background-position:right -83px;}
.k1_btn_dbtxt01 span{display:block; height:13px; padding:3px 3px 2px 6px; background-position:left -83px;}
.k1_btn_dbtxt01 button,
.k1_btn_dbtxt01 input{display:block; height:18px; border:0 none; padding:3px 3px 2px 6px; background-position:left -83px;}

/* k1_btn_dbtxt02 */
.k1_btn_dbtxt02,
.k1_btn_dbtxt02 *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif); line-height:11px; color:#fff; font-size:11px; vertical-align:middle; cursor:pointer; white-space:nowrap;}
.k1_btn_dbtxt02{display:inline-block; position:relative; padding-right:3px; background-position:right -65px;}
.k1_btn_dbtxt02 span{display:block; height:11px; padding:4px 4px 3px 7px; background-position:left -65px;}
.k1_btn_dbtxt02 button,
.k1_btn_dbtxt02 input{display:block; height:18px; border:0 none; padding:4px 4px 3px 7px; background-position:left -65px;}
.k1_btn_dbtxt02 span.w55{width:45px; padding:4px 2px 3px 5px; text-align:center;}
.k1_btn_dbtxt02 button.w55,
.k1_btn_dbtxt02 input.w55{width:52px;}
.k1_btn_dbtxt02 span.w65{width:55px; padding:4px 2px 3px 5px; text-align:center;}
.k1_btn_dbtxt02 button.w65,
.k1_btn_dbtxt02 input.w65{width:62px;}
a.k1_btn_dbtxt02:hover{text-decoration:none !important;}

/* k1_btn_dbtxt02_1 */
.k1_btn_dbtxt02_1,
.k1_btn_dbtxt02_1 *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif); line-height:11px; color:#fff; font-size:11px; vertical-align:middle; cursor:pointer; white-space:nowrap;}
.k1_btn_dbtxt02_1{display:inline-block; padding-right:3px; background-position:right -65px;}
.k1_btn_dbtxt02_1 span{display:block; height:11px; padding:4px 4px 3px 7px; background-position:left -65px;}
.k1_btn_dbtxt02_1 button,
.k1_btn_dbtxt02_1 input{display:block; height:18px; border:0 none; padding:4px 4px 3px 7px; background-position:left -65px;}
a.k1_btn_dbtxt02_1:hover{text-decoration:none !important;}

/*k1_btn_dbtxt03*/
.k1_btn_dbtxt03,
.k1_btn_dbtxt03 *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif); vertical-align:middle; line-height:16px; color:#393939; font-size:11px; cursor:pointer;}
.k1_btn_dbtxt03{display:inline-block; position:relative; height:23px; padding-right:3px; background-position:right -101px;}
.k1_btn_dbtxt03 span{display:block; padding:4px 4px 3px 23px; background-position:left -101px;}
.k1_btn_dbtxt03 button,
.k1_btn_dbtxt03 input{display:block; height:23px; border:0 none; padding:4px 4px 3px 23px; background-position:left -101px;}

/*k1_btn_dbtxt04*/
.k1_btn_dbtxt04,
.k1_btn_dbtxt04 *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif); vertical-align:middle; line-height:16px; color:#393939; font-size:12px; cursor:pointer;}
.k1_btn_dbtxt04{display:inline-block; position:relative; height:23px; padding-right:3px; background-position:right -101px;}
.k1_btn_dbtxt04 span{display:block; padding:4px 4px 3px 27px; background-position:left -101px;}
.k1_btn_dbtxt04 button,
.k1_btn_dbtxt04 input{display:block; height:23px; border:0 none; padding:4px 4px 3px 27px; background-position:left -101px;}

/*k1_btn_dbtxt05*/
.k1_btn_dbtxt05,
.k1_btn_dbtxt05 *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif); vertical-align:middle; line-height:16px; color:#393939; font-size:12px; cursor:pointer;}
.k1_btn_dbtxt05{display:inline-block; position:relative; height:23px; padding-right:3px; background-position:right -101px;}
.k1_btn_dbtxt05 span{display:block; padding:4px 4px 3px 8px; background-position:left -101px;}
.k1_btn_dbtxt05 button,
.k1_btn_dbtxt05 input{display:block; height:23px; border:0 none; padding:4px 4px 3px 8px; background-position:left -101px;}

/* k1_btn_dbtxt06 */
.k1_btn_dbtxt06,
.k1_btn_dbtxt06 *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif); line-height:12px; color:#fff; font-size:11px; vertical-align:middle; cursor:pointer;}
.k1_btn_dbtxt06{display:inline-block; padding-right:3px; background-position:right -274px;}
.k1_btn_dbtxt06 span{display:block; height:12px; padding:5px 4px 3px 7px; background-position:left -274px;}
.k1_btn_dbtxt06 button,
.k1_btn_dbtxt06 input{display:block; height:20px; border:0 none; padding:3px 4px 3px 7px; background-position:left -274px;}
a.k1_btn_dbtxt06:hover{text-decoration:none !important;}

/* 아이콘 버튼 */
em.plus{display:block; overflow:hidden; position:absolute; left:7px; top:25%; width:8px; height:8px; background:url(/air/wfw/imgs/airB/btn/btn_icon.png) no-repeat -320px 0;}
em.sech{display:block; overflow:hidden; position:absolute; left:7px; top:16%; width:13px; height:16px; top:16%; background:url(/air/wfw/imgs/btn/btn_file.png) no-repeat 0 -32px;}
em.excel{display:block; overflow:hidden; position:absolute; left:7px; top:20%; width:13px; height:13px; top:16%; background:url(/air/wfw/imgs/btn/btn_file.png) no-repeat -26px 0;}
em.print{display:block; overflow:hidden; position:absolute; left:7px; top:20%; width:12px; height:13px; top:16%; background:url(/air/wfw/imgs/btn/btn_file.png) no-repeat -78px -32px;}

.k1_btn_dbtxt04 em{display:block; overflow:hidden; position:absolute; left:7px; top:16%; background:url(/air/wfw/imgs/airB/btn/btn_icon.png) no-repeat;}
em.skyteam {width:17px; height:15px; background-position: -24px -56px;}
em.staralliance {width:16px; height:15px; background-position: -48px -56px;}
em.oneworld {width:15px; height:15px; background-position: -72px -56px;}
em.plus2{display:inline-block; height:8px; width:8px; background:url(/air/wfw/imgs/airB/btn/btn_icon.png) no-repeat -336px 0; vertical-align:middle;}

/* 아이콘옆 간격 */
.k1_btn_icon span,
.k1_btn_icon button, 
.k1_btn_icon input{padding-left:20px;}

/* k1_btn_square */
.k1_btn_square,
.k1_btn_square *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif); vertical-align:middle; line-height:12px; color:#fff; font-size:11px; white-space:pre-wrap; cursor:pointer;}
.k1_btn_square{display:inline-block; position:relative; width:33px; height:31px; padding-right:2px; background-position:right -124px;}
.k1_btn_square span{display:block; height:24px; padding:4px 4px 3px 7px; background-position:left -124px;}
.k1_btn_square button,
.k1_btn_square input{display:block; height:31px; width:33px; border:0 none; padding:3px 1px 3px 4px; background-position:left -124px; text-align:center;}

/*k1_btn_square_off*/
.k1_btn_square_off,
.k1_btn_square_off *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif); vertical-align:middle; line-height:12px; color:#fff; font-size:11px; white-space:pre-wrap; cursor:pointer;}
.k1_btn_square_off{display:inline-block; position:relative; width:33px; height:31px; padding-right:2px; background-position:right -155px;}
.k1_btn_square_off span{display:block; padding:4px 4px 3px 7px; background-position:left -155px;}
.k1_btn_square_off button,
.k1_btn_square_off input{display:block; height:31px; width:33px; border:0 none; padding:4px 1px 3px 4px; background-position:left -155px; text-align:center;}

/*k1_btn_square02*/
.k1_btn_square02,
.k1_btn_square02 *{background-image:url(/air/wfw/imgs/btmsB/btn/btn_btmsbg.gif); vertical-align:middle; line-height:12px; color:#fff; font-size:11px; white-space:pre-wrap; text-align:center; cursor:pointer;}
.k1_btn_square02{display:inline-block; position:relative; width:33px; height:36px; padding-right:3px; background-position:right -211px;}
.k1_btn_square02 span{display:block; padding:7px 4px 5px 7px; background-position:left -211px;}
.k1_btn_square02 button,
.k1_btn_square02 input{display:block; height:36px; width:33px; border:0 none; padding:4px 1px 3px 4px; background-position:left -211px; text-align:center;}
a.k1_btn_square02:hover{text-decoration:none !important;}

/* 캘린더, 찾기 버튼 */
.k1_btn_calender{display:inline-block; width:18px; height:19px; border:0 none; background:url(/air/wfw/imgs/airB/btn/btn_icon.png) no-repeat -192px 0; vertical-align:middle; font-size:0; cursor:pointer;}
.k1_btn_del{display:inline-block; width:11px; height:11px; margin:0 2px; border:0 none; background:url(/air/wfw/imgs/airB/btn/btn_icon.png) no-repeat -168px -24px; vertical-align:middle; font-size:0; cursor:pointer;}

.k1_btn_search{background:url(/air/wfw/imgs/airB/btn/btn_icon.png) no-repeat -96px 0; width:18px; height:19px; display:inline-block; border:0 none; vertical-align:middle; font-size:0; cursor:pointer;}

/* updown - btms단독 */
.k1_btn_updown{display:inline-block; width:9px; height:13px; border:0 none; margin-top:-1px; background:url(/air/wfw/imgs/btn/btn_updown.gif) no-repeat 0 0; vertical-align:middle; cursor:pointer; font-size:0; text-indent:-1000px;}
.k1_btn_up{display:inline-block; width:9px; height:6px; border:0 none; background:url(/air/wfw/imgs/btn/btn_updown.gif) no-repeat -10px 0; vertical-align:middle; cursor:pointer; font-size:0; text-indent:-1000px;}
.k1_btn_down{display:inline-block; width:9px; height:6px; border:0 none; background:url(/air/wfw/imgs/btn/btn_updown.gif) no-repeat -20px 0; vertical-align:middle; cursor:pointer; font-size:0; text-indent:-1000px;}

/* 외부인등록 삭제버튼 */
.k1_btn_del2 {background:url(/air/wfw/imgs/airB/btn/btn_icon.png) no-repeat -96px -57px; width:18px; height:19px; display:inline-block; border:0 none; vertical-align:middle; font-size:0; cursor:pointer;}
