@charset "utf-8"; 

/* ------------------------------------------------------------------------------------
Basic Style Sheet (for version 4 browsers)

version: 0.1
author: 서현진
email: hjseo@toursoft.co.kr
설명: 공통

-css수정시-
--------------------------------------------------------------------------------------- */

/*:DATE :2013.07.15
version: 0.2
author: 박수연
email: suudjin@nate.com
설명: air+htl common.css 매칭작업
DATE :2013.10.01
설명:css-validator 오류수정

/*------------------------------------------------------------------------------------- */


/* =common
--------------------------------------------------------------------------------------- */
body,textarea,select,table, input, button{margin:0; padding:0; font-family:'돋움',Dotum,'굴림',Gulim,AppleGothic,sans-serif; font-size:12px; color:#5e5e5e;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,input,table,tr,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{margin:0; padding:0; border:0; background:transparent; font-weight:normal; font-size:100%; outline:0; vertical-align:baseline;}
ul,ol,dl{list-style:none}
fieldset,img{border:0 none; vertical-align:middle;}
em,address {font-style:normal;}
tr,th {font-weight:normal;}
table{border-collapse:collapse; border-spacing:0;}
hr {display:none; border:0 none;}
textarea{resize:none;}
input, select, textarea, label, button{vertical-align:middle;}
button, input{margin:0; padding:0; font-size:100%;}
iframe{overflow-x:hidden; overflow-y:hidden; margin:0; padding:0; border:0 none;}
/* a-style */
a{color:#494949; text-decoration:none; cursor:pointer;}
a:active{text-decoration:none; background-color:transparent;}
div:focus, iframe:focus{outline:0 none;}

caption {visibility:hidden;overflow:hidden; display:none;}
legend{position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
/*legend {visibility:hidden; margin:0; padding:0; display:none;}*/

.k1_blind{position:absolute; left:0; top:0; height:1px; width:1px; visibility:hidden; font-size:0; line-height:0; overflow:hidden;}
.k1_fwn {font-weight:normal !important;}

/* blank */
.k1_blank10 {height:10px;}
.k1_blank20 {height:20px;}
.k1_blank30 {height:30px;}
.k1_blank40 {height:40px;}

.k1_view {visibility:visible; display:block;}
.k1_cb {clear:both;}
.k1_hide {display:none;}
.k1_brn {background:none !important;}
.k1_pn {padding:0 !important;}
.k1_mn {margin:0 !important;}
.k1_mrn {margin-right:0 !important;}
.k1_bn {border:none !important;}
.k1_bn_top {border-top:none !important;}
.k1_bn_bottom {border-bottom:none !important;}
.k1_tdo {text-decoration:overline;}
.k1_tdt {text-decoration:line-through;}
.k1_tdu {text-decoration:underline;}

.k1_clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;} 
.k1_clearfix {display:inline-block;}
.k1_clearfix {display:block;}
.k1_fl{float:left;}
.k1_fr{float:right;}
.k1_fl2{float:left; width:49.5%;}
.k1_fr2{float:right; width:49.5%;}
.k1_tal {text-align:left !important;}
.k1_tac {text-align:center !important;}
.k1_tar {text-align:right !important;}
.k1_center{text-align:center !important;}
.k1_right{text-align:right !important;}
.k1_left{text-align:left !important;}
.k1_dpt {display:inline-table;}
.k1_dpb {display:block;}
.k1_dpib{display:inline-block;}
.k1_vat {vertical-align: top !important;}
.k1_vam {vertical-align: middle !important;}
.k1_vab {vertical-align: bottom;}
.k1_position{position:relative;}
.k1_tit_wrap1 {position:relative;}
.k1_tit_ar {position:absolute; right:0; top:0; vertical-align:top;}
.k1_tit_ar_b {position:absolute; right:0; bottom:0; vertical-align:bottom;}
.k1_tit_wrap2 {position:relative; height:11px;}
.k1_tit_wrap2 h2 {display:inline-block; vertical-align:bottom;}
.k1_tit_ar2 {position:absolute; right:0; top:0; height:11px; line-height:11px;}
.k1_bb1px {border-bottom:1px solid #e3e3e3;}
.k1_airno{display:inline-block; width:35px; text-align:right; vertical-align:middle;}

/* margin */
.k1_mtb10 {margin:10px 0 !important;}
.k1_mt_1 {margin-top:-2px !important;}
.k1_mt_N_1 {margin-top:-1px !important;}
.k1_mbn {margin-bottom:0 !important;}
.k1_mtn {margin-top:0 !important;}
.k1_mlm1 {margin-left:-1px !important;}
.k1_mt0 {margin:0px !important;}
.k1_ml0 {margin-left:0px !important;}
.k1_mt1 {margin-top:1px !important;}
.k1_m10 {margin:10px !important;}
.k1_m20 {margin:20px !important;}
.k1_mb1 {margin-bottom:1px;}
.k1_ml1 {margin-left:1px !important;}
.k1_mt2 {margin-top:2px;}
.k1_ml2 {margin-left:2px !important;}
.k1_mb2 {margin-bottom:2px;} 

.k1_mt3 {margin-top:3px;}
.k1_mr3 {margin-right:3px;}
.k1_mb3 {margin-bottom:3px !important;}
.k1_ml3 {margin-left:3px;}
.k1_ml4 {margin-left:4px;}
.k1_mt4 {margin-top:4px;}
.k1_mt5 {margin-top:5px !important;}
.k1_mt6 {margin-top:6px;}
.k1_mr5 {margin-right:5px !important;}
.k1_mb5 {margin-bottom:5px  !important;}
.k1_ml5 {margin-left:5px !important;}
.k1_mt7 {margin-top:7px;}
.k1_ml7 {margin-left:7px !important;}
.k1_mb7 {margin-bottom:7px !important;}
.k1_mt8 {margin-top:8px !important;}
.k1_ml8 {margin-left:8px !important;}
.k1_mr8 {margin-right:8px;}
.k1_ml9 {margin-left:9px !important;}
.k1_mt10 {margin-top:10px !important;}
.k1_mr10 {margin-right:10px;}
.k1_mb10 {margin-bottom:10px;}
.k1_ml10 {margin-left:10px !important;}

.k1_ml11 {margin-left:11px}
.k1_mt12 {margin-top:12px !important;}
.k1_ml12 {margin-left:12px !important;}
.k1_mr12 {margin-right:12px;}
.k1_mb12 {margin-bottom:12px;}
.k1_mt15 {margin-top:15px !important;;}
.k1_mr15 {margin-right:15px;}
.k1_mb15 {margin-bottom:15px;}
.k1_ml15 {margin-left:15px;}
.k1_ml17 {margin-left:17px !important;}
.k1_mr17 {margin-right:17px !important;}

.k1_mt20 {margin-top:20px !important;}
.k1_mr20 {margin-right:20px;}
.k1_mb20 {margin-bottom:20px;}
.k1_ml20 {margin-left:20px !important;}
.k1_ml22 {margin-left:22px;}
.k1_mr22 {margin-right:22px;}
.k1_ml23 {margin-left:23px;}
.k1_mr23 {margin-right:23px !important;}
.k1_mt25 {margin-top:25px !important;}
.k1_ml25 {margin-left:25px;}
.k1_mr25 {margin-right:25px;}
.k1_mt27 {margin-top:27px !important;}

.k1_mt30 {margin-top:30px !important;}
.k1_ml30 {margin-left:30px !important;}
.k1_ml34 {margin-left:34px;}
.k1_ml35 { margin-left:35px !important;}
.k1_ml38 {margin-left:38px;}

.k1_mr40 {margin-right:40px;}
.k1_mt40 {margin-top:40px !important;}
.k1_ml40 {margin-left:40px;}
.k1_mr42 {margin-right:42px !important;}

.k1_mt50 {margin-top:50px !important;}
.k1_ml52 {margin-left:52px;}
.k1_ml56 {margin-left:56px;}
.k1_ml57 {margin-left:57px;}
.k1_mt60 {margin-top:60px !important;}
.k1_ml87 {margin-left:87px;}
.k1_ml89 {margin-left:89px;}
.k1_ml125 {margin-left:125px;}
.k1_ml147 {margin-left:147px !important;}
.k1_ml150 {margin-left:150px;}
.k1_mr170{margin-left:170px;}

/* padding */
.k1_p0 {padding:0 !important}
.k1_pd9{padding-right:9px !important; padding-left:9px !important;}
.k1_pr0{padding-right:0 !important;}
.k1_pt0{padding-top:0 !important;}
.k1_p1 {padding:1px !important}

/*210305 add*/
.k1_p3 {padding:3px !important;}

.k1_p5 {padding:5px !important;}
.k1_p6 {padding:6px !important;}
.k1_p7 {padding:7px !important;}
.k1_p10 {padding:10px !important;}
.k1_p15 {padding:15px !important;}
.k1_p20 {padding:20px !important;}
.k1_pr2 {padding-right:2px;}
.k1_pt3 {padding-top:3px;}
.k1_pt5 {padding-top:5px !important;}
.k1_pr5 {padding-right:5px !important;}
.k1_pb5 {padding-bottom:5px !important;}
.k1_pl5 {padding-left:5px !important;}
.k1_pt7 {padding-top:7px !important;}
.k1_pt10 {padding-top:10px !important;}
.k1_pr10 {padding-right:10px !important;}
.k1_pb10 {padding-bottom:10px !important;}
.k1_pl10 {padding-left:10px !important;}
.k1_pt15 {padding-top:15px !important;}
.k1_pr15 {padding-right:15px !important;}
.k1_pb15 {padding-bottom:15px;}
.k1_pl15 {padding-left:15px !important;}
.k1_pr17 {padding-right:17px !important;}
.k1_pl18 {padding-left:18px !important;}
.k1_pt18 {padding-top:18px !important;}
.k1_pt20 {padding-top:20px;}
.k1_pr20 {padding-right:20px !important;}
.k1_pb20 {padding-bottom:20px !important;}
.k1_pl20 {padding-left:20px !important;}
.k1_pt25 {padding-top:25px !important;}
.k1_pl25 {padding-left:25px !important;}
.k1_pl30 {padding-left:30px !important;}
.k1_pr35 {padding-right:35px !important;}


/************************************************************************************************************
 height
************************************************************************************************************/
.k1_h65 {height:65px !important;}
.k1_h95 {height:95px !important;}
.k1_h198 {height:198px !important;}

/************************************************************************************************************
 width
************************************************************************************************************/
.k1_w15{width:15px;}
.k1_w20{width:20px;}
.k1_w25{width:25px;}
.k1_w30{width:30px !important;}
.k1_w33{width:33px !important;}
.k1_w35{width:35px;}
.k1_w38{width:38px;}
.k1_w40{width:40px !important;}
.k1_w45{width:45px;}
.k1_w47{width:47px;}
.k1_w50{width:50px !important;}
.k1_w55{width:55px !important;}
.k1_w60{width:60px !important;}
.k1_w65{width:65px !important;}
.k1_w70{width:70px !important;}
.k1_w72{width:72px !important;}
.k1_w73{width:73px !important;}
.k1_w74{width:74px !important;}
.k1_w75{width:75px !important;}
.k1_w76{width:76px !important;}
.k1_w77{width:77px !important;}
.k1_w80{width:80px !important;}
.k1_w85{width:85px !important;}
.k1_w87{width:87px;}
.k1_w90{width:90px !important;}
.k1_w95{width:95px;}
.k1_w93{width:93px;}
.k1_w98{width:98px;}
.k1_w100{width:100px !important;}
.k1_w103{width:103px;}
.k1_w106{width:106px;}
.k1_w110{width:110px;}
.k1_w115{width:115px !important;}
.k1_w118{width:118px !important;}
.k1_w120{width:120px !important;}
.k1_w122{width:122px !important;}
.k1_w125{width:125px;}
.k1_w127{width:127px !important;}
.k1_w130{width:130px !important;}
.k1_w132{width:132px;}
.k1_w135{width:135px;}
.k1_w140{width:140px;}
.k1_w142{width:142px !important;}
.k1_w145{width:145px;}
.k1_w148{width:148px !important;}
.k1_w150{width:150px !important;}
.k1_w155{width:155px;}
.k1_w160{width:160px;}
.k1_w170{width:170px;}
.k1_w180{width:180px;}
.k1_w185{width:185px;}
.k1_w195{width:195px;}
.k1_w200{width:200px;}
.k1_w225{width:225px;}
.k1_w240{width:240px;}
.k1_w250{width:250px;}
.k1_w280{width:280px;}
.k1_w300{width:300px;}
.k1_w400{width:400px;}
.k1_w440{width:440px;}
.k1_w580{width:580px;}

.k1_w10p{width:10%;}
.k1_w11p{width:11%;}
.k1_w15p{width:15%;}
.k1_w25p{width:25%;}
.k1_w27p{width:27%;}
.k1_w30p{width:30%;}
.k1_w35p{width:35%;}
.k1_w40p{width:40%;}
.k1_w45p{width:45%;}
.k1_w50p{width:50%;}
.k1_w55p{width:55%;}
.k1_w60p{width:60%;}
.k1_w65p{width:65%;}
.k1_w70p{width:70%;}
.k1_w75p{width:75%;}
.k1_w78p{width:78%;}
.k1_w80p{width:80%;}
.k1_w85p{width:85%;}
.k1_w87p{width:87%;}
.k1_w89p{width:89%;}
.k1_w90p{width:90%;}
.k1_w92p{width:92%;}
.k1_w95p{width:95%;}
.k1_w96p{width:96%;}
.k1_w97p{width:97%;}
.k1_w98p{width:98%;}
.k1_w99p{width:99%;}
.k1_w100p{width:100%;}

/************************************************************************************************************
 그리드 height
************************************************************************************************************/
.k1_gh55{height:54px;}
.k1_gh85{height:84px;}
.k1_gh90{height:89px;}
.k1_gh115{height:114px;}
.k1_gh116{height:116px;}
.k1_gh120{height:119px;}
.k1_gh124{height:124px;}
.k1_gh135{height:134px;}
.k1_gh145{height:144px;}
.k1_gh150{height:149px;}
.k1_gh163{height:162px;}
.k1_gh170{height:169px;}
.k1_gh185{height:185px;}
.k1_gh200{height:199px;}
.k1_gh215{height:214px;}
.k1_gh230{height:229px;}
.k1_gh260{height:259px;}
.k1_gh290{height:289px;}
.k1_gh297{height:296px;}
.k1_gh300{height:299px;}
.k1_gh334{height:334px;}
.k1_gh345{height:345px;}
.k1_gh495{height:492px;}
.k1_gh550{height:547px;}
.k1_gh580{height:576px;}
.k1_gh610{height:610px;}
.k1_gh635{height:635px;}
.k1_gh_m550{max-height:550px;}
/* input */
.k1_select_border {height:19px; border:1px solid #cfcfcf; color:#777; font-size:11px; line-height:12px;}
.k1_select_border2 {height:19px; border:1px solid #cfcfcf; color:#8a8a8a; font-size:12px;}
.k1_select_border_d {height:19px; border:1px solid #cfcfcf; background:#e5e5e5; color:#747474; line-height:12px;}

/***210305 add***/

.k1_select_border3 {height:35px; border:1px solid #cfcfcf;}

.k1_input_text {height:14px; padding:2px 2px 1px; border:1px solid #cfcfcf; color:#777; font-size:11px; line-height:14px;}/*B2C, B2B대표*/
.k1_input_text_r {height:14px; padding:2px 2px 1px; border:1px solid #cfcfcf; color:#777; font-size:11px; text-align:right; line-height:14px;}/* 금액-오른쪽 입력 */
.k1_input_text2 {height:14px; padding:2px 5px 1px; border:1px solid #e2e3ea; color:#8a8a8a; font-size:11px; line-height:14px;}
.k1_input_text4 {height:14px; padding:2px 5px 1px; border:1px solid #e2e3ea; color:#8a8a8a; font-size:11px; line-height:14px;}
.k1_input_text5 {height:14px; padding:2px 3px 1px; border:1px solid #abadb3; color:#8a8a8a; font-size:11px; line-height:14px;}
.k1_input_text_d {height:14px; padding:2px 2px 1px; border:1px solid #cfcfcf; background:#e5e5e5; color:#747474; line-height:14px;}
.k1_input_text_dr {height:14px; padding:2px 2px 1px; border:1px solid #cfcfcf; background:#e5e5e5; color:#747474; line-height:14px; text-align:right;}

.k1_text {/*position:relative;*/ padding:3px 4px; border:1px solid #cfcfcf;}
.k1_check, .k1_radio, .k1_input_check {padding:0; width:14px; height:14px; vertical-align:middle;}
.k1_textarea {padding:5px 0 5px 5px; border:#cfcfcf 1px solid; font-size:11px; color:#777; vertical-align:middle;}
.k1_textarea2 {padding:2px 0 2px 2px; border:#e2e3ea 1px solid; font-size:11px; color:#777; vertical-align:middle;}
.k1_textarea3 {padding:10px 0 10px 10px; border:#e2e3ea 1px solid; font-size:11px; color:#8a8a8a; vertical-align:middle;}
.k1_textarea4{padding:10px 0 10px 10px; border:#bfbfbf 1px solid; color:#8a8a8a; vertical-align:middle;}
.k1_textarea5 {padding:10px 0 10px 10px; border:#bfbfbf 1px solid; font-size:11px; vertical-align:middle;}

.k1_textbox {overflow-y:scroll; padding:4px; border:#e2e3ea 1px solid; font-size:11px; color:#777; vertical-align:middle; line-height:14px;}

/* 파일 첨부*/
.k1_file_input{position:relative; overflow:hidden; display:inline-block; vertical-align:middle;}
.k1_file_input2{position:static; overflow:hidden; display:inline-block; vertical-align:middle;}/* 큰 파일 버튼*/
.k1_input_hidden{position:absolute; right:2px; top:-2px; width:100%; height:100%; opacity:0; margin:0; padding:0; font-size:128px !important; cursor:pointer; z-index:1;  /*filter:alpha(opacity=0);*/ -ms-filter:"alpha(opacity=0)"; -khtml-opacity:0; -moz-opacity:0;}
.k1_bigbtn{overflow:hidden; right:10px; top:7px; width:70px; height:60px;}

/************************************************************************************************************
 skip_navi
************************************************************************************************************/
#k1_skipnavigation {position:relative; z-index:9999;}
#k1_skipnavigation a{position:absolute; display:inline-block; top:-50px; left:0; padding:5px 10px; background:#000; font-size:11px; letter-spacing:-1px; color:#fff; line-height:26px; text-align:center;}
#k1_skipnavigation a:active,
#k1_skipnavigation a:focus{top:0; text-decoration:none; cursor:pointer;}

/************************************************************************************************************
 오늘하루열지않기_레이어팝업(하단)
************************************************************************************************************/
.k1_today_close {background:#fff; border:1px solid #aaa; height:22px; line-height:22px;}
.k1_today_close .k1_fl {padding-left:10px; font-size:11px;}
.k1_today_close .k1_fr {padding-right:10px; font-size:11px;}


/************************************************************************************************************
 210305_폰트
************************************************************************************************************/

/**폰트사이즈**/
.k1_font14 {font-size:14px !important;}
.k1_font13 {font-size:13px !important;}
.k1_font11 {font-size:11px !important;}
.k1_font16 {font-size:16px !important;}
.k1_font12 {font-size:12px !important;}
.k1_font15 {font-size:15px !important;}
.k1_font18 {font-size:18px !important;}

/**폰트컬러**/
.k1_ColorG {color:#777;}
.k1_colorB {color:#357ddf;}
.k1_ColorBG {color:#555;}
.k1_ColorW {color:#fff !important;}
.k1_ColorDB {color:#235ba5 !important;}
.k1_ColorBL {color:#333;}

/**폰트두께**/
.k1_fontB {font-weight:bold;}

/************************************************************************************************************
 210305_배경색
************************************************************************************************************/

.k1_bgG {background-color:#f7f7f7 !important;}
.k1_bgB {background-color:#357ddf !important;}
.k1_bgDB {background-color:#195fbb !important;}
.k1_bgRB {background-color:#dcf0ff !important;}
.k1_bgDg {background-color:#7c7c7c !important;}
.k1_bgP {background-color:#084aaf !important;}
.k1_bg555 {background-color:#555 !important;}
.k1_bgDeB {background-color:#235bb9 !important;}

/************************************************************************************************************
 210310_이미지사이즈
************************************************************************************************************/

.k1_imgAir18 {width:18px; height:18px;}

/*************border-radius*****************/

.k1_borRa10 {border-radius:10px !important;}
.k1_borRa5 {border-radius:5px !important;}

/**********21.04.06 col width add ************/


.k1_col5 {width:5%;}
.k1_col7 {wdith:7%;}
.k1_col10 {width:10%;}
.k1_col15 {width:15%;}
.k1_col20 {width:20%;}
.k1_col25 {width:25%;}
.k1_col30 {width:30%;}
.k1_col35 {width:35%}
.k1_col40 {width:40%;}
.k1_colau {width:auto;}
.k1_col33 {width:33.3%;}

/*************border*****************/

.k1_borderB {border:1px solid #357ddf;}