@charset "utf-8";

@import '_pbase', '_pfont';

/* 메인 배너 */
.mainTopbanner{position:relative;width:100%;height:59px;text-align:center;background:$col_pointB;
	.bandBanner_info{width:1136px;margin:0 auto;
		> a{display:block;height:100%;text-align:center;
			span{position:relative;display:inline-block;height:100%;padding-left:24px;color:$col_white;font-weight:$weight600;line-height:59px;background:url(#{$img_url}/common/ico_topBanner.png) no-repeat 0 50%}
		}
	}
	.btn_close{@extend %textHidden;position:absolute;top:4px;right:0;width:52px;height:52px;
		&:after{@include pseudo(12px,12px);background:url(#{$img_url}/common/spr_layout.png) no-repeat -69px -26px}
	}
	//& + header nav .quickSearchWrap .laySearch{top:45px}
	& + header nav .quickSearchWrap .laySearch{top:-59px}
}

/* pattern */
.frmList{display:flex;margin:0 -10px;font-size:0;flex-wrap:wrap;
	> li{width:50%;padding:8px 10px;flex-direction:row;vertical-align:top;
		.inpFrm{display:flex;flex-shrink:0;}
		.titLab{flex:0 0 112px;vertical-align:top;
			small{display:inline-block;padding-left:4px;color:$col_p600;font-size:rem(12px);font-weight:$weight400}
		}
		&.inpFull{width:100%;}
		.txtInfo{margin-left:112px}
	}
	&.typePop{margin-top:32px;
		> li label{flex:0 0 128px}
	}
	&.typeWide02{
		.titLab{flex:0 0 136px;}
	}
	&.frmListP{margin-top:24px;
		> li{
			.inpFrm{flex-direction:column;
				label{flex:0 0 100%;margin-bottom:8px;line-height:19px;}
			}
		}
	}
}

/* banner */
.bannerType{overflow:hidden;display:block;font-size:0;border-radius:16px;
	figure{position:relative;overflow:hidden;border-radius:16px;
		img{position:relative;left:50%;margin-left:-568px}
	}
}
.swiperWrap.swiperEvent .swiper-wrapper .swiper-slide .bannerType figure img{width:auto;left:0;margin:0}

/* 검색 레이어 */
.kf_innerWhite{text-align:center;background:$col_white;z-index:99;}
.kf_laySearch{position:relative;width:1136px;margin:0 auto;
	.kf_inner{position:relative;z-index:100;background:$col_white;
		.kf_search{display:none;position:relative;width:1136px;margin:0 auto;text-align:left;font-size:0;border-right:1px solid $col_g200;
			&.searchON{display:block}
			.kf_area{position:relative;display:inline-block;width:424px;height:100%;min-height:326px;margin-left:-1px;padding:48px 0 24px 39px;border-left:1px solid $col_g200;border-right:1px solid $col_g200;vertical-align:top;
				.btLocation{position:relative;display:block;width:calc(100% - 40px);height:48px;padding:0 50px 0 40px;color:$default_col;font-size:rem(16px);text-align:left;border-radius:8px;border:1px solid $col_g200;
					&:after{@include pseudo(18px,18px);left:13px;margin-left:0;background:url(#{$img_url}/common/spr_ico.png) no-repeat -12px 0}
					strong{color:$col_g800;font-weight:$weight600}
					.engName{display:inline-block;padding-left:5px;color:$default_col}
					&.inpBlock{display:none;
						& + .searchIcon{display:block;
							&:before{background-position:-47px -30px}
						}
					}
					& + .searchIcon{display:none}
				}
				.searchIcon{margin-right:40px;
					&:before{background-position:-85px -30px}
					input{display:block;width:100%}
					&.inpFocus:before{background-position:-66px -30px}
				}
				.titDep4{margin-bottom:22px;font-weight:$weight700}
				.kf_scrollArea{position:relative;overflow:auto;overflow-x:hidden;height:370px;padding-right:20px}
				&.areaTit{position:static;width:288px;padding-left:0;border-left:none;			
					.icoArr{position:absolute;bottom:24px;left:0}
				}
				.titDep2{font-family:NanumSquareR;font-weight:$weight900;
					&:after{content:'';display:inline-block;width:4px;height:4px;margin:0 0 13px 2px;border-radius:50%;background-color:$col_pointR}
				}
				&.kf_areaSel{border-right:0;
					&:after{content:'';display:block;position:absolute;bottom:0;left:0;width:100%;height:48px;z-index:100;
						background:transparent;
						background-image: linear-gradient(rgba($col_white,0), $col_white 50%);
					}
					.kf_scrollArea{height:418px;padding-right:40px}
				}
				&.kf_areaDate{width:848px;padding:0 28px}
				&.kf_areaLevel{padding-right:40px;border-right:0}
			}
			&.kf_date{
				.kf_area.areaTit.areaTitMulti .kf_scrollArea{height:485px}
			}
			&.kf_arrival{
				.kf_area.areaTit.areaTitMulti .kf_scrollArea{height:418px}
			}
			&.kf_level{
				.kf_area.areaTit.areaTitMulti .kf_scrollArea{height:auto;max-height:504px}
			}
		}
	}
}
.laySearch{
	.closeL{@extend %textHidden;position:absolute;top:16px;right:56px;width:64px;height:64px;border-radius:50%;z-index:4;
		&:after{@include pseudo(24px,24px);background:url(#{$img_url}/common/spr_layout.png) no-repeat -168px 0;}
	}
	.dimmed{display:block;top:165px;opacity:0;z-index:0}
}
.quickSearchList{position:relative;padding:63px 0 0;text-align:center;background:$col_g100;z-index:3}
.searchBtns{display:block;font-size:0;text-align:center;
	> li{display:inline-block;padding:0 12px 5px;
		> a{display:block;position:relative;width:80px;height:80px;border-radius:16px;background:$col_white;font-size:0;
			&:after{@include pseudo(32px,32px);background:url(#{$img_url}/common/spr_layout.png) no-repeat}
			&[aria-selected=true]{background:$col_p600;box-shadow: 0 8px 16px 0 rgba(35, 0, 104, 0.16);
				&:before{content:'';display:block;position:absolute;bottom:-3px;left:50%;width:9px;height:9px;margin-left:-4px;border-radius:3px;@include prefix(transform,rotate(45deg) skew(8deg, 8deg));background:$col_p600;z-index:100}
			}
		}
		&.btAir a{
			&:after{background-position:0 -98px}
			&[aria-selected=true]:after{background-position:0 -64px}
		}
		&.btRent a{
			&:after{background-position:-34px -98px}
			&[aria-selected=true]:after{background-position:-34px -64px}
		}
		&.btStay a{
			&:after{background-position:-68px -98px}
			&[aria-selected=true]:after{background-position:-68px -64px}
		}
		&.btFood a{
			&:after{background-position:-102px -98px}
			&[aria-selected=true]:after{background-position:-102px -64px}
		}
		&.btCafe a{
			&:after{background-position:-170px -98px}
			&[aria-selected=true]:after{background-position:-170px -64px}
		}
		&.btTrip a{
			&:after{background-position:-136px -98px}
			&[aria-selected=true]:after{background-position:-136px -64px}
		}
	}
}

.k1_section_multi{display:none;margin:40px 0 0 0;padding:0;text-align:center;background:none;
	.kf_innergray{position:relative;width:1136px;margin:0 auto;padding-bottom:45px;font-size:0;text-align:left;}
	&.sectionON{display:block}
	.kf_flightInner{position:relative;display:inline-block;margin-left:16px;height:96px;
		.k1_flight_panel{position:relative;display:inline-block;border-radius:16px;border:1px solid $col_white;background:$col_white;box-shadow: 0 8px 16px 0 rgba($col_g900, 0.08);}
		.k1_area{float:left;width:226px;padding:25px 23px 16px 23px;text-align:left;
			.tit{display:block;font-size:rem(14px);line-height:1.16;}
			button{display:block;width:100%;height:37px;border:none;color:$col_g500;font-size:rem(18px);text-align:left;
				strong{display:inline-block;color:$col_g900;font-size:rem(18px)}
				.engName{display:inline-block;padding-left:5px;color:$default_col;font-size:rem(18px)}
			}
			&.destination{margin-left:32px;padding-left:18px}
		}
		&.kf_flightDate, &.kf_flightInfo{
			.k1_flight_panel .k1_area strong{font-weight:$weight700}
		}
		&.kf_flightDate{
			.k1_area{width:276px}
		}
		&.kf_flightInfo{
			.k1_area{width:232px}
		}
		.k1_icon{@extend %textHidden;position:absolute;top:50%;left:50%;width:42px;height:42px;margin:-21px 0 0 -21px;
			&:after{@include pseudo(32px,32px);background:url(#{$img_url}/common/spr_air.png) no-repeat}
			&.i2:after{background-position:-32px 0}
		}
		&:first-child{margin-left:0}
		&.selectON .k1_flight_panel{border:1px solid $col_p600;
		}
	}
	.k1_btn_price_search{position:absolute;top:0;right:0;width:96px;height:96px;color:$col_white;font-size:rem(18px);font-weight:$weight700;text-align:center;line-height:96px;border-radius:16px;background:$col_primary}
}
.k1_flight_list{margin-top:32px;
	.titDep4{margin-bottom:13px}
	.k1_country_list{display:flex;flex-wrap:wrap;margin:-10px -10px 0 -10px;
		> li{position:relative;flex:0 0 calc(100% / 4);padding:15px 10px 0 10px;text-align:center;
			input{position:absolute;top:0;left:0;z-index:100;width:100%;height:100%;cursor:pointer;
				&:checked + label{z-index:100;
					figure{
						&:after{display:block;}
						&:before{display:block;}
					}
				}
			}
			label{position:relative;display:block;font-size:rem(14px);z-index:2;
				figure{position:relative;overflow:hidden;margin-bottom:6px;border-radius:50%;
					img{width:100%}
					&:after{content:'';display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba($col_primary, 0.6);z-index:1;opacity:0;animation:chkAni 0.5s}
					&:before{@include pseudo(18px,18px);display:none;background:url(#{$img_url}/common/spr_ico.png) no-repeat -66px 0;z-index:2;opacity:0;animation:chkAni 0.5s}
				}
				@keyframes chkAni{
					0%{opacity:0}
					30%{opacity:1}
					70%{opacity:1}
					100%{opacity:0}
				}
			}
		}
	}
}
.frmChkAni{
	> li{
		input:checked + label{color:$default_col;border-color:$col_g200;background:$col_white;animation:labelAni 0.5s}
	}
}
@keyframes labelAni{
	0%{color:$default_col;border-color:$col_g200;background:$col_white}
	30%{color:$col_p600;border-color:$col_p300;background-color:$col_p100}
	70%{color:$col_p600;border-color:$col_p300;background-color:$col_p100}
	100%{color:$default_col;border-color:$col_g200;background:$col_white}
}

.toggleCityList{padding-bottom:30px;
	.acctItem{margin-top:16px}
	.toggleBtn{height:53px;padding-left:0;line-height:53px;}
}

.kf_interBanner{margin:32px 0 0;
	a{display:block;height:72px;color:$col_white;font-size:rem(18px);font-weight:$weight700;line-height:72px;text-align:center;border-radius:12px;background:url(#{$img_url}/air/bg_interBanner.jpg) no-repeat;
		em{color:#0A628A}
	}
	&.type02{margin-top:0;
		.titDep4{margin-bottom:23px}
		a{height:48px;line-height:48px;font-size:rem(16px);font-weight:$weight600;background-image:url(#{$img_url}/air/bg_interBanner02.jpg)}
	}
}

.k1_destination_list{margin-top:14px;
	a{display:block;padding:6px 0;font-size:0;
		.destName{display:inline-block;font-size:rem(14px);font-weight:$weight600;}
		.infoAirport{display:inline-block;margin-left:8px;
			strong, span{font-size:rem(14px)}
			strong{color:$col_g900;font-weight:$weight400}
			span{padding-left:5px;color:$col_g600;
				&.engCode{
					&:before{content:'·';padding-right:3px}
				}
			}
		}
		.resultTxt{color:$col_redP;font-size:rem(14px)}
	}
}

//날짜 선택
.swiperCalendar{padding:48px 0;
	//.swiper-wrapper .swiper-slide{width:50%}
	[class^=swiper-button-]{top:33px;margin:0;background:$col_white;
		&:after{@include pseudo(18px,18px);background:url(#{$img_url}/common/spr_ico.png) no-repeat -180px 0}
		&.swiper-button-next{@include prefix(transform,rotate(180deg));}
		&.swiper-button-disabled{opacity:0.4}
	}
	&.swiperCalenTypeEtc{
		.k1_calendar_wrap .k1_board_mcal td{position:relative;height:48px}
	}
	&.swiperCalendarP{padding:0;margin:0 -10px;
		[class^=swiper-button-]{top:-16px;
			&.swiper-button-prev{left:-5px}
			&.swiper-button-next{right:-5px}
		}
		.k1_calendar_wrap{padding:0}
	}
}
.k1_calendar_wrap{width:100%;padding:0 20px;z-index:10;
	.k1_sel_month{margin-bottom:16px;padding:0;color:$col_g900;font-size:rem(18px);font-weight:700;line-height:1.1;text-align:center;background:none}
	& + .k1_calendar_wrap{margin-top:40px}
	.k1_board_mcal{overflow:hidden;border:none;
		thead th{height:34px;padding:0;border:none;color:$default_col;text-align:center;background:none;
			&:first-child{color:$col_redP}
		}
		td{position:relative;height:64px;padding-top:12px;text-align:center;vertical-align:top;line-height:1.5;border:none;font-weight:400;
			a{position:relative;display:inline-block;width:32px;height:32px;margin-top:-6px;border-radius:50%;line-height:32px;z-index:3}
			.txt{position:absolute;top:-21px;left:50%;width:auto;height:21px;padding:0 8px;color:$col_primary;font-size:12px;font-weight:$weight600;line-height:21px;border:1px solid $col_p400;border-radius:8px;z-index:2;box-sizing:border-box;background:$col_white;white-space:nowrap;@include prefix(transform,translateX(-50%));z-index:4;
				&:after{content:'';display:block;position:absolute;bottom:-3px;left:50%;width:3px;height:3px;margin-left:-3px;border:solid $col_p400;border-width:0 1px 1px 0;background:$col_white;@include prefix(transform,rotate(45deg));z-index:3}
			}
			.price{display:block;margin-top:2px;font-size:rem(11px);text-align:center;
				&.lowPrice{color:$col_p600}
			}
			&.today a{color:$col_primary;background:$col_p100}
			&.off{color:$col_g400;
				.price{display:none}
			}
			&.start{
				a{color:$col_white;background:$col_p600;						
					//&:after{content:'';display:block;position:absolute;top:29px;left:50%;height:24px;padding:0;border:1px solid $col_primary;border-radius:8px;}
				}
				&.end:before{display:none}	
			} 
			&.end{
				a{color:$col_white;background:$col_p600}
				//&:before{content:'';display:block;position:absolute;top:8px;right:50%;left:0;height:32px;background:$col_p100;z-index:1}
			}
			&.range{
				a{color:$col_p600;z-index:2}
				&:before{content:'';display:block;position:absolute;top:6px;left:-50%;right:-50%;height:32px;background:$col_p100;z-index:1}
			}
		}
		.sun a{color:$col_redP}
	}
}

.kf_laySearch .kf_inner .kf_search .kf_area.kf_areaDate.kf_areaCalendar{
	.swiperCalendar{padding:45px 0}
	.k1_calendar_wrap .k1_board_mcal td{height:48px;padding-top:0;vertical-align:middle}
}
.kf_laySearch .kf_inner .kf_search .kf_area.kf_areaTerm{padding-right:40px;
	.selectWrap{width:100%;}
}

//탑승인원 및 좌석 등급 선택
.kf_laySearch .kf_inner .kf_search .kf_area{
	&.kf_areaNum{padding-right:40px;padding-bottom:0}
}
.k1_passenger{padding:0;border:none;background:none;
	li{position:relative;float:none;width:auto;margin-top:32px;
		&:first-child{margin-top:0;
			.setting{margin:0}
		}
		&:nth-child(2) .caption{padding-left:0}
		.caption{color:$col_g900;font-weight:$weight700;font-size:rem(16px);
			.desc{position:static;display:block;padding:0;font-size:rem(14px);letter-spacing:inherit}
		}
		.setting{position:absolute;top:6px;right:0;display:inline-block;height:32px;margin:0 !important;white-space:nowrap;border:none;
			button{float:left;width:32px;height:32px;
				.k1_icon{@extend %textHidden;position:relative;display:block;width:32px;height:32px;margin:0;border:1px solid $col_g200;border-radius:50%;background:$col_white;
					&:after{@include pseudo(12px,12px);background:url(#{$img_url}/common/spr_ico.png) no-repeat -198px 0}
				}
				&.plus .k1_icon:after{background-position:-212px 0}
				&:disabled .k1_icon:after{opacity:0.25}
			}
			input{float:left;border:none;width:36px;height:32px;min-width:auto;color:$col_g900;font-size:rem(18px);font-weight:$weight700;line-height:32px;padding:0;text-align:center;border-radius:0;font-family:inherit}
		}
	}
}
.acctAging{margin:32px -40px 0 -39px;padding:24px 40px 27px;background:$col_g100;
	
	.inpFrm{position:relative;display:block;padding:0;margin:0;
		.titLab{display:block;width:auto;margin-bottom:8px;color:$col_g900;font-size:rem(14px);font-weight:$weight600;line-height:1.2}
		.inpA{width:100%;
			input{min-width:auto;width:100%;}
			.btnDefault{display:block !important;flex:0 0 72px;min-width:auto;padding:0;}
		.icDel{top:2px;right:83px;}
		}		
	}
	.listType01{margin-top:6px;
		> li{margin-top:3px;color:$col_g600;font-size:rem(14px)}
	}

	.txtInfo{margin-top:16px;padding-top:3px;border-top:1px dashed $col_g300}	
}
//다구간
.kf_laySearch .kf_inner .kf_search .kf_area.areaTit.areaTitMulti{
	.kf_scrollArea{padding-right:39px;height:413px;}
	.btnDefault{width:100%;display:block;margin-top:20px;
		& + .multiTrip{margin-top:65px}
	}
}
.multiTrip{margin-top:32px;
	.boxArea{position:relative;margin-top:8px;padding:15px;border-radius:12px;border:1px solid $col_g200;
		.tit{display:block;margin-bottom:8px;color:$col_g900;font-size:rem(14px);line-height:1;font-weight:$weight600}
		.btTrip{position:relative;display:inline-block;height:40px;margin-top:6px;padding:0 34px 0 15px;border-radius:8px;background:$col_g100;font-size:0;
			&:after{content:'';display:block;position:absolute;top:50%;right:16px;width:5px;height:5px;margin-top:-5px;border:solid $col_g500;border-width:0 0 2px 2px;@include prefix(transform,rotate(-45deg) skew(3deg, 3deg));}
			> span{position:relative;display:inline-block;height:40px;color:$col_g800;font-size:rem(14px);font-weight:$weight600;line-height:40px;color:$col_g800;
				&.default{color:$col_g500}
			}
			&.default{padding-right:15px;
				&:after{display:none}
			}
			&.place > span{
				& + span{padding-left:20px;
					&:before{@include pseudo(14px,6px);left:3px;margin-left:0;background:url(#{$img_url}/common/spr_air.png) no-repeat -64px -68px}
				}
				span{display:inline-block;height:40px;padding-left:3px;color:$default_col;font-weight:$weight400;font-size:rem(14px);line-height:40px;
				}
			}
		}
		.del{@extend %textHidden;position:absolute;top:12px;right:12px;width:24px;height:24px;
			&:after{@include pseudo(12px,12px);background:url(#{$img_url}/common/spr_ico.png) no-repeat}
		}
		&.planIng{border-color:$col_p400;
			.tit{color:$col_p600}
		}
	}
}

//달력 온보딩
.layerOnboarding{width:614px;margin-left:-307px;
	.layContainer{padding:0 !important;max-height:none}
	.poponBoarding{position:absolute;top:24px;left:24px;z-index:100}
}
.swiperOnboarding{padding-bottom:40px;
	.swiper-slide{flex-direction:column;text-align:center;
		figure{padding-top:77px;background:$col_g200;}
		.onBoardInfo{padding:32px 0;text-align:center;background:$col_white;
			.tit{margin-bottom:16px;color:$col_g900;font-size:rem(22px);font-weight:$weight700;line-height:1.2;
				em{color:$col_p600;font-size:rem(22px);font-weight:$weight700;line-height:1.2;}
			}
			.txt{display:block;
				em{color:$col_g900;font-weight:$weight600}
			}
		}
	}
}

//렌트카
.k1_section_multi.section_rent{
	.kf_flightInner{width:276px;
		.k1_flight_panel{display:block;
			.k1_area{float:none;width:100%}
		}
		&.kf_rentcarTime{width:244px}
		&.kf_rentcarCondition{width:212px}
		&.kf_rentcarDriver{width:244px}
	}
	.kf_time .kf_area{min-height:auto;height:220px;padding:48px 39px 24px;
		.selectWrap{width:100%}
	}
	.kf_carCondition .kf_area{min-height:auto;height:293px;padding:48px 39px 24px;
		.frmBox label img{vertical-align:-3px;margin-right:3px}
	}
	.kf_driverCondition .kf_area{min-height:auto;height:220px;padding:48px 39px 24px;}
}



//숙박
.k1_section_multi.section_stay{
	.kf_flightInner{width:276px;
		.k1_flight_panel{display:block;
			.k1_area{float:none;width:100%}
		}
		&.kf_stayDestination{width:440px}
	}
	.kf_staySearch{
		.kf_area{min-height:auto;height:400px}
		.kf_destinationList{width:847px;
			.searchIcon.staySearch{display:block;
				&:before{background-position:-85px -30px}
				&.inpFocus:before{background-position:-66px -30px}
			}
			.kf_scrollArea{overflow:visible;height:auto}
			.quick_resultList{margin-top:15px;
				> li{
					> a{position:relative;display:block;padding:9px 0 9px 30px;font-size:rem(14px);
						em{color:$col_redP;font-size:rem(14px)}
						.txt{color:$col_g900;font-weight:$weight600;font-size:rem(14px);
							em{font-weight:$weight600}
						}
						.city{color:$col_g600;font-size:rem(14px)}
						&:before{@include pseudo(18px,18px);left:0;margin-left:0;background:url(#{$img_url}/common/spr_ico.png) no-repeat -85px -30px}
					}
					&.stay a:before{background-position:-105px -30px}
					&.hotplace a:before{background-position:-125px -30px}
					&.keyword a:before{background-position:-145px -30px}
				}
			}
		}
	}
	.kf_serchPersons{
		.kf_area{height:400px;}
		.kf_persons{width:847px;padding:48px 39px 24px;
			.scriptScroll{max-height:242px;margin-right:-39px;padding-right:39px}
			.passengerArea{position:relative;
				.k1_passenger{font-size:0;
					> li{display:inline-block;width:calc(50% - 24px);margin-right:24px;
						& + li{margin:0 0 0 24px}
					}
				}
				.btDel{position:absolute;top:27px;right:-5px;color:$col_g600;font-size:rem(14px);height:32px;padding:0 5px;line-height:32px}
				& + .passengerArea{margin-top:30px;padding-top:30px;border-top:1px dashed $col_g300}
			}
			
			.btnShadow{position:relative;padding-top:30px;z-index:1000;
				/*&:before{content:'';display:block;position:absolute;bottom:48px;left:0;width:100%;height:50px;background-image: linear-gradient(to top, $col_white, rgba($col_white, 1) 40%, rgba($col_white, 0));z-index:1000}*/
				.btnDefault{display:block;width:100%;box-shadow:0 -45px 20px rgba($col_white, 0.8);}
			}
		}
	}
}

//맛집/카페
.k1_section_multi.section_food, .k1_section_multi.section_cafe, .k1_section_multi.section_trip{
	.kf_innergray{width:600px;margin:0 auto}
	.kf_food, .kf_cafe, .kf_hotSpot{width:100%;height:64px;
		.inpA{width:520px;margin-right:16px;
			input{height:64px;line-height:64px;border-radius:16px;padding:0 60px 0 24px;color:$col_g900;font-size:rem(18px);font-weight:$weight700;box-shadow: 0 8px 16px 0 rgba($col_g900, 0.08);
				&::-webkit-input-placeholder{font-size:rem(18px);font-weight:$weight700}
				&:-ms-input-placeholder{font-size:rem(18px);font-weight:$weight700}
				&::-ms-input-placeholder{font-size:rem(18px);font-weight:$weight700}
				&::placeholder{font-size:rem(18px);font-weight:$weight700}
			}
			.icDel{top:9px;right:7px;}
		}
		.icoSearch{width:64px;height:64px;border-radius:16px;box-shadow: 0 8px 16px 0 rgba($col_g900, 0.08);
			&:after{width:20px;height:20px;margin:-10px 0 0 -10px;background-position:-455px 0}
		}
	}
	.kf_search_cafe{
		.kf_area{height:449px}
		.kf_cafeLocal{padding:46px 39px 24px;}
	}
}
.localList{display:flex;flex-wrap:wrap;margin:-20px -10px 0 -10px;
	> li{position:relative;flex:0 0 calc(100% / 4);padding:15px 0 0 0;text-align:center;
		input{position:absolute;top:0;left:0;z-index:100;width:100%;height:100%;cursor:pointer;
			&:checked + label{z-index:100;
				figure{
					&:after{display:block;}
					&:before{display:block;}
				}
			}
		}
		label{position:relative;display:block;font-size:rem(14px);z-index:2;letter-spacing:-0.01em;
			figure{position:relative;overflow:hidden;margin-bottom:6px;border-radius:50%;margin:0 10px 6px;
				img{width:100%}
				&:after{content:'';display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba($col_primary, 0.6);z-index:1;opacity:0;animation:chkAni 0.5s}
				&:before{@include pseudo(18px,18px);display:none;background:url(#{$img_url}/common/spr_ico.png) no-repeat -66px 0;z-index:2;opacity:0;animation:chkAni 0.5s}
			}
			@keyframes chkAni{
				0%{opacity:0}
				30%{opacity:1}
				70%{opacity:1}
				100%{opacity:0}
			}
		}
	}
}
.frmChkAni{
> li{
	input:checked + label{color:$default_col;border-color:$col_g200;background:$col_white;animation:labelAni 0.5s}
	}
	@keyframes labelAni{
	0%{color:$default_col;border-color:$col_g200;background:$col_white}
	30%{color:$col_p600;border-color:$col_p300;background-color:$col_p100}
	70%{color:$col_p600;border-color:$col_p300;background-color:$col_p100}
	100%{color:$default_col;border-color:$col_g200;background:$col_white}
	}
}

.wordArea{position:relative;
	.titDep4{margin-bottom:8px !important}
	.btDel{position:absolute;top:-2px;right:0;display:inline-block;padding:5px 16px 5px 5px;color:$col_g600;font-size:rem(14px);
		&:after{@include pseudo(12px,12px);left:auto;right:0;margin-left:0;background:url(#{$img_url}/common/spr_ico.png) no-repeat 0 -12px}
	}
	.wordList{font-size:0;margin-left:-8px;
		> li{position:relative;display:inline-block;margin:8px 0 0 8px;
			a{display:block;height:36px;padding:0 28px 0 15px;color:$col_p600;font-size:rem(14px);font-weight:$weight600;line-height:36px;border-radius:36px;background:$col_p100}
			.icoDel{@extend %textHidden;position:absolute;top:50%;right:8px;width:20px;height:20px;margin-top:-10px;
				&:after{@include pseudo(12px,12px);background:url(#{$img_url}/common/spr_ico.png) no-repeat 0 -24px}
			}
		}
		&.tagList{
			> li{
				a{height:40px;padding:0 15px;color:$col_g600;font-weight:$weight400;line-height:38px;border:1px solid $col_g200;background:$col_white}
				&.selON a{color:$col_white;font-weight:$weight600;border-color:$col_p600;background:$col_p600}
			}
		}
	}
	& + .wordArea{margin-top:28px}
}

//트립
.kf_laySearch .kf_search.kf_trip{height:490px;
	.kf_area{width:848px;padding:48px 0 24px 14px;
		&:after{content:'';display:block;position:absolute;bottom:0;left:0;width:100%;height:48px;z-index:100;
			background:transparent;
			background-image: linear-gradient(rgba($col_white,0), rgba($col_white,0.2) 40%, $col_white 80%);
		}
		.kf_scrollArea{height:100%;padding-right:13px}
		&.areaTit{
			.btnDefault{position:absolute;bottom:48px;left:0;width:240px}
		}
		
	}
}
.quickTripList{margin:0 -4px;
	> li{overflow:hidden;float:left;width:25%;padding:8px;
		> a{position:relative;overflow:hidden;display:block;border-radius:8px;padding-top:100%;
			img{position:absolute;top:0;left:0;width:100%}
		}
		&.tripCase01{width:50%}
		&.tripCase11{float:right;width:50%}
		&.movie{
			a{
				&:before{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba($col_black, 0.5)}
				&:after{@include pseudo(42px,42px);background:url(#{$img_url}/common/spr_ico.png) no-repeat -240px -26px}
			}

		}
	}
}

.toggleCityList{
	.acctItem{margin-top:16px}
	.toggleBtn{height:53px;padding-left:0;line-height:53px;}
}

// slider
.fp_slideArea{position:relative;
	.slideValue{position:relative;height:24px;
		span{position:absolute;top:0;color:$col_g600;font-size:rem(14px);
			&.minValue{left:0}
			&.maxValue{right:0}
		}
	}
	.fp_slideInp{display:flex;margin-top:16px;
		input:read-only{width:100%;font-size:rem(14px);text-align:right}
		.dash{flex:0 0 18px;align-items:center;justify-content:center;text-align:center;line-height:48px;}
	}
}
.slider{position:relative;height:24px;margin:0 9px;padding:0 9px;
	&:after{content:'';display:block;position:absolute;top:0;left:-9px;right:-9px;height:100%;border-radius:24px;background:$col_p100}
	.ui-slider-range{position:absolute;top:3px;bottom:3px;height:18px;background:$col_p400;z-index:100;}
	.ui-slider-handle{display:inline-block;position:absolute;top:3px;width:18px;height:18px;margin-left:-9px;border-radius:50%;background:$col_primary;touch-action:none;z-index:102;
		& + .ui-slider-handle{margin-left:-9px;
			&:before{left:auto;right:-4px}
		}
		&:after{@include pseudo(8px,8px);border-radius:50%;background:$col_white}
		
	}
}

//플래그
.flagList{margin-bottom:12px}
.flag{display:inline-block;height:22px;margin-right:1px;padding:0 8px;color:$col_r800;font-size:rem(12px);font-weight:$weight600;line-height:22px;border-radius:6px;background:$col_r100;
	&.envi{color:$col_s800;background:$col_s100}
	&.fly{color:$col_s800;background:$col_s100}
	&.jejuOnly{color:$col_p600;background:$col_p100}
	&.special{color:$default_col;background:$col_g100}
	&.hot{color:$col_r800;background:$col_r100}
	&.traveler{color:$col_p600;background:$col_p100}
	&.resident{color:$col_s800;background:$col_s100}
	&.flagNew{color:$col_r800;background:$col_r100}
	&.flagBest{color:$col_p600;background:$col_p100}
}

//nodata
.noData{padding:128px 0 126px;text-align:center;
	.tit{padding-top:70px;color:$col_g900;font-size:rem(18px);font-weight:$weight700;background:url(#{$img_url}/common/bg_noData.png) no-repeat 50% 0}
	.subTxt{display:block;margin-top:8px}
	.btnArea{position:relative;display:block;margin-top:32px}
}

//list
.sideList{
	> li{display:flex;padding:4px 0;
		.tit, .contR{width:100%}
		.contR{color:$col_g900;font-weight:$weight600;text-align:right}
		&.total{
			.tit{color:$col_g900;}
			.contR{color:$col_p600;font-size:rem(18px)}
		}
		&.totalB{margin-top:14px;padding-top:16px;border-top:1px dashed $col_g300;
			.tit{color:$col_g900 !important;font-weight:$weight700 !important}
			.contR{color:$col_p600 !important;font-weight:$weight700 !important}
		}
	}
	&.typeReceipt{
		> li{
			.tit{color:$col_g800;font-weight:$weight600}
			.contR{color:$default_col;font-weight:$weight400}
			&.totalT{padding-bottom:17px;margin-bottom:16px;border-bottom:1px dashed $col_g300;
				.tit{color:$col_g900;font-size:rem(18px);font-weight:$weight700}
				.contR{color:$col_g900;font-size:rem(18px);font-weight:$weight700}
			}
		}
	}
	&.recPoint{
		> li{
			.contR{color:$col_g800;font-weight:$weight600}
			&.subCont{padding-top:0;
				.tit{position:relative;padding-left:12px;color:$col_g600;font-size:rem(14px);font-weight:$weight400;
					&:before{content:'';display:block;position:absolute;top:50%;left:0;width:5px;height:6px;margin-top:-8px;border:solid $col_g300;border-width:0 0 1px 1px}
				}
				.contR{color:$col_g600;font-weight:$weight400;font-size:rem(14px);}
			}
			&.pointR{
				.contR{color:$col_redP !important}
			}
			&.lineT{margin-top:17px;padding-top:20px;border-top:1px dashed $col_g300;}
			&.total{
				.tit{font-size:rem(18px);font-weight:$weight700}
				.contR{font-size:rem(18px);font-weight:$weight700}
			}
		}
	}
}

.agreeList{margin-top:18px;padding-top:6px;border-top:2px dotted $col_g300;
    li{margin-top:15px;
        .viewBtn{position:absolute;top:1px;right:-8px;width:24px;height:24px;z-index:2;
            &:after{@include pseudo(12px,12px);background:url(#{$img_url}/common/spr_ico.png) no-repeat -205px -30px}
        }
    }
    &.toggleList .acctItem{
        & > .frmInp{position:absolute;
            & + .toggleBtn{height:22px;line-height:22px;
                &:after{right:3px;margin-top:-6px;border-color:$col_g500}
            }
        }
        .toggleCont .chk-group{display:block;padding-top:10px;
            .frmInp.txt{display:inline-block;margin-left:28px;
                & + .frmInp.txt{margin-left:16px}
            }
        }
    }
    & + .listType01{margin:16px 0 -4px}
}

/* alert/confirm */
.alertBox{position:fixed;top:0;left:0;width:100%;height:100%;z-index:110;
	&:after{content:'';display:block;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba($col_black, 0.8);z-index:1}
	.alertInner{position:absolute;top:50%;left:20px;right:20px;padding:20px;text-align:center;border-radius:12px;background:$col_white;z-index:10;@include prefix(transform,translateY(-50%));
		.titAlert{padding:24px 0 10px;color:$col_g900;font-size:rem(18px);font-weight:$weight700;line-height:1.16}
		.txtAlert{line-height:1.46}
		.alertBtns{display:flex;margin:30px -4px 0;
			.btnDefault{margin:0 4px;}
		}
		.closeA{@extend %textHidden;position:absolute;top:4px;right:4px;width:56px;height:56px;
			&:after{@include pseudo(26px,26px);background:url(#{$img_url}/common/spr_layout.svg) no-repeat -84px 0} 
		}
	}
}

//결제수단
.kf_selPayment{
	> li{padding:24px 0;border-top:1px dashed $col_g200;
		&:first-child{border-top:0}
		.payDetailCont{display:none;padding:24px 0 0 32px;
			.grayBox{position:relative;
				p.listType02{margin-top:0}
				.btLink{position:absolute;top:50%;right:24px;margin-top:-17px;color:$col_g900;font-size:rem(16px);font-weight:$weight600;text-decoration:underline}
			}
			.couponList{margin-top:24px;
				> li{position:relative;margin-top:16px;padding-left:128px;
					&:first-child{margin-top:0}
					.kf_titPay{position:absolute;top:0;left:0;width:128px;height:56px;color:$col_g900;font-weight:$weight700;line-height:56px;}
					.kf_downloadWrap{overflow:hidden;position:relative;width:100%;margin:4px 0;
						&:before{@include pseudo(8px,8px);left:auto;right:52px;top:-6px;margin:0;border:1px solid $col_g200;border-radius:50%;background:$col_white;z-index:1}
						&:after{@include pseudo(8px,8px);left:auto;right:52px;top:auto;bottom:-6px;margin:0;border:1px solid $col_g200;border-radius:50%;background:$col_white;z-index:1}
						.tit{@include ellipsis(1, 56px);padding:0 56px 0 24px;color:$col_g900;font-weight:$weight700;line-height:56px;border:1px solid $col_g200;border-radius:16px;background:$col_g100;}
						.kf_couponNum{position:absolute;top:0;right:56px;height:100%;padding-right:24px;color:$col_p600;font-weight:$weight700;border-right:1px dashed $col_g300;line-height:56px;}
						.link{position:absolute;top:0;right:0;width:56px;height:56px;z-index:1;
							span{@extend %textHidden;position:relative;display:block;width:100%;height:100%;
								&:after{@include pseudo(6px,6px);margin-left:-5px;border:solid $col_g600;border-width:2px 2px 0 0;@include prefix(transform,rotate(45deg));}
							}							
						}
						&.noneCoupon{
							.kf_couponNum{color:$col_g600}
						}
						&.couponApply{
							.couponUser{position:absolute;top:17px;left:16px;
								span{display:inline-block;position:relative;color:$col_g600;font-size:rem(13px);
									& + span{padding-left:11px;
										&:before{content:'';display:block;position:absolute;top:50%;left:4px;width:1px;height:12px;margin-top:-6px;background:$col_g200}
									}
								}
							}
							.tit{padding:0 180px 0 111px}
							.kf_couponPrice{position:absolute;top:0;right:56px;height:100%;padding-right:24px;color:$col_redP;font-weight:$weight700;border-right:1px dashed $col_g300;line-height:56px}
							.icDel{position:absolute;top:1px;right:0;width:56px;height:56px;z-index:1;
								&:after{@include pseudo(12px,12px);background-position:0 -12px}
							}
						}
					}
					.boxPoint{position:relative;display:inline-block;width:308px;height:48px;padding:0;line-height:48px;border:1px solid $col_g200;border-radius:8px;background:$col_g100;
						.tit{position:absolute;top:0;left:16px;line-height:48px;}
						.txtPoint{display:block;padding-right:16px;text-align:right;line-height:48px;font-weight:$weight400;text-decoration:underline}
					}
					.kf_chargePoint{position:relative;display:inline-block;width:308px;height:48px;margin-left:4px;line-height:48px;border:1px solid $col_g200;border-radius:8px;
						label{position:absolute;top:0;left:16px}
						input{text-align:right;border:0;width:100%;background:none}
					}
				}
			}
			.btPointPay{position:relative;display:block;width:100%;height:56px;margin-top:16px;padding:0 24px;color:$col_g900;font-weight:$weight700;line-height:56px;text-align:left;border-radius:16px;border:1px solid $col_p400;background:$col_p100;
				em{color:$col_p600;font-weight:$weight700}
				&:after{content:'';display:block;position:absolute;top:50%;right:24px;width:7px;height:7px;margin-top:-5px;border:solid $col_g800;border-width:2px 2px 0 0;@include prefix(transform,rotate(45deg));}
			}
			.frmList{margin:8px -20px 0;
				>li{margin:0 20px;
					.titLab{flex:0 0 136px}
					&.liHalf{width:calc(50% - 40px);}
					.inpFrm{
						&.inpPidNum{
							.inpA{display:flex;
								> input{flex:0 220px}
								.dash{flex:0 16px;line-height:48px;text-align:center}
								.inpPidAfter{flex:0 calc(50% - 8px);
									input{width:42px;display:inline-block;margin-right:8px}
								}
							}
						}	
					}
				}
			}
			/*
			.kf_pointCharge{margin-top:16px;
				> .acctItem{
					.toggleBtn{height:56px;padding:0 24px;font-weight:$weight700;line-height:56px;border-radius:16px;border:1px solid $col_p400;background:$col_p100;
						&:after{right:24px}
						em{color:$col_p600;font-weight:$weight700}
						&[aria-expanded=true]{border-radius:16px 16px 0 0;border-bottom:none}
					}
					.toggleCont{overflow:hidden;padding:8px 23px 24px 23px;border-radius:0 0 16px 16px;border:1px solid $col_p400;border-top:none;
						.kf_chargePay{position:relative;
							> li{display:flex;padding:24px 0;border-top:1px dashed $col_g200;
								&:first-child{border-top:none}
								.kf_titPay{flex:0 0 128px;color:$col_g800;font-weight:$weight600}
								.inpArea{position:relative;width:574px;
									&:after{content:'';display:block;clear:both}
									input{width:100%;text-align:right}
									.kf_priceBtns{display:inline-block;float:right;width:300px;margin:8px -2px 0;font-size:0;
										.inpPay{position:relative;width:62px;height:32px;margin:0 2px;font-size:rem(14px);border:1px solid $col_g300;border-radius:32px;background:$col_white}
										.btIco{position:relative;width:32px;height:32px}
									}
									.listType02{display:inline-block}
								}
							}
						}
						.sideList{padding-top:20px;border-top:1px dashed $col_g200;
							.tit{color:$col_g800;font-weight:$weight600}
							.contR{color:$col_g800;font-weight:$weight600}
							.charge{
								.contR{color:$col_p600;}

							}
						}
					}
				}
			}
			*/
		}
		.inpAcct[aria-expanded=true] + .payDetailCont{display:block}
	}
}
.swiperWrap.swiperAccount{overflow:visible;width:100%;
	.swiper-slide{overflow:visible;width:248px;flex-direction:column;
		.kf_cardWrap{position:relative;border-radius:12px;box-shadow: 0 8px 16px 0 rgba($col_black, 0.08);
			img{width:100%;border-radius:12px;}
			.acctName{position:absolute;top:20px;left:20px;color:$col_white;font-size:rem(13px);opacity:0.8}
			.kf_accountInfo{position:absolute;bottom:20px;left:20px;color:$col_white;font-size:rem(13px);
				span{display:block;color:$col_white;font-size:rem(15px);}
				strong{color:$col_white;font-size:rem(16px);font-weight:$weight600}
			}
		}
		.kf_applyCont{display:block;display:flex;height:100%;border:1px solid $col_g200;border-radius:12px;background:$col_g100;flex-direction:column;align-items:center;justify-content:center;
			strong{position:relative;margin-top:16px;padding-top:30px;color:$col_g800;font-size:rem(15px);
				&:before{@include pseudo(24px,24px);top:0;margin-top:0;background:url(#{$img_url}/common/spr_ico.png) no-repeat -430px 0}
			}
			span{display:block;color:$col_g600;font-size:rem(14px)}
		}
	}
}

//할인쿠폰(L)
.kf_couponListL{margin-top:15px;
	>li{position:relative;margin-top:12px;background:$col_white;
		&:first-child{margin-top:0}
		input{position:absolute;top:20px;left:20px;z-index:1;
			&:checked + label{
				&:before{border-color:$col_p400;}
				.inner{
					&:before, &:after{border-color:$col_p400}
				}				
				.chkArea{border-color:$col_p400;background:$col_p100;
					&:after{border-color:$col_p600}
				}
			}
			&:disabled + label .inner{
				*{opacity:0.6}
				.typePoint{opacity:1}
			}
			
		}
		
		label{overflow:hidden;position:relative;display:block;border-radius:16px;z-index:2;
			&:before{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;border-radius:16px;border:1px solid $col_g200;z-index:2;box-sizing:border-box}
			.inner{position:relative;padding:20px 70px 20px 20px;
				&:before{content:'';display:block;position:absolute;top:-8px;right:52px;width:16px;height:16px;border:1px solid $col_g200;border-radius:50%;background:$col_white;z-index:2}
				&:after{content:'';display:block;position:absolute;bottom:-8px;right:52px;width:16px;height:16px;border:1px solid $col_g200;border-radius:50%;background:$col_white;z-index:2}
			}
			
			strong.titCoupon{@include ellipsis(2, auto);margin-bottom:8px;padding:0;color:$col_g900;font-size:rem(20px);border:none;line-height:1.2}
			.txtTerm{font-size:rem(14px)}
			.couponInfo{margin-top:12px;color:$col_g600;font-size:rem(13px);line-height:1.4}
			.chkArea{position:absolute;top:1px;right:1px;display:block;width:60px;height:calc(100% - 2px);border-left:1px dashed $col_g200;border-radius:0 16px 16px 0;background:$col_white;z-index:1;
				&:after{@include pseudo(11px,6px);border:solid $col_g400;border-width:0 0 2px 2px;@include prefix(transform,rotate(-45deg) skewY(3deg));}
			}
			.typePoint{color:$col_redP;
				&:before{background-position:-226px -13px}
			}
		}
	}
}

/* 게시판 목록 */
.listCont{margin-top:16px;padding-top:5px;border-top:1px dashed $col_g300;
    li{
        a{display:block;padding:20px 0;border-bottom:1px solid $col_g200;
            > p{@include ellipsis(1, auto);position:relative;color:$col_g900;font-size:rem(16px);font-weight:$weight600;line-height:1.5;
                img{position:absolute;bottom:4px;width:auto;margin-left:4px;}
            }
        }
    }
}
.sortingList{margin-top:4px;
    p{display:inline-block;position:relative;margin-right:6px;padding-left:7px;color:$col_g600;font-size:rem(14px);line-height:1.57;
        &:before{content:'';position:absolute;top:5px;left:0;width:1px;height:12px;background:$col_g200}
		&:first-child{padding-left:0;
			&:before{display:none}
		}
    }
	.ansComp{color:$col_p600}
}

//지도로 보기 팝업
.layerMap{left:0;top:104px;width:100%;height:calc(100% - 104px);border-radius:0;background:$col_white;transform:none;
	&:after{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:8px;opacity:0.05;background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));z-index:100}
	.layContainer{position:relative;height:100%;max-height:inherit;padding:0 0 0 423px;z-index:1}
	.leftCont{position:absolute;top:0;left:0;width:423px;height:100%;padding:32px 24px;background:$col_white;z-index:100;
		&.scriptScroll>.scroll-element.scroll-y{bottom:10px}
		.titDep2{margin-bottom:56px}
		.searchIcon input{width:100%}
		.k1_quick_search{position:relative;overflow:hidden;position:relative;border-radius:12px;border:1px solid $col_g200;
			.k1_flight_panel{height:auto;background:none;
				> li{position:relative;float:none;width:auto !important;height:auto !important;padding:0;border-top:1px solid $col_g200;
					&:before{@include pseudo(18px,18px);left:16px;margin-left:0;background:url(#{$img_url}/common/spr_air.png) no-repeat -216px 0}
					> button{position:relative;width:100%;height:56px;padding-left:46px;line-height:56px;text-align:left;				
						strong{display:inline-block;color:$col_g800;font-size:rem(16px);font-weight:$weight700}
						.engName{display:inline-block;margin-left:6px;color:$default_col;font-size:rem(16px);line-height:56px;}
						
						&.k1_inpBlock{display:none;
							& + input{display:block}
						}
					}
					&.departure{
						&:before{background-position:-236px 0}
					}
					input{display:none;border:none;height:56px;padding-left:46px;line-height:56px;color:$col_g900;font-size:rem(18px);font-weight:$weight700}
					&:first-child{border-top:none}
				}
				
			}
			.k1_icon{@extend %textHidden;position:absolute;top:50%;right:16px;width:40px;height:40px;margin-top:-20px;background:url(#{$img_url}/common/spr_air.png) no-repeat -174px 0}
		}
		.fp_slideArea{padding:18px 20px;
			&:before{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:86px;border-radius:8px 8px 0 0;background:$col_g100;}
			.slider{margin-top:5px}
			.slideValue span{font-size:rem(12px)}
			.slider:after{background:$col_white}
			.fp_slideInp{position:relative;margin:30px -20px 0;z-index:2;
				input:read-only{font-size:rem(14px)}
			}
		}
		.frmBox{margin-top:12px}
	}
	.mapCont{overflow:hidden;position:relative;width:100%;height:100%;		
		.cateWrap{position:absolute;top:32px;left:455px;z-index:10;font-size:0;
			.frmInp{margin-right:8px;
				label{height:32px;padding:0 11px 0 34px;color:$col_g400;font-size:rem(14px);font-weight:$weight600;border-radius:8px;line-height:32px;background:$col_white;
					&:after{display:none;}
					&:before{content:'';display:block;position:absolute;top:50%;left:12px;width:18px;height:18px;margin-top:-9px;border:none;border-radius:0;background:url(#{$img_url}/food/spr_kind.png) no-repeat 0 -20px;}
				}
				&.pass label:before{background-position:-18px -20px}	
				&.trip label:before{background-position:-36px -20px}	
				&.stay label:before{background-position:-52px -20px}
				&.food input:checked + label{color:$col_p600;
					&:before{background-position:0 0}
				}
				&.pass input:checked + label{color:$col_secondary;
					&:before{background-position:-18px 0}
				}
				&.trip input:checked + label{color:$col_r600;
					&:before{background-position:-36px 0}
				}
				&.stay input:checked + label{color:#ff8800;
					&:before{background-position:-52px 0}
				}
			}
		}
		.mapArea{width:100%;height:100%;
		}
		.viewListWrap{position:relative;display:inline-block;
			&:hover{
				.btView{margin-top:-5px;
					&:after{width:14px;height:14px;bottom:-27px;margin-left:-6px}
				}
			}
			&:after{@include pseudo(7px,7px);top:auto;bottom:-4px;border-radius:2px 0 2px 0 ;border:solid $col_p400;border-width:0 1px 1px 0;background:$col_white;@include prefix(transform,rotate(45deg));z-index:2}
			.btView{position:relative;display:block;padding:10px 12px;border-radius:16px;border:1px solid $col_p400;background:$col_white;z-index:2;transition:0.1s;
				&:after{content:'';display:block;position:absolute;bottom:-22px;left:50%;margin-left:-5px;width:12px;height:12px;border-radius:50%;border:2px solid $col_white;background:$col_secondary;box-sizing:border-box;box-shadow:0 5px 5px rgba($col_black, 0.1);transition:0.1s;}
				.city{display:block;color:$col_g800;font-size:rem(14px);font-weight:$weight600;line-height:1.2}
				.price{display:block;color:$col_p600;font-size:rem(16px);line-height:1.2}
			}
		}
	}
	.closeL{top:32px;right:32px;width:48px;height:48px;border-radius:50%;background:$col_white;box-shadow: 0 8px 16px 0 rgba($col_g900, 0.1)}
}

.searchCondList{margin-top:16px;
	> li{margin-top:32px;
		&:first-child{margin-top:0}
		.tit{margin-bottom:12px;color:$col_g800;font-size:rem(16px);font-weight:$weight600;line-height:1.2;}
		.inpA{margin-top:10px;
			input:read-only{width:100%;background:$col_white}
		}
	}
	& + .titDep3{margin-top:62px}
}
.resultArea{overflow:auto;height:calc(100% - 32px);margin:16px -17px 0 0;padding-right:17px}
.mapSearchList{
	> li{margin-top:12px;
		&:first-child{margin-top:0}
		a{position:relative;display:block;min-height:166px;padding:23px;border:1px solid $col_g200;border-radius:12px;box-sizing:border-box;font-size:0;
			&[aria-selected=true]{border-color:$col_p600}
			figure{overflow:hidden;position:relative;display:inline-block;width:120px;height:120px;border-radius:12px;
				&:after{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-image: linear-gradient(269deg, #000 99%, #000 99%, rgba($col_black, 0) 1%);opacity:0.09}
				img{position:absolute;top:-25%;bottom:-25%;width:150%;margin:auto}
				.closed{position:absolute;top:50%;left:50%;padding:0 9px;color:$col_white;font-size:rem(12px);line-height:24px;border-radius:6px;background:$default_col;@include prefix(transform,translate(-50%, -50%));}
				& + .inner{width:calc(100% - 120px)}
			}
			.inner{position:relative;display:inline-block;width:100%;min-height:120px;padding:3px 0 0 18px;vertical-align:top;
				.titDep4{@include ellipsis(1, 26px);display:block;padding-right:20px;}
				.tagWrap{@include ellipsis(1, 24px);
					.tag{display:inline-block;font-size:rem(16px)}
				}
				.locationInfo{display:block;margin-top:6px;
					span{position:relative;display:inline-block;padding:0 7px 0 8px;
						&:before{content:'';display:block;position:absolute;top:50%;left:0;width:1px;height:12px;margin-top:-6px;background:$col_g200}
						&:first-child{padding-left:0;
							&:before{display:none}
						}
					}
				}
				.conUtil{position:absolute;bottom:0;left:18px}
				.kind{@extend %textHidden;position:absolute;top:7px;right:-5px;width:18px;height:18px;background:url(#{$img_url}/food/spr_kind.png) no-repeat;
					&.cafe{background-position:-18px 0}	
					&.trip{background-position:-36px 0}	
					&.stay{background-position:-52px 0}	
			}
			}
		}
	}
}
.pop_seatLevel{
	.titDep4{margin-top:32px;
		&:first-child{margin-top:0}
	}
	.k1_passenger{margin-top:24px}
	.acctAging{margin:24px 0 27px;padding:24px;border-radius:12px}
}

.layerMapList{display:none;position:absolute;top:104px;left:-423px;width:423px;height:calc(100% - 104px);background:$col_white;z-index:10000;
	.titSearch{overflow:hidden;height:150px;
		.tit{position:absolute;top:90px;left:24px;z-index:100;
			strong, span{color:$col_white}
			strong{display:inline-block;font-size:rem(18px)}
			.country{display:inline-block;padding-left:8px;font-size:rem(14px)}
		}
		figure{position:relative;height:150px;
			&:after{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba($col_black, 0.32)}
			img{position:absolute;top:50%;left:0;width:100%;@include prefix(transform, translateY(-50%));}
		}
	}
	.layContainer{height:calc(100vh - 240px);margin-top:-14px;padding:14px 0;border-radius:12px 12px 0 0;background:$col_white;
		.listSearch{
			> li{
				> a{position:relative;display:block;padding:24px;border-top:1px solid $col_g200;
					&:after{@include pseudo(12px,12px);left:auto;right:24px;margin-left:0;background:url(#{$img_url}/common/spr_ico.png) no-repeat -205px -30px}
					.date{display:block;color:$col_g900;font-size:rem(14px)}
					.price{font-size:rem(14px);
						strong{display:inline-block;color:$col_p600}
					}
				}
				&:first-child a{border-top:none}
			}
		}
	}
	.closeL{@extend %textHidden;position:absolute;top:0;right:0;width:48px;height:48px;
		&:after{@include pseudo(24px,24px);background:url(#{$img_url}/common/spr_layout.png) no-repeat -142px 0}
	}
}

//로딩
.loading{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba($col_p600, 0.9);z-index:10000;
	.loadingInner{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);text-align:center;
		.loadingAni{display:inline-block;width:96px;}
		.loadingTxt{margin-top:20px;color:$col_white;font-size:rem(20px);font-weight:$weight700;text-align:center}
	}
	.loadingAD{position:absolute;bottom:64px;left:50%;width:1136px;height:64px;margin-left:-568px;color:$col_white;font-size:rem(18px);text-align:center;line-height:64px;border-radius:12px;background:$col_p800}
}

//에러페이지
.errorWrap{display:flex;align-items:center;justify-content:center;width:560px;height:calc(100vh - 332px);margin:0 auto;flex-direction:column;text-align:center;
	.titError{display:block;width:100%;margin-bottom:10px;color:$col_g900;font-size:rem(26px);font-weight:900;font-family:$fontEXB;padding-top:158px;text-align:center;background:url(#{$img_url}/common/img_error404.png) no-repeat 50% 0;}
	.txterror{font-size:rem(18px)}
	.btnArea{display:flex;width:100%;margin:62px -4px 0;
		.btnDefault{width:100%;min-width:auto;display:block}
	}
}

/* 크로스셀링 팝업 */
.layContainer.crossSel{padding-top:44px;
    .contentTit{color:$col_g900;font-size:rem(18px);font-weight:$weight700;text-align:center;
        span{color:$col_p600;font-size:rem(18px);font-weight:$weight700}
    }
    .subTit{margin-top:6px;text-align:center}
    .recommendData{position:relative;margin-top:21px;padding:24px 24px 0;border-radius:12px;border:1px solid $col_g200;
        .recName,.recPrice{display:block;color:$col_g900;font-weight:$weight700}
        .recPrice{margin:3px 0 6px;font-size:rem(18px)}
        .recDetail,.recInfo{display:inline-block;vertical-align:middle}
        .recDetail{color:$col_g800;font-size:rem(14px);font-weight:$weight600}
        .recInfo{margin-left:4px;
            li{float:left;position:relative;color:$col_g600;font-size:rem(14px);
                +li{padding-left:13px;
                    &:before{content:'';position:absolute;top:4px;left:6px;width:1px;height: 14px;background:$col_g200}
                }
            }
        }
        .recTime{overflow:hidden;margin:20px -24px 0;height:56px;line-height:56px;padding:0 23px;font-size:rem(14px);color:$col_g600;background:$col_g100;border-radius:0 0 12px 12px;
            .timeFlag{float:right;margin-top:16px;padding:6px 8px;color:$col_white;font-size:rem(12px);font-weight:$weight600;line-height:1;background:$col_p500;border-radius:6px}
        }
    }
    .couponList{margin-top:21px}
    .welcomePoint{overflow:hidden;margin-top:21px;padding:16px 24px 15px 24px;border:1px solid $col_g200;border-radius:12px;
        >span{font-weight:$weight700}
        .pointName{float:left;color:$col_g900}
        .pointAmount{float:right;color:$col_p600}
    }
    .keywords{margin-top:21px;font-size:0;
        >a{padding:0 12px;line-height:30px;border-radius:16px}
    }
}

.pageMove{margin-top:56px;text-align:center;
    &.type01{margin-top:32px}
    .btnView{overflow:hidden;display:inline-block;position:relative}
    a{float:left;width:32px;height:32px;margin:0 6px;font-weight:$weight600;text-align:center;line-height:32px;
        &.prev,&.next{@extend %textHidden;position:relative;width:12px;height:32px}
        &.prev{margin:0;margin-right:5px;
            &:before{content:'';position:absolute;top:50%;left:0;width:9px;height:14px;margin-top:-7px;background:url(#{$img_url}/common/spr_ico.png) no-repeat -208px -29px;@include prefix(transform,rotate(180deg))}
        }
        &.next{margin:0;margin-left:5px;
            &:before{content:'';position:absolute;top:50%;left:0;width:9px;height:14px;margin-top:-7px;background:url(#{$img_url}/common/spr_ico.png) no-repeat -208px -29px}
        }
        &.num.now{color:$col_white;border-radius:50%;background:$col_p600}
    }
}

// height:1080이하
@media screen and (max-height:1080px) {
	.quickSearchList{padding-top:30px}
	.k1_section_multi .kf_innergray{padding-bottom:30px}
	.laySearch .closeL{bottom:15px}
	.kf_laySearch .kf_inner .kf_search .kf_area{min-height:auto}
	.kf_laySearch .kf_search.kf_trip{height:422px}
	.kf_laySearch .kf_inner .kf_search .kf_area .kf_scrollArea{height:350px}
	.kf_laySearch .kf_inner .kf_search .kf_area.kf_areaSel .kf_scrollArea{height:398px}
	.wrapper.headFixed header nav .quickSearchWrap .laySearch .quickSearchList{padding-top:30px}
}

@media screen and (min-width:1236px) {
	.laySearch .closeL{left:50%;right:auto;margin-left:568px}
}