@charset "utf-8";

.k1_pop_wrap{position:absolute;top:106px;left:0;z-index:1001;width:100%;min-width:280px;}
.k1_pop{margin:0 20px;background-color:#fff;}
.k1_pop h3{position:relative;padding:13px 20px;background-color:#EB2727;font-size:1.28rem;color:#FFF;}
.k1_pop h3 .k1_btn{position:absolute;top:12px;right:18px;height:auto;padding-top:0;border:none;background-color:transparent;}
.k1_pop .cont{padding:20px;font-size:1.02rem;line-height:1.2;}
.k1_pop .cont ul li strong{display:block;padding-bottom:13px;border-bottom:1px dotted #666;color:#222;}
.k1_pop .cont ul li strong .desc{display:block;margin-top:6px;font-size:0.94rem;color:#947642;}
.k1_pop .cont ul li strong.no-bdr{padding-bottom:0;border-bottom:none;}
.k1_pop .cont ul li.ord{position:relative;margin-top:13px;padding-left:17px;}
.k1_pop .cont ul li.ord .k1_num{position:absolute;top:0;left:0;}

.k1_pop h4{margin-bottom:10px;font-size:1.2rem;}
.k1_pop .k1_accordion .accd-view {padding:0px;}
.k1_pop .k1_accordion h3 {background-color: #DDD;}

ol.k1_statue_list7{margin:0px;padding:0px}
ol.k1_statue_list7 li{position:relative;list-style:none; padding-left:15px}
ol.k1_statue_list7 li:after{content:"";display:block;clear:both;}
ol.k1_statue_list7 li em{position:absolute;top:0px;left:0px; font-style:normal}
ol.k1_statue_list7 li p{line-height:1.2rem}
a.k1_btn_p_close2{display:none}

/* 160726_항공사별 초과 수하물 정보 */
ul.k1_baggage_info {margin:0; padding:0;}
ul.k1_baggage_info li {width:48%; display:inline-block; height:24px; line-height:24px; vertical-align:middle; padding-left:3px; margin-right:-4px;}
ul.k1_baggage_info li:nth-child(1), ul.k1_baggage_info li:nth-child(2) {border-top:1px solid #d7d7d7;}
ul.k1_baggage_info li:nth-child(n) {border-left:1px solid #d7d7d7;}
ul.k1_baggage_info li:nth-last-child(n) {border-right:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7;}
ul.k1_baggage_info li a {display:inline-block; width:100%;}
ul.k1_baggage_info li a:hover {font-weight:bold; color:#3775c7; letter-spacing:-1px;}

/*****21.03.29 add*******/

.k1_pop .cont .title_box {background-color:#3f3f3f; border-radius:5px; text-align:center; padding:3px 10px; display:inline-block; color:#fff;}

/*****21.03.31 add******/
 
.k1_pop2 {position:fixed; top:0; width:100%; z-index:9999; height:100%; overflow-x:auto;}
.k1_pop2 h3 {position:relative;}
.k1_pop2 h3 a {position:absolute; right:20px; top:12px;}

/*비행상세 팝업 콘텐츠 스크롤 처리 21.07.29 eslee*/
div.k1_pop_wrap.cont_scrl{top:10px !important;}
div.k1_pop_wrap.cont_scrl .cont{height: calc(100vh - 110px); overflow: auto}