@charset "utf-8"; 

/* ------------------------------------------------------------------------------------
Basic Style Sheet (for version 4 browsers)

version: 0.1
author: 박수연
email: suudjin@nate.com
설명: 공통

--------------------------------------------------------------------------------------- */

/* k1_btn 인쇄하기등*/
.k1_btn,
.k1_btn span{background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif);}
.k1_btn{display:inline-block; position:relative; padding-right:4px; background-position:right -203px; vertical-align:middle;}
.k1_btn span{display:block; height:14px; padding:5px 3px 4px 25px; background-position:left -203px; color:#696969; font-size:12px;}
.k1_btn em{display:block; position:absolute; top:22%; left:7px; height:13px; width:13px; background:url(/air/wfw/imgs/btn/btn_file.png) no-repeat; vertical-align:middle;}
a.k1_btn:hover{text-decoration:none !important;}

/* 아이콘 활성화 */
em.ico1 {background-position:0 0;}
em.ico2 {background-position:-103px 0;}
em.ico3 {background-position:-26px 0;}
em.ico4 {background-position:-39px 0;}
em.ico5 {background-position:-65px 0;}
em.ico6 {background-position:-90px 0;}
em.ico7 {background-position:-77px 0;}
em.ico8 {background-position:-52px 0;}
em.ico9 {background-position:-117px 0;}
em.ico10 {background-position:-130px 0;}
em.ico11 {background-position:-145px 0;}
em.ico12 {background-position:-159px 0; height:15px; top:17%;}
em.ico13 {background-position:-173px 0; height:15px; width:14px; top:17%;}
em.ico14 {background-position:-188px 0; width:15px;}

/* 아이콘 비활성화 */
em.ico1_off {background-position:0 -16px;}
em.ico2_off {background-position:-103px -16px;}
em.ico3_off {background-position:-26px -16px;}
em.ico4_off {background-position:-39px -16px;}
em.ico5_off {background-position:-65px -16px;}
em.ico6_off {background-position:-90px -16px;}
em.ico7_off {background-position:-77px -16px;}
em.ico8_off {background-position:-52px -16px;}
em.ico9_off {background-position:-117px -16px;}
em.ico10_off {background-position:-130px -16px;}

/************************************************************************************************************
 k1_htlbtn_01
************************************************************************************************************/
.k1_htlbtn_01,
.k1_htlbtn_01 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); color:#fff; line-height:14px; font-weight:bold; white-space:nowrap; cursor:pointer; vertical-align:middle;}
.k1_htlbtn_01{display:inline-block; position:relative; height:34px; padding-right:2px; background-position:right top;}
.k1_htlbtn_01 span{display:block; height:15px; padding:10px 29px 9px 40px; background-position:left top;}
.k1_htlbtn_01 button,
.k1_htlbtn_01 input{display:block; height:34px; border:0 none; padding:10px 29px 9px 40px; background-position:left top;}
.k1_htlbtn_01 em{display:block; position:absolute; top:13px; left:30px; height:7px; width:6px; background:url(/air/wfw/imgs/htlC/btn/htl_btn_icon.gif) no-repeat;  line-height:14px; vertical-align:middle;}
.k1_htlbtn_01 em.ico1 {background-position:0 0;}
a.k1_htlbtn_01:hover{text-decoration:none !important;}

/************************************************************************************************************
 k1_htlbtn_02
************************************************************************************************************/
.k1_htlbtn_02,
.k1_htlbtn_02 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); color:#fff; line-height:14px; font-weight:bold; white-space:nowrap; cursor:pointer; vertical-align:middle;}
.k1_htlbtn_02{display:inline-block; position:relative; height:48px; padding-right:2px; background-position:right -92px;}
.k1_htlbtn_02 span{display:block; height:15px; padding:17px 20px 16px 30px; background-position:left -92px;}
.k1_htlbtn_02 button,
.k1_htlbtn_02 input{display:block; height:48px; border:0 none; padding:17px 20px 16px 30px; background-position:left -92px;}
.k1_htlbtn_02 em{display:block; position:absolute; top:20px; left:20px; height:7px; width:6px; background:url(/air/wfw/imgs/htlC/btn/htl_btn_icon.gif) no-repeat; vertical-align:middle;}
.k1_htlbtn_02 em.ico1 {background-position:0 0;}
a.k1_htlbtn_02:hover{text-decoration:none !important;}

/************************************************************************************************************
 k1_htlbtn_03
************************************************************************************************************/
.k1_htlbtn_03,
.k1_htlbtn_03 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); color:#fff; line-height:14px; font-weight:bold; white-space:nowrap; cursor:pointer; vertical-align:middle;}
.k1_htlbtn_03{display:inline-block; height:29px; padding-right:2px; background-position:right -226px;}
.k1_htlbtn_03 span{display:block; height:14px; padding:8px 18px 7px 20px; background-position:left -226px;}
.k1_htlbtn_03 button,
.k1_htlbtn_03 input{display:block; height:29px; border:0 none; padding:8px 18px 7px 20px; background-position:left -226px;}
.k1_htlbtn_03 span.w100{width:90px; padding:8px 4px 7px 6px; text-align:center;}
.k1_htlbtn_03 button.w100,
.k1_htlbtn_03 input.w100{width:100px; text-align:center;}
a.k1_htlbtn_03:hover{text-decoration:none !important;}

/************************************************************************************************************
 k1_htlbtn_03_off
************************************************************************************************************/
.k1_htlbtn_03_off,
.k1_htlbtn_03_off *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); color:#fff; line-height:14px; font-weight:bold; white-space:nowrap; cursor:pointer; vertical-align:middle;}
.k1_htlbtn_03_off{display:inline-block; height:29px; padding-right:2px; background-position:right -255px;}
.k1_htlbtn_03_off span{display:block; height:14px; padding:8px 18px 7px 20px; background-position:left -255px;}
.k1_htlbtn_03_off button,
.k1_htlbtn_03_off input{display:block; height:29px; border:0 none; padding:8px 18px 7px 20px; background-position:left -255px;}
.k1_htlbtn_03_off span.w100{width:90px; padding:8px 4px 7px 6px; text-align:center;}
.k1_htlbtn_03_off button.w100,
.k1_htlbtn_03_off input.w100{width:100px; text-align:center;}
a.k1_htlbtn_03_off:hover{text-decoration:none !important;}

/************************************************************************************************************
 k1_htlbtn_04
************************************************************************************************************/
.k1_htlbtn_04,
.k1_htlbtn_04 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); font-size:12px; cursor:pointer; vertical-align:middle; line-height:12px; color:#fff; font-weight:bold;}
.k1_htlbtn_04{display:inline-block; height:27px; padding-right:2px; background-position:right -303px; text-align:center;}
.k1_htlbtn_04 span{display:block; height:13px; padding:8px 8px 6px 10px; background-position:left -303px;}
.k1_htlbtn_04 button,
.k1_htlbtn_04 input{display:block; height:27px; border:0 none; padding:6px 8px 6px 10px; background-position:left -303px;}
a.k1_htlbtn_04:hover{text-decoration:none !important;}
.k1_htlbtn_04 span.w80{width:80px;}
.k1_htlbtn_04 button.w80,
.k1_htlbtn_04 input.w80{width:98px;}

/************************************************************************************************************
 k1_htlbtn_05
************************************************************************************************************/
.k1_htlbtn_05,
.k1_htlbtn_05 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); font-size:12px; cursor:pointer; vertical-align:middle; line-height:1.2em; color:#fff;}
.k1_htlbtn_05{display:inline-block; position:relative; height:20px; padding-right:10px; background-position:right -347px; text-align:center;}
.k1_htlbtn_05 span{display:block; height:14px; padding:3px 8px 3px 28px; background-position:left -347px;}
.k1_htlbtn_05 button,
.k1_htlbtn_05 input{display:block; height:20px; border:0 none; padding:4px 8px 2px 28px; background-position:left -347px;}
a.k1_htlbtn_05:hover{text-decoration:none !important;}
.k1_htlbtn_05 em{display:block; position:absolute; top:5px; left:17px; height:9px; width:6px; background:url(/air/wfw/imgs/htlC/btn/htl_btn_icon.gif) no-repeat; vertical-align:middle;}
.k1_htlbtn_05 em.ico{background-position:-56px 0;}
.k1_htlbtn_05 strong{background:none; vertical-align:top;}

/************************************************************************************************************
 k1_htlsbtn_01
************************************************************************************************************/
.k1_htlsbtn_01,
.k1_htlsbtn_01 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); color:#696969; line-height:14px; font-weight:bold; white-space:nowrap; cursor:pointer; vertical-align:middle;}
.k1_htlsbtn_01{display:inline-block; position:relative; height:21px; padding-right:2px; background-position:right -34px;}
.k1_htlsbtn_01 span{display:block; height:14px; padding:4px 10px 3px 12px; background-position:left -34px;}
.k1_htlsbtn_01 button,
.k1_htlsbtn_01 input{display:block; height:21px; border:0 none; padding:4px 10px 3px 12px; background-position:left -34px; color:#696969;}
a.k1_htlsbtn_01:hover{text-decoration:none !important;}

/************************************************************************************************************
 k1_htlsbtn_012
************************************************************************************************************/
.k1_htlsbtn_012,
.k1_htlsbtn_012 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); color:#696969; line-height:14px; font-weight:bold; white-space:nowrap; cursor:pointer; vertical-align:middle; font-size:11px;}
.k1_htlsbtn_012{display:inline-block; position:relative; height:21px; padding-right:2px; background-position:right -34px;}
.k1_htlsbtn_012 span{display:block; height:14px; padding:4px 8px 3px 10px; background-position:left -34px;}
.k1_htlsbtn_012 button,
.k1_htlsbtn_012 input{display:block; height:21px; border:0 none; padding:4px 8px 3px 10px; background-position:left -34px; color:#696969;}
a.k1_htlsbtn_012:hover{text-decoration:none !important;}

/************************************************************************************************************
 k1_htlsbtn_02
************************************************************************************************************/
.k1_htlsbtn_02,
.k1_htlsbtn_02 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); line-height:14px; font-size:11px; color:#fff; white-space:nowrap; cursor:pointer; vertical-align:middle;}
.k1_htlsbtn_02{display:inline-block; height:17px; padding-right:4px; background-position:right -55px;}
.k1_htlsbtn_02 span{display:block; height:14px; padding:2px 3px 1px 7px; background-position:left -55px;}
.k1_htlsbtn_02 button,
.k1_htlsbtn_02 input{display:block; height:17px; border:0 none; padding:2px 3px 1px 7px; background-position:left -55px;}
a.k1_htlsbtn_02:hover{text-decoration:none !important;}

/************************************************************************************************************
 k1_htlsbtn_03
************************************************************************************************************/
.k1_htlsbtn_03,
.k1_htlsbtn_03 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); font-size:12px; white-space:nowrap; cursor:pointer; vertical-align:middle; line-height:14px;}
.k1_htlsbtn_03{display:inline-block; position:relative; height:20px; padding-right:2px; background-position:right -72px;}
.k1_htlsbtn_03 span{display:block; height:14px; padding:3px 26px 3px 28px; background-position:left -72px;}
.k1_htlsbtn_03 button,
.k1_htlsbtn_03 input{display:block; height:20px; border:0 none; padding:3px 26px 3px 28px; background-position:left -72px;}
a.k1_htlsbtn_03:hover{text-decoration:none !important;}

/************************************************************************************************************
 k1_htlsbtn_04
************************************************************************************************************/
.k1_htlsbtn_04,
.k1_htlsbtn_04 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); font-size:12px; white-space:nowrap; cursor:pointer; vertical-align:middle; line-height:14px; color:#fff;}
.k1_htlsbtn_04{display:inline-block; position:relative; height:20px; padding-right:2px; background-position:right -140px;}
.k1_htlsbtn_04 span{display:block; height:14px; padding:3px 5px 3px 7px; background-position:left -140px;}
.k1_htlsbtn_04 button,
.k1_htlsbtn_04 input{display:block; height:20px; border:0 none; padding:3px 4px 3px 6px; background-position:left -140px;}
a.k1_htlsbtn_04:hover{text-decoration:none !important;}

/************************************************************************************************************
 k1_htlsbtn_05
************************************************************************************************************/
.k1_htlsbtn_05,
.k1_htlsbtn_05 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); font-size:11px; white-space:nowrap; cursor:pointer; vertical-align:middle; line-height:13px; color:#494949;}
.k1_htlsbtn_05{display:inline-block; height:19px; padding-right:3px; background-position:right -160px;}
.k1_htlsbtn_05 span{display:block; height:13px; padding:4px 5px 2px 10px; background-position:left -160px;}
.k1_htlsbtn_05 button,
.k1_htlsbtn_05 input{display:block; height:19px; border:0 none; padding:4px 5px 2px 10px; background-position:left -160px;}
.k1_htlsbtn_05 .sbtn{padding:4px 2px 2px 5px;}
a.k1_htlsbtn_05:hover{text-decoration:none !important;}

/************************************************************************************************************
 k1_htlsbtn_06
************************************************************************************************************/
.k1_htlsbtn_06,
.k1_htlsbtn_06 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); font-size:12px; white-space:nowrap; cursor:pointer; vertical-align:middle; line-height:14px; color:#fff;}
.k1_htlsbtn_06{display:inline-block; height:24px; padding-right:3px; background-position:right -179px;}
.k1_htlsbtn_06 span{display:block; height:14px; padding:5px 7px 5px 10px; background-position:left -179px;}
.k1_htlsbtn_06 button,
.k1_htlsbtn_06 input{display:block; height:24px; border:0 none; padding:5px 7px 5px 10px; background-position:left -179px;}
a.k1_htlsbtn_06:hover{text-decoration:none !important;}

/************************************************************************************************************
 k1_htlsbtn_07
************************************************************************************************************/
.k1_htlsbtn_07,
.k1_htlsbtn_07 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); font-size:11px; cursor:pointer; vertical-align:middle; line-height:12px; color:#5e5e5e;}
.k1_htlsbtn_07{display:inline-block; position:relative; height:19px; padding-right:2px; background-position:right -284px;}
.k1_htlsbtn_07 span{display:block; height:13px; padding:4px 2px 2px 4px; background-position:left -284px;}
.k1_htlsbtn_07 button,
.k1_htlsbtn_07 input{display:block; height:19px; border:0 none; padding:4px 2px 2px 4px; background-position:left -284px;}
a.k1_htlsbtn_07:hover{text-decoration:none !important;}

/************************************************************************************************************
 k1_htlsbtn_08
************************************************************************************************************/
.k1_htlsbtn_08,
.k1_htlsbtn_08 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); font-size:12px; white-space:nowrap; cursor:pointer; vertical-align:middle; line-height:1.3em;}
.k1_htlsbtn_08{display:inline-block; position:relative; height:20px; padding-right:2px; background-position:right -72px;}
.k1_htlsbtn_08 span{display:block; height:14px; padding:3px 8px 3px 10px; background-position:left -72px;}
.k1_htlsbtn_08 button,
.k1_htlsbtn_08 input{display:block; height:20px; border:0 none; padding:3px 8px 3px 10px; background-position:left -72px;}
a.k1_htlsbtn_08:hover{text-decoration:none !important;}

/************************************************************************************************************
 k1_htlsbtn_09
************************************************************************************************************/
.k1_htlsbtn_09,
.k1_htlsbtn_09 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); font-size:12px; white-space:nowrap; cursor:pointer; vertical-align:middle; line-height:1.2em; color:#fff;}
.k1_htlsbtn_09{display:inline-block; position:relative; height:17px; padding-right:2px; background-position:right -330px;}
.k1_htlsbtn_09 span{display:block; height:14px; padding:2px 5px 1px 7px; background-position:left -330px;}
.k1_htlsbtn_09 button,
.k1_htlsbtn_09 input{display:block; height:17px; border:0 none; padding:2px 5px 1px 7px; background-position:left -330px;}
a.k1_htlsbtn_09:hover{text-decoration:none !important;}

/************************************************************************************************************
 k1_htlsbtn_10
************************************************************************************************************/
.k1_htlsbtn_10,
.k1_htlsbtn_10 *{overflow:visible; background-image:url(/air/wfw/imgs/htlC/btn/btn_htlbg.gif); color:#696969; line-height:14px; font-weight:bold; white-space:nowrap; cursor:pointer; vertical-align:middle;}
.k1_htlsbtn_10{display:inline-block; position:relative; height:21px; padding-right:2px; background-position:right -367px;}
.k1_htlsbtn_10 span{display:block; height:14px; padding:4px 10px 3px 12px; background-position:left -367px;}
.k1_htlsbtn_10 button,
.k1_htlsbtn_10 input{display:block; height:21px; border:0 none; padding:4px 10px 3px 12px; background-position:left -367px; color:#696969;}
a.k1_htlsbtn_10:hover{text-decoration:none !important;}

.k1_btn_more{position:absolute; display:inline-block; top:19px; right:12px; width:8px; height:8px; border:0 none; background:url(/air/wfw/imgs/htlC/btn/htl_btn_icon.gif) no-repeat -8px 0; vertical-align:middle; cursor:pointer; font-size:0;}

/************************************************************************************************************
 icon button
************************************************************************************************************/
.k1_btn_up{display:inline-block; width:9px; height:8px; border:0 none; background:url(/air/wfw/imgs/htlC/btn/htl_btn_icon.gif) no-repeat -31px 0; vertical-align:middle; cursor:pointer; font-size:0;}
.k1_btn_down{display:inline-block; width:9px; height:8px; border:0 none; background:url(/air/wfw/imgs/htlC/btn/htl_btn_icon.gif) no-repeat -45px 0; vertical-align:middle; cursor:pointer; font-size:0;}

/************************************************************************************************************
 popup button
************************************************************************************************************/
.k1_htlpop_close {display:inline-block; position:absolute; top:6px; right:12px; width:13px; height:13px; border:0 none; background:url(/air/wfw/imgs/airC/btn/btn_icon.png) no-repeat -48px -24px; font-size:0; cursor:pointer; vertical-align:middle;}
.k1_htlpop_close3{display:inline-block; width:15px; height:15px; border:0 none; background:url(/air/wfw/imgs/airC/btn/btn_icon.png) no-repeat -144px -24px; vertical-align:middle; cursor:pointer; font-size:0;}

/************************************************************************************************************
 k1_htlbtn_06
************************************************************************************************************/
.k1_htlbtn_06,
.k1_htlbtn_06 *{font-family:'나눔고딕','Nanum Gothic',ngwoff, ngeot, nmwoff, nmeot,'돋움',Dotum,'굴림',Gulim,Tahoma, Geneva, sans-serif,verdana; overflow:visible; width:100px; background:#ff5a5f; color:#fff; line-height:14px; font-weight:bold; white-space:nowrap; cursor:pointer; vertical-align:middle; text-align:center;}
.k1_htlbtn_06{display:inline-block; height:29px; line-height:29px; border:1px solid #ef4c51;}
.k1_htlbtn_06 span{display:block; height:14px; width:90px; padding:8px 4px 7px 6px;}
.k1_htlbtn_06 button,
.k1_htlbtn_06 input{display:block; background:#ff5a5f; height:29px; border:0 none; padding:8px 4px 7px 6px;}
a.k1_htlbtn_06:hover{opacity:0.7; filter:alpha(opacity:'70');}
.k1_htlbtn_06 button:hover,
.k1_htlbtn_06 input:hover {background-color:#ff7e82;}

/************************************************************************************************************
 k1_htlbtn_07
************************************************************************************************************/
.k1_htlbtn_07,
.k1_htlbtn_07 *{font-family:'나눔고딕','Nanum Gothic',ngwoff, ngeot, nmwoff, nmeot,'돋움',Dotum,'굴림',Gulim,Tahoma, Geneva, sans-serif,verdana; overflow:visible; width:100px; background:#9ca299; color:#fff; line-height:14px; font-weight:bold; white-space:nowrap; cursor:pointer; vertical-align:middle; text-align:center;}
.k1_htlbtn_07{display:inline-block; height:29px; line-height:29px; border:1px solid #949992;}
.k1_htlbtn_07 span{display:block; height:14px; width:90px; padding:8px 4px 7px 6px;}
.k1_htlbtn_07 button,
.k1_htlbtn_07 input{display:block; background:#9ca299; height:29px; border:0 none; padding:8px 4px 7px 6px;}
a.k1_htlbtn_07:hover{opacity:0.7; filter:alpha(opacity:'70');}
.k1_htlbtn_07 button:hover,
.k1_htlbtn_07 input:hover {background-color:#babeb7;}

/************************************************************************************************************
 k1_htlbtn_08
************************************************************************************************************/
.k1_htlbtn_08,
.k1_htlbtn_08 *{font-family:'나눔고딕','Nanum Gothic',ngwoff, ngeot, nmwoff, nmeot,'돋움',Dotum,'굴림',Gulim,Tahoma, Geneva, sans-serif,verdana; overflow:visible; width:100px; background:#528205; color:#fff; line-height:14px; font-weight:bold; white-space:nowrap; cursor:pointer; vertical-align:middle; text-align:center;}
.k1_htlbtn_08{display:inline-block; height:29px; line-height:29px; border:1px solid #4c6430;}
.k1_htlbtn_08 span{display:block; height:14px; width:90px; padding:8px 4px 7px 6px;}
.k1_htlbtn_08 button,
.k1_htlbtn_08 input{display:block; background:#528205; height:29px; border:0 none; padding:8px 4px 7px 6px;}
a.k1_htlbtn_08:hover{opacity:0.7; filter:alpha(opacity:'70');}
.k1_htlbtn_08 button:hover,
.k1_htlbtn_08 input:hover {background-color:#528205;}

/* 호텔정보 알림 버튼 */
.k1_htl_notice {display:inline-block; width:49px; height:19px; border:0 none; background:url(/air/wfw/imgs/htlC/btn/btn_htl_notice.gif) no-repeat 0; font-size:0; vertical-align:middle; cursor:pointer; font-size:0; color:#fff; margin-top:7px;}