@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/*Atype 컬러셋 
#2970DC 라이트블루
#094AB0 딥블루
*/

div.k1_seat input:focus, textarea:focus, select:focus,button:focus{outline: none;}
div.k1_seat{position:relative;width:1040px;min-width:320px;height:930px;margin:10px auto;font-family:'Noto sans kr',sans-serif;}
div.k1_seat::after{content:'';clear:both;display:block;}
div.k1_seat h1{font-size:0;height:50px;background:url('/air/wfw/imgs/seatmap/atype/logoC_pc.png') center 50% no-repeat;}

/*여정정보*/
div.k1_seat .info-flt{padding:0px 0px 0;background:#fff}
div.k1_seat .info-flt ol li{position:relative;display:inline-block;padding: 10px 15px 10px 15px;background:#fff;color:#BBB;border-radius:20px 20px 0 0;font-size: 17px;cursor:pointer;}
div.k1_seat .info-flt ol li::before{content:'';position:absolute;top: 18px;left:-1px;width:1px;height: 12px;background:#2970DC;}
div.k1_seat .info-flt ol li:first-child::before{background:none;}
div.k1_seat .info-flt ol li i{display:none;width: 27px;height: 27px;font-style:normal;font-size:14px;font-weight:600;color:#BEBEBE;border:1px solid #BEBEBE;background:#fff;border-radius:50%;text-align: center;line-height:27px;}
div.k1_seat .info-flt ol li span{}
div.k1_seat .info-flt ol li.on{padding: 10px 30px 10px 30px;background:#4d813a;color:#fff;font-weight:700;border:1px solid #4d813a;}
div.k1_seat .info-flt ol li.on::before{background:none;}
div.k1_seat .info-flt ol li.on + li::before{background:none;}
div.k1_seat .info-flt ol li.on i{margin-right:10px;color:#094AB0;border:1px solid #4d813a;}
div.k1_seat .info-flt ol li.on span{display:inline-block;}
div.k1_seat .info-flt ol li img{display:inline-block;width:20px;margin-right:5px;margin-top:-3px;/* filter:grayscale(100%); opacity:50% ; */}

div.k1_seat .info-flt-detail{color:#fff;background:#4d813a;padding:10px 15px 13px;}
div.k1_seat .info-flt-detail p{display:inline-block;font-size:14px;}
div.k1_seat .info-flt-detail p img{width: 12px;margin-top:-3px;}
div.k1_seat .info-flt-detail p.route{font-size:18px;margin-right:35px;}
div.k1_seat .info-flt-detail p.route i{display: inline-block;font-size: 16px;width: 25px;height: 25px;margin:0 5px ;text-indent: -9999px;background:url('/air/wfw/imgs/seatmap/atype/ico_plane_pc.png') 50% 50% no-repeat;}
div.k1_seat .info-flt-detail p.dep-time{margin-right:15px;}
div.k1_seat .info-flt-detail p.dep-time span{font-size:13px;margin-left:5px;padding:2px 10px;border:1px solid #FFF;border-radius:20px;}
div.k1_seat .info-flt-detail p.dep-time span.grade{border:none;margin-right:20px;}
div.k1_seat .info-flt-detail p.flt-no span{margin-left:20px;font-size:12px;}

/*탑승객정보*/
div.cont-left{position:relative;float:left;border:1px solid #4d813a;border-top:none;width:290px;height:780px;background-color:#f8fef6;}
div.k1_seat .info-pasngr h2{padding:10px 15px;font-size:16px;color:#333;background-color:#FFF;font-weight:600;border-bottom:1px solid #CED2DB;}
div.k1_seat .info-pasngr ol li{font-size: 13px;padding:10px 15px;background-color:#FFF;border-bottom:1px solid #CED2DB;color: #7C7C7C;cursor:pointer}
div.k1_seat .info-pasngr ol li p{display:inline-block;width:150px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
div.k1_seat .info-pasngr ol li span{position:relative;float:right;font-weight:600;padding-right:20px;}
div.k1_seat .info-pasngr ol li span i{margin:0 5px ;display:inline-block;width: 31px;font-size: 12px;font-style:normal;background:#2970DC;text-align: center;color: #fff;border-radius: 10px;font-weight:300;}
div.k1_seat .info-pasngr ol li span i.o{background-color:#2970DC;} /*ok*/
div.k1_seat .info-pasngr ol li span i.r{background-color:#2BAB8A;} /*요청*/
div.k1_seat .info-pasngr ol li span i.n{background-color:#F14F4A;} /*No*/
div.k1_seat .info-pasngr ol li span a{position:absolute;top: 1px;right:0;display:inline-block;font-size:0;width: 16px;height: 16px;border:2px solid #7F7F7F;border-radius:50%;} /* 닫기버튼 */
div.k1_seat .info-pasngr ol li span a::before{content:'';position:absolute;top: 7px;left: 3px;width:10px;height:2px;background:#7F7F7F;transform: rotate( 45deg );}
div.k1_seat .info-pasngr ol li span a::after{content:'';position:absolute;top: 7px;left: 3px;width:10px;height:2px;background:#7F7F7F;transform: rotate( -45deg );}

div.k1_seat .info-pasngr ol li.on {background:#4d813a;color:#fff;font-weight:500; /*20210317추가*/height:60px;}
div.k1_seat .info-pasngr ol li.on span i{background:#fff;color:#4d813a}
div.k1_seat .info-pasngr ol li.on span a{border:2px solid #fff} /* 닫기버튼 */
div.k1_seat .info-pasngr ol li.on span a::before,
div.k1_seat .info-pasngr ol li.on span a::after{background:#fff}

/*범례*/
div.k1_seat .info-legend{padding:10px 15px;}
div.k1_seat .info-legend ul{position:absolute;top:1px;right:-730px;width:70px;padding:5px 0px;border:1px solid #D2D2D2;text-align:center;background-color:#FFF;z-index:20;}
div.k1_seat .info-legend ul li{display:inline-block;width:60px;text-align:center;margin-bottom:13px;font-size:11px;}
div.k1_seat .info-legend ul li span{display:block;width:20px;height:16px;margin:0 auto;border-radius:3px;background-size:30px;background-position:50% 50%;background-repeat:no-repeat;}
div.k1_seat .info-legend ul li span img{width:100%;}
div.k1_seat .info-legend ul li:nth-child(1) span{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_01.png');background-size:20px;}/* 선택가능 */
div.k1_seat .info-legend ul li:nth-child(2) span{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_14.png');background-size:20px;}/* 유료좌석 */
div.k1_seat .info-legend ul li:nth-child(3) span{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_02.png');background-size:20px;}/* 선택불가 */
div.k1_seat .info-legend ul li:nth-child(4) span{background-color:#4d813a;}/* 선택좌석 */
div.k1_seat .info-legend ul li:nth-child(5) span{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_04.png')}/*아기바구니*/
div.k1_seat .info-legend ul li:nth-child(6) span{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_05_l.png');background-size:20px;}/*비상구*/
div.k1_seat .info-legend ul li:nth-child(7) span{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_06.png')}/*갤리*/
div.k1_seat .info-legend ul li:nth-child(8) span{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_07.png')}/*계단 */
div.k1_seat .info-legend ul li:nth-child(9) span{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_08.png')}/*화장실 */
div.k1_seat .info-legend ul li:nth-child(10) span{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_09.png')}/*2층 */
div.k1_seat .info-legend ul li:nth-child(11) span{background-color:#C3C6CC;}/* 날개 */
div.k1_seat .info-legend ul li:nth-child(12) span{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_02_h.png')}/*장애인 */
div.k1_seat .info-legend ul li:nth-child(13) span{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_11.png')}/*바 */
div.k1_seat .info-legend ul li:nth-child(14) span{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_12.png')}/*창문없음 */
div.k1_seat .info-legend ul li:nth-child(15) span{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_13.png')}/*기내시설 */
div.k1_seat .info-legend ul li:nth-child(16) span{background-color:#F55919;}/* 비상구날개 */


div.k1_seat .info-legend a.btn-legend-view{display:none}
div.k1_seat .info-legend a.btn-guide{display:inline-block;color:#4d813a;margin-right:15px;margin-bottom:10px;font-weight:500;padding-left:20px;background-size:15px !important;background-position:0 50%;background-repeat:no-repeat;}
div.k1_seat .info-legend a.btn-guide.caution{background-image:url('/air/wfw/imgs/seatmap/atype/ico_cautionC.png') ;}
div.k1_seat .info-legend a.btn-guide.status{background-image:url('/air/wfw/imgs/seatmap/atype/ico_cautionC.png') ;}
div.k1_seat .info-legend p{position:relative;padding-left:10px;margin-bottom:15px;word-break:keep-all}
div.k1_seat .info-legend p::before{content:'';position:absolute;top:9px;left:0px;width:5px;height:1px;background-color:#7B7C7E;}

/*서브밋*/
div.submit{float:left; width:292px;font-size:14px;}
div.submit02 {float:left; background-color:#f8fef6; height:40px; line-height:40px; font-size:14px; width:540px;}
div.submit03 {float:left; background-color:#4d813a; height:40px; line-height:40px; font-size:14px;}
div.submit03 a {text-align:center; color:#fff; font-weight:500; width:189px; display:inline-block;}
div.submit02 ul {overflow:hidden; margin-left:30px;}
div.submit02 ul li {float:left;}
div.submit02 ul li span.txt {color:black; font-weight:500; padding-right:15px;}
div.submit02 ul li span.txt02 {font-weight:bold; color:#4d813a; padding-right:30px;}
div.submit a{display:block;width:50%;float:left; height:40px; line-height:40px; text-align:center;color:#fff;background-color:#7c7c7c;}
div.submit a.submit{background-color:#4d813a;color:#fff}
div.submit a.submit.disable{background-color:#C3C6CC;}
div.submit_all {position:relative; display:inline-block; width:100%;}
div.submit_f {position:absolute; left:0; overflow:hidden; bottom:15px;}


/*seatmap*/
div.k1_seat .k1_board_group_r{width:748px !important;height:781px;border:1px solid #4d813a;border-top:none;border-left:none;overflow:auto;box-sizing:border-box;padding-right:75px;} /*시트맵wrap*/
div.k1_seat .k1_btype1_head,
div.k1_seat .k1_btype1_foot,
div.k1_seat .k1_btype1_body span.box_bodyl,
div.k1_seat .k1_btype1_body span.box_bodyr,
div.k1_seat .k1_airplane_wrap span.airplane1,
div.k1_seat .k1_airplane_wrap span.airplane2{display:none;}
div.k1_seat .k1_btype1_body .box_body{padding:0;}
div.k1_seat .k1_airplane_p{padding:30px 0;}
div.k1_seat .k1_airplane_p > div#deckDivision{text-align:center; height:23px}
div.k1_seat .k1_airplane_p > div#deckDivision input[type=radio]{ appearance: none; -moz-appearance: none; /* Firefox */ -webkit-appearance: none; /* Safari and Chrome */;visibility:hidden}
div.k1_seat .k1_airplane_p > div#deckDivision label{font-size:16px;margin: 0px 10px 0px 0;padding: 3px 21px;border: 1px solid #999;border-radius: 5px;font-size: 12px;color: #999;cursor:pointer}
div.k1_seat .k1_airplane_p > div#deckDivision input[type=radio]:checked + label{background-color:#094AB0;color:#fff;border-color:#094AB0;}

div.k1_seat .k1_airplane_wrap{width:100% !important; border:none;}
div.k1_seat .k1_airplane_wrap .cont_bg{margin:0;border:none;}
div.k1_seat .k1_airplane_wrap .cont li{float:none;text-align:center;}
div.k1_seat .k1_airplane_wrap .cont ul{display:inline-block;}

/*좌석영역 세로열 너비정의*/
div.k1_seat .cont ul > li > ul > li,
div.k1_seat .cont ol > li > ul > li {display:table-cell;width:34px;height:26px;vertical-align:middle;}

div.k1_seat .cont.business ul > li > ul > li,
div.k1_seat .cont.business ol > li > ul > li {display:table-cell;width:50px;height:42px;vertical-align:middle;}


div.k1_seat .cont li.aisle{width:60px !important} /* 통로 */
div.k1_seat .cont li img{width:30px;height:24px} 
div.k1_seat .cont.business li img{width:46px;height:38px} 
div.k1_seat .cont li.handicap{font-size:0;background:url('/air/wfw/imgs/seatmap/atype/d_seat.png') 50% 50% no-repeat;} /*장애인좌석*/
div.k1_seat .cont.business li.handicap{font-size:0;background:url('/air/wfw/imgs/seatmap/atype/d_seat_biz.png') 50% 50% no-repeat;} /*장애인좌석*/

div.k1_seat .cont > ul,
div.k1_seat .cont > ol{clear:both;display:block;}

div.k1_seat .cont li {display:inline-block;height:inherit;}
div.k1_seat .cont.business li {height:60px;}
div.k1_seat .cont_12.business li.aisle{width:20px !important;}

div.k1_seat .cont ul.line li:not(button){font-size:11px;font-weight:600;color:#4d813a} /*설비 셀렉터*/

div.k1_seat .cont ol li span{display:inline-block;} /*좌석라인 세로넘버 비상구 셀렉터*/

div.k1_seat .cont ol li span.exit_l{font-size:0;background:url('/air/wfw/imgs/seatmap/atype/ico_seat_05_l.png') 0px 0px no-repeat;background-size:25px;margin-top:2px;} /* 비상구(좌) */
div.k1_seat .cont ol li span.exit_r{font-size:0;background:url('/air/wfw/imgs/seatmap/atype/ico_seat_05_r.png') 0px 0px no-repeat;background-size:25px;margin-top:2px;} /* 비상구(좌) */
div.k1_seat .cont ol li span:first-child, /*좌측 좌석라인 셀렉터*/
div.k1_seat .cont ol li span:last-child {text-align:center;color:#4d813a;padding-top:5px;} /*우측 좌석라인 셀렉터*/
div.k1_seat .cont.business ol li span:first-child, /*좌측 좌석라인 셀렉터*/
div.k1_seat .cont.business ol li span:last-child {padding-top:12px;} /*우측 좌석라인 셀렉터*/
div.k1_seat .cont ol li span:nth-child(2) img,
div.k1_seat .cont ol li span:nth-child(4) img{width:7px !important;height:26px !important;} /*좌석 날개,비상구 셀렉터*/
div.k1_seat .cont ol li span:nth-child(2) img.no_window,
div.k1_seat .cont ol li span:nth-child(4) img.no_window{width:30px !important;height:24px !important;margin-left:-1px} /*창문없음*/
div.k1_seat .cont.business ol li span:nth-child(2) img,
div.k1_seat .cont.business ol li span:nth-child(4) img{height:60px !important;} /*비즈니스 좌석 날개,비상구 셀렉터*/

/* 좌석 */
div.k1_seat .cont ul.seat > li[id]{} /*좌석셀렉터*/
div.k1_seat .cont ul.seat > li[id] button{width:30px;height:24px;border-radius:5px;font-family:'Noto sans kr';background-size:100%;background-repeat:no-repeat;background-position:0 0;}
div.k1_seat .cont.business ul.seat > li[id] button{width:46px;height:38px;border-radius:5px;font-family:'Noto sans kr';background-size:100%;background-repeat:no-repeat;background-position:0 0;}

div.k1_seat .cont ul.seat > li[id] button.k1_btn_seat_01{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_01.png')} /* 선택가능한 좌석 */
div.k1_seat .cont ul.seat > li[id] button.k1_btn_seat_02{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_02.png')}/* 선택불가능한 좌석 */
div.k1_seat .cont ul.seat > li[id] button.k1_btn_seat_03{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seatC_03.png');color:#fff;font-size:12px;}/* 선택한 좌석 */
div.k1_seat .cont ul.seat > li[id] button.k1_btn_seat_04{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_14.png'); border:0 none;}/* 유료 좌석 */
/*퍼스트,비즈니스*/
div.k1_seat .cont.business ul.seat > li[id] button.k1_btn_seat_01{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_01_b.png')} /* 선택가능한 좌석 */
div.k1_seat .cont.business ul.seat > li[id] button.k1_btn_seat_02{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_02_b.png')}/* 선택불가능한 좌석 */
div.k1_seat .cont.business ul.seat > li[id] button.k1_btn_seat_03{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_03_b.png');padding-bottom:12px;}/* 선택한 좌석 */

/* .k1_airplane_wrap .cont.business span.no{height:25px} */

ul.seat li{position:relative;}
ul.seat li.tooltip i{content:'';position:absolute;top:-26px;left:50%;margin-left:-15px;width:28px;height:20px;background:#fff;color:#094AB0;border:1px solid #094AB0;font-style:normal;border-radius:3px;font-size:11px !important;line-height:19px;}
ul.seat li.tooltipPaxLeft i{content:'';position:absolute;top:-26px;left:50%;margin-left:-15px;width:158px;height:20px;background:#fff;color:#094AB0;border:1px solid #094AB0;font-style:normal;border-radius:3px;font-size:11px !important;line-height:19px;}
ul.seat li.tooltipPaxRight i{content:'';position:absolute;top:-26px;left:50%;margin-left:-142px;width:158px;height:20px;background:#fff;color:#094AB0;border:1px solid #094AB0;font-style:normal;border-radius:3px;font-size:11px !important;line-height:19px;}
ul.seat li.tooltip i::before{content:'';position:absolute;top:18px;left:10px;width:5px;height:5px;background:#fff;border-left:1px solid #094AB0;border-bottom:1px solid #094AB0;transform: rotate( -45deg ); }
ul.seat li.tooltipPaxLeft i::before{content:'';position:absolute;top:18px;left:10px;width:5px;height:5px;background:#fff;border-left:1px solid #094AB0;border-bottom:1px solid #094AB0;transform: rotate( -45deg ); }
ul.seat li.tooltipPaxRight i::before{content:'';position:absolute;top:18px;left:139px;width:5px;height:5px;background:#fff;border-left:1px solid #094AB0;border-bottom:1px solid #094AB0;transform: rotate( -45deg ); }

/*로딩이미지*/
div.mask{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);z-index:200}
div.loading img{position:absolute;top:50%;left:50%;margin-top:-100px;margin-left:-100px;width:200px;z-index:210}

/*팝업*/
div.seatmap_pop{position:absolute;top:50%;left:50%;width:400px;margin-top:-100px;margin-left:-200px;z-index:210;background:#fff;font-family:'Noto sans kr',sans-serif;border-radius:5px}
div.seatmap_pop h2{color:#fff;padding:10px 20px;font-size:18px;background-color:#094AB0; border-radius:5px 5px 0 0}
div.seatmap_pop .content{padding:25px 25px;font-size:14px; color:#666}
div.seatmap_pop .content ol{margin-left:20px;}
div.seatmap_pop .content ol > li{font-size:16px;color:#094AB0;list-style:decimal;margin-bottom:20px;font-weight:500;}
div.seatmap_pop .content ol > li > ul > li{color:#666;font-size:14px;}
div.seatmap_pop .wrap-btn a{width:50%;float:left;display:inline-block;padding:15px 0px;font-size:16px;font-weight:400;border-top:1px solid #094AB0;text-align:center;box-sizing:border-box;color:#094AB0}
div.seatmap_pop .wrap-btn a.submit{background-color:#094AB0; color:#fff;border-radius:0 0px 5px 0px;}
div.seatmap_pop .wrap-btn a.submit.alert{width:100%;}
div.seatmap_pop a.close{position:absolute;top:13px;right:10px;font-size:0;width:20px;height:20px;}
div.seatmap_pop a.close::before{content:'';position:absolute;top:8px;left:0;width:20px;height:3px;transform: rotate( -45deg );background-color:#FFF;border-radius:3px;}
div.seatmap_pop a.close::after{content:'';position:absolute;top:8px;left:0;width:20px;height:3px;transform: rotate( -135deg );background-color:#FFF;border-radius:3px;}

/*좌석배정유의사항*/
div#seatmap_help{padding:0 !important;}
div#seatmap_help .k1_dot_arrow1{padding:10px 15px;color:#333;font-size:16px;background:none;font-weight:600;line-height:normal !important;}
div#seatmap_help .k1_seat_bar{background:none;border-bottom:1px solid #CED2DB;height:0;margin-top:0px;}
div#seatmap_help .k1_statue_box4{padding:10px 15px;}
div#seatmap_help .k1_statue_box4 > ul > li{margin-bottom:30px;}
div#seatmap_help .k1_tit2{font-size:16px;}
div#seatmap_help .k1_statue_list5{font-size:13px;}
div#seatmap_help .k1_statue_list5 li{position:relative;line-height:20px !important;background:none;}
div#seatmap_help .k1_statue_list5 li::before{content:'';position:absolute;top:11px; left:0px;width:5px;height:2px;background-color:#a5a5a5;}
div#seatmap_help .k1_statue_list2 li{position:relative;margin-bottom:10px !important;background:none;font-size:13px;padding-left:10px;}
div#seatmap_help .k1_statue_list2 li::before{content:'';position:absolute;top:6px; left:0px;width:8px;height:4px;border-left:1px solid #2970DC;border-bottom:1px solid #2970DC;transform: rotate( -45deg );}

/**********20210317 add************/

.k1_seat .info-pasngr .inft_fasngr_pay .none {float:left;}
.k1_seat .info-pasngr .inft_fasngr_pay .pay {font-size:16px; padding-right:0;}
.k1_seat .info-pasngr .inft_fasngr_pay {overflow:hidden; padding-top:10px;}

/****20210318 add******/

div.k1_seat .k1_airplane_wrap .cont li {position:relative;}
div.k1_seat .k1_airplane_wrap .cont .tooltip_add:hover + p.tooltip_over {display:block;}
div.k1_seat .k1_airplane_wrap .cont .tooltip_over {display:none;box-shadow:3px 2px 4px #adadad; text-align:left; position:absolute; top:-56px;z-index:9999; background-color:#084aaf; font-size:12px; width:110px; border-radius:5px; padding:7px;}
div.k1_seat .k1_airplane_wrap .cont .tooltip_over:after {content:"";position:absolute;bottom: -9px; left: 10%; border-width: 10px 8px 0; border-style:solid; border-color: rgba(8, 74, 175, 1) transparent;display:block;width:0;}
div.k1_seat .k1_airplane_wrap .cont .tooltip_over span:first-child {padding-right:5px; border-right:1px solid #6380ad;}
div.k1_seat .k1_airplane_wrap .cont .tooltip_over span:nth-child(2) {padding-left:5px;}
@media all and (max-width:1023px) {

	div.k1_seat{width:100%;height:inherit;margin:0;}
	div.k1_seat h1{background-color:#f8fef6}
	div.k1_seat .info-flt ol{padding-top:15px;text-align:center;}
	div.k1_seat .info-flt ol li {padding:0;margin-right:10px;}
	div.k1_seat .info-flt ol li i{display:inline-block;}
	div.k1_seat .info-flt ol li span{display:none;}
	div.k1_seat .info-flt ol li::before{display:none;}
	div.k1_seat .info-flt ol li.on span{display:none;}
	div.k1_seat .info-flt ol li.on{padding:0;margin-right:10px;background:#fff;border:none;}
	div.k1_seat .info-flt ol li.on i{background:#4d813a;color:#fff;margin-right:0;}
	div.k1_seat .info-flt-detail{color:#333;background:#fff}
	div.k1_seat .info-flt-detail p.route{display:block;margin:0 0 10px 0;text-align:center;}
	div.k1_seat .info-flt-detail p.route i{background:url('/air/wfw/imgs/seatmap/atype/ico_plane_mob.png') 50% 50% no-repeat;background-size:20px;}
	div.k1_seat .info-flt-detail p.dep-time{display:block;text-align:center;margin:0 0 10px 0;}
	div.k1_seat .info-flt-detail p{display:block;text-align:center;}
	div.k1_seat .info-flt-detail p.dep-time span{border-color:rgb(77, 129, 58);}
	div.k1_seat .info-flt-detail p.dep-time span.grade{margin-right:10px;}
	div.cont-left{float:none;width:100%;height:inherit;border:none;}
	div.k1_seat .info-pasngr h2{display:none;}
	div.k1_seat .info-pasngr ol li{border-bottom:none;background-color:#F4F5F5;font-size:18px;line-height: 18px;padding: 12px 15px;color: #333;}
	div.k1_seat .info-pasngr ol li p{width:calc(100% - 130px)}
	div.k1_seat .info-legend{position:relative;padding:0 0;}
	div.k1_seat .info-legend ul{position:relative;top:0;left:0;right: 0;width: 100%;text-align: left;padding:10px 20px;box-sizing: border-box;height: 45px;overflow:hidden;border-left:none;border-right:none;}
	div.k1_seat .info-legend ul li{width: 98px;text-align:left;}
	div.k1_seat .info-legend ul li span{display:inline-block;margin-right:5px;vertical-align: middle;}
	div.k1_seat .info-legend ul li:nth-child(9) span{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_09_m.png')}/*2층 */
	div.k1_seat .info-legend a.btn-legend-view{display:block;position:absolute;bottom: 41px;right:0;font-size:0;width: 30px;height: 30px;background-color:#DADADA;z-index: 22;}
	div.k1_seat .info-legend a.btn-legend-view::after{content:'';position:absolute;top: 5px;left: 9px;width:10px;height:10px;border: 2px solid #333;border-right: none;border-bottom: none;transform: rotate( -135deg );}
	div.k1_seat .info-legend .info-caution{height:20px;padding:10px 20px;background-color:#FFF;border-bottom:1px solid #DADADA;}
	div.k1_seat .info-legend .info-caution p{display:none;}
	div.k1_seat .info-legend a.btn-guide{margin-bottom:0;}
	div.k1_seat .info-legend.on ul{height:inherit;overflow:inherit;}
	div.k1_seat .info-legend.on ul{height:inherit;overflow:inherit;}
	div.k1_seat .info-legend.on a.btn-legend-view::after{transform: rotate( 45deg );top: 11px;}
	div.k1_seat .k1_board_group_r{float:none; width:100% !important;height:inherit;border:none;padding-right:0;padding-bottom:45px;}
	div.submit {width:100%; bottom:0; float:none; overflow:hidden;}
	div.submit_f {width:100%; bottom:0; background-color:#fff;}
	div.submit02 {float:none; width:100%; height:100%; line-height:30px; font-size:16px; background-color:#f8fef6; padding:10px 0;}
	div.submit02 ul {overflow:inherit;}
	div.submit02 ul li {float:none; overflow:hidden;}
	div.submit02 ul li span.txt {float:left;}
	div.submit02 ul li span.txt02 {float:right;}
	div.submit03 {width:100%; font-size:16px;}
	div.submit03 a {width:100%;}
	div.submit_all{position:fixed;width:100%;box-sizing:border-box;left:0;bottom:0;background-color:#fff;}
	div.submit a{float:left;width:50%;border-top:1px solid #2970DC;box-sizing:border-box;font-size: 16px;}
	html{background:#f9f9f9;}

}

@media all and (max-width:767px) {

	div.k1_seat h1{background-size:125px;}
	div.k1_seat .info-flt ol{padding-top:5px;}
	div.k1_seat .info-flt ol li{margin-right:2px;}
	div.k1_seat .info-flt ol li i{width:20px;height:20px;font-size: 12px;font-weight: 500;line-height: 20px;}
	div.k1_seat .info-flt ol li.on{margin-right:2px;}
	div.k1_seat .info-flt-detail p{font-size: 11px;}
	div.k1_seat .info-flt-detail p.route{font-size:16px;}
	div.k1_seat .info-flt-detail p.dep-time span.grade{margin-left:3px;margin-right:5px;font-size: 11px;}
	div.k1_seat .info-flt-detail p.dep-time span{padding: 0px 3px;font-size: 9px;}
	div.k1_seat .info-pasngr ol li{font-size:16px;}

	div.k1_seat .info-legend ul li span{width:15px;height:15px;border-radius:0px;}
	div.k1_seat .info-legend ul li:nth-child(1) span{background-image:none;background-color:#fff;border:1px solid #094AB0;}/* 선택가능 */
	div.k1_seat .info-legend ul li:nth-child(2) span{background-image:url('/air/wfw/imgs/seatmap/atype/bg_btn_seat14_mob.png');border:1px solid #B2B2B3;}/* 선택가능 */
	
	div.k1_seat .info-legend ul li:nth-child(5) span{background-image:url('/air/wfw/imgs/seatmap/atype/ico_seat_05_l_m.png');background-size:27px;}/* 비상구 */

	div.k1_seat .cont.business ul.seat > li[id] button,
	div.k1_seat .cont ul.seat > li[id] button{width:98%;border-radius:0}
	div.k1_seat .cont.business ul.seat > li[id] button.k1_btn_seat_01,
	div.k1_seat .cont ul.seat > li[id] button.k1_btn_seat_01{background:#fff url('') 0px 0px no-repeat;border:1px solid #094AB0;}/*선택가능*/
	div.k1_seat .cont.business ul.seat > li[id] button.k1_btn_seat_02,
	div.k1_seat .cont.business ul.seat > li[id] button.k1_btn_seat_02,
	div.k1_seat .cont ul.seat > li[id] button.k1_btn_seat_02{background:url('/air/wfw/imgs/seatmap/atype/bg_btn_seat02_mob.png') 50% 50% no-repeat;border:1px solid #B2B2B3;background-size:100% 100%;}/*선택불가능*/
	div.k1_seat .cont.business ul.seat > li[id] button.k1_btn_seat_03,
	div.k1_seat .cont ul.seat > li[id] button.k1_btn_seat_03{background:#094AB0 url('') 0px 0px no-repeat;border:1px solid #094AB0;font-size: 10px;padding-bottom:0;}
	div.k1_seat .cont ul.line li:not(button){font-size:10px;font-weight:500;}
	

	div.k1_seat .k1_airplane_p{padding:10px 0;background-color:#F9F9F9;}
	.k1_airplane_wrap .cont_bg,
	.k1_airplane_wrap{background-color:#F9F9F9;}
	.k1_airplane_wrap .cont span.no{font-size:10px;width:20px;height:7vw;padding:0 0 0;position:relative;}
	div.k1_seat .cont ol li span:first-child, /*좌측 좌석라인 셀렉터*/
	div.k1_seat .cont ol li span:last-child {width:20px;} /*우측 좌석라인 셀렉터*/
	div.k1_seat .cont.business ol li span:nth-child(2) img, 
	div.k1_seat .cont.business ol li span:nth-child(4) img,
	div.k1_seat .cont ol li span:nth-child(2) img, 
	div.k1_seat .cont ol li span:nth-child(4) img{width:5px !important;height:100% !important;}
	div.k1_seat .cont ol li span:nth-child(2) img.no_window,
	div.k1_seat .cont ol li span:nth-child(4) img.no_window{width:34px !important;height:auto !important; position:absolute;top:50%;left:-5px;margin-top:-15px;} /*창문없음*/
	div.k1_seat .cont ol li span.exit_l{background:url('/air/wfw/imgs/seatmap/atype/ico_seat_05_l_m.png') 50% 50% no-repeat;background-size:30px;margin-top:0;} /* 비상구(좌) */
	div.k1_seat .cont ol li span.exit_r{background:url('/air/wfw/imgs/seatmap/atype/ico_seat_05_r_m.png') 50% 50% no-repeat;background-size:30px;margin-top:0;} /* 비상구(좌) */

	/* 12열 */
	div.k1_seat .cont.business ul > li > ul > li,
	div.k1_seat .cont.business ol > li > ul > li,
	div.k1_seat .cont ul > li > ul > li,
	div.k1_seat .cont ol > li > ul > li {width: 6.5vw;height: 4.3vw;} /* 좌석 폭높이 */

	div.k1_seat .cont.business ol li span:first-child, /*좌측 좌석라인 셀렉터*/
	div.k1_seat .cont.business ol li span:last-child,
	div.k1_seat .cont ol li span:first-child, /*좌측 좌석라인 셀렉터*/
	div.k1_seat .cont ol li span:last-child {padding-top:1.7vw;box-sizing:border-box} /*우측 좌석라인 셀렉터*/
	
	div.k1_seat .cont.business li{height:inherit;}
	div.k1_seat .cont li.aisle{width:3vw !important} /* 통로 */
	div.k1_seat .cont.business li img,
	div.k1_seat .cont li img{width:95%;height:5.9vw;} /* 이미지들 */

	.k1_airplane_wrap .cont span.no{height:7vw}

	div.k1_seat .cont.business ul.seat > li[id] button,
	div.k1_seat .cont ul.seat > li[id] button{width:90%;height:6vw;border-radius:0} /*버튼크기*/
	div.k1_seat .cont li.handicap{background:none;}
	div.k1_seat .cont.business li.handicap{background:none;}
	div.k1_seat .cont li.handicap::after{content:'';display:block;margin:0 auto;width:90%;height:90%;background:url('/air/wfw/imgs/seatmap/atype/m_d_seat.png') 50% 50% no-repeat;background-size:100%;border:1px solid #B2B2B3;box-sizing:border-box}

	/* 10열 */
	div.k1_seat .cont.cont_10.business ul > li > ul > li,
	div.k1_seat .cont.cont_10.business ol > li > ul > li,
	div.k1_seat .cont.cont_10 ul > li > ul > li,
	div.k1_seat .cont.cont_10 ol > li > ul > li {width: 8.2vw;height: 8.2vw;} /* 좌석 폭높이 */

	div.k1_seat .cont.cont_10.business ol li span:first-child, /*좌측 좌석라인 셀렉터*/
	div.k1_seat .cont.cont_10.business ol li span:last-child,
	div.k1_seat .cont.cont_10 ol li span:first-child, /*좌측 좌석라인 셀렉터*/
	div.k1_seat .cont.cont_10 ol li span:last-child {padding-top:1.7vw;box-sizing:border-box} /*우측 좌석라인 셀렉터*/
	
	div.k1_seat .cont.cont_10.business li{height:inherit;}
	div.k1_seat .cont.cont_10 li.aisle{width:3vw !important} /* 통로 */
	div.k1_seat .cont.cont_10.business li img,
	div.k1_seat .cont.cont_10 li img{width:95%;height: 7.5vw;} /* 이미지들 */

	.k1_airplane_wrap .cont.cont_10 span.no{height: 8.2vw;}

	div.k1_seat .cont.cont_10.business ul.seat > li[id] button,
	div.k1_seat .cont.cont_10 ul.seat > li[id] button{width:90%;height: 7.3vw;border-radius:0;} /*버튼크기*/
	div.k1_seat .cont.cont_10 li.handicap{background:none;}
	div.k1_seat .cont.cont_10.business li.handicap{background:none;}
	div.k1_seat .cont.cont_10 li.handicap::after{content:'';display:block;margin:0 auto;width:90%;height: 7.3vw;background:url('/air/wfw/imgs/seatmap/atype/m_d_seat.png') 50% 50% no-repeat;background-size:100%;border: 1px solid #B2B2B3;box-sizing:border-box;}


	/*8열*/
	div.k1_seat .cont.cont_8.business ul > li > ul > li,
	div.k1_seat .cont.cont_8.business ol > li > ul > li,
	div.k1_seat .cont.cont_8 ul > li > ul > li,
	div.k1_seat .cont.cont_8 ol > li > ul > li {width: 10.5vw;height: 11.3vw;} /* 좌석 폭높이 */

	div.k1_seat .cont.cont_8.business ol li span:first-child, /*좌측 좌석라인 셀렉터*/
	div.k1_seat .cont.cont_8.business ol li span:last-child,
	div.k1_seat .cont.cont_8 ol li span:first-child, /*좌측 좌석라인 셀렉터*/
	div.k1_seat .cont.cont_8 ol li span:last-child {padding-top:3.7vw} /*우측 좌석라인 셀렉터*/
	
	div.k1_seat .cont.cont_8 li.aisle{width: 4vw !important;} /* 통로 */
	div.k1_seat .cont.cont_8.business li img,
	div.k1_seat .cont.cont_8 li img{height: 10vw;} /* 이미지들 */

	.k1_airplane_wrap .cont.cont_8 span.no{height:12vw}

	div.k1_seat .cont.cont_8.business ul.seat > li[id] button,
	div.k1_seat .cont.cont_8 ul.seat > li[id] button{height: 10vw;} /*버튼크기*/


	/*7열*/
	div.k1_seat .cont.cont_7.business ul > li > ul > li,
	div.k1_seat .cont.cont_7.business ol > li > ul > li,
	div.k1_seat .cont.cont_7 ul > li > ul > li,
	div.k1_seat .cont.cont_7 ol > li > ul > li {width: 10.5vw;height: 11.3vw;} /* 좌석 폭높이 */

	div.k1_seat .cont.cont_7.business ol li span:first-child, /*좌측 좌석라인 셀렉터*/
	div.k1_seat .cont.cont_7.business ol li span:last-child,
	div.k1_seat .cont.cont_7 ol li span:first-child, /*좌측 좌석라인 셀렉터*/
	div.k1_seat .cont.cont_7 ol li span:last-child {padding-top:3.7vw} /*우측 좌석라인 셀렉터*/
	
	div.k1_seat .cont.cont_7 li.aisle{width: 4vw !important;} /* 통로 */
	div.k1_seat .cont.cont_7.business li img,
	div.k1_seat .cont.cont_7 li img{height: 10vw;} /* 이미지들 */

	.k1_airplane_wrap .cont.cont_7 span.no{height:12vw}

	div.k1_seat .cont.cont_7.business ul.seat > li[id] button,
	div.k1_seat .cont.cont_7 ul.seat > li[id] button{height: 10vw;} /*버튼크기*/


	/*4,6열*/
	div.k1_seat .cont.cont_4.business ul > li > ul > li,
	div.k1_seat .cont.cont_4.business ol > li > ul > li,
	div.k1_seat .cont.cont_4 ul > li > ul > li,
	div.k1_seat .cont.cont_4 ol > li > ul > li,
	div.k1_seat .cont.cont_6.business ul > li > ul > li,
	div.k1_seat .cont.cont_6.business ol > li > ul > li,
	div.k1_seat .cont.cont_6 ul > li > ul > li,
	div.k1_seat .cont.cont_6 ol > li > ul > li {width: 13.5vw;height: 13.3vw;} /* 좌석 폭높이 */

	div.k1_seat .cont.cont_4.business ol li span:first-child,
	div.k1_seat .cont.cont_4.business ol li span:last-child,
	div.k1_seat .cont.cont_4 ol li span:first-child,
	div.k1_seat .cont.cont_4 ol li span:last-child,
	div.k1_seat .cont.cont_6.business ol li span:first-child,
	div.k1_seat .cont.cont_6.business ol li span:last-child,
	div.k1_seat .cont.cont_6 ol li span:first-child,
	div.k1_seat .cont.cont_6 ol li span:last-child {padding-top:3.7vw} /*좌석라인 셀렉터*/
	
	div.k1_seat .cont.cont_4 li.aisle,
	div.k1_seat .cont.cont_6 li.aisle{width:9vw !important;} /* 통로 */

	div.k1_seat .cont.cont_4.business li img,
	div.k1_seat .cont.cont_4 li img,
	div.k1_seat .cont.cont_6.business li img,
	div.k1_seat .cont.cont_6 li img{height:12vw;} /* 이미지들 */

	.k1_airplane_wrap .cont.cont_4 span.no,
	.k1_airplane_wrap .cont.cont_6 span.no{height:12vw} /*날개높이*/

	div.k1_seat .cont.cont_4.business ul.seat > li[id] button,
	div.k1_seat .cont.cont_4 ul.seat > li[id] button,
	div.k1_seat .cont.cont_6.business ul.seat > li[id] button,
	div.k1_seat .cont.cont_6 ul.seat > li[id] button{height:12vw;} /*버튼크기*/
	
	/***20210317 add*****/
	
	.k1_seat .info-pasngr .inft_fasngr_pay .none {font-weight:500; font-size:14px;}
	div.k1_seat .info-pasngr ol li.on {height:50px;}
}