@charset "utf-8";

/* button */
.k1_btn_wrap{margin-top:15px;text-align:center;}
.k1_btn_wrap .k1_fl .k1_btn.max{height:24px;margin-right:5px;padding-top:12px;font-size:1.19rem;}
.k1_btn_wrap .k1_fr .k1_btn.max{height:24px;margin-left:5px;padding-top:12px;font-size:1.19rem;}
.k1_btn_wrap:after{content:"";display:block;clear:both;}
.k1_btn{display:block;height:21px;padding-top:11px;border:1px solid #ccc;background-color:#fff;font-size:1.11rem;font-weight:bold;color:#222;text-align:center;}
.k1_btn.max{height:25px;font-size:1.45rem;}
.k1_btn.max .page_cnt{margin-left:10px;font-size:0.94rem;font-weight:normal;color:#888;}
.k1_btn.dark{border-color:#222;background-color:#222;color:#fff;}
.k1_btn.naver{color:#2cb400;}
.k1_btn.min{display:inline-block; height:17px;padding:8px 5px 0px}
.close_btn, .close_box_btn, .del_btn{height:15px;padding-top:0;border:none;background-color:transparent;font-size:0;}
.del_btn{display:inline-block;margin-left:15px;vertical-align:top;}

.k1_btn_point{color:#333; border-color:#528205;background-color:#528205;}
.k1_btn_gray{color:#333; border-color:#ddd;background-color:#ddd;}
.k1_btn_black{color:#fff; border-color:#000;background-color:#000;}


div.upload {float:left;width: 25px;height: 25px;margin-right:5px;overflow: hidden;border:1px solid #ddd;background:url(/air/wfw/imgs/mbl/airC/ico/icon.png) no-repeat -25px -50px;background-size:125px;}
div.upload-narrow{position:relative;left:-30px; margin-right:-28px; margin-bottom:2px}
p.file-add{clear:both; position:relative;left:-30px;width:80px}
div.upload input {display: block !important;width: 23px !important;height: 23px !important;opacity: 0 !important;overflow: hidden !important;}