@charset "utf-8";

/************************************************************************************************************ 
Basic Style Sheet (for version 4 browsers)	
version: 0.2
author: 박수연
email: suudjin@nate.com
설명: 공통 icon style
************************************************************************************************************/
/* font 구분 라인*/
.k1_txtline01 {display:inline-block; width:1px; height:11px; margin:-2px 20px 0; background:#777; vertical-align:middle;}

/************************************************************************************************************************************************
 아이콘 관련 txt
************************************************************************************************************************************************/
.k1_ico_answer {display:inline-block; padding-left:15px; background:url(/air/wfw/imgs/bullet/ico_answer.gif) no-repeat; line-height:11px;}
.k1_ico_flag {display:inline-block; height:16px; padding-left:20px; background:url(/air/wfw/imgs/icon/ico_flag.gif) no-repeat; line-height:16px;}
.k1_ico_ex {padding-left:15px; background:url(/air/wfw/imgs/bullet/ico_ex.gif) 0 1px no-repeat; font-size:11px; line-height:1.4em;}
.k1_ico_ex2 {padding:2px 0 2px 30px; background:url(/air/wfw/imgs/bullet/ico_ex2.gif) 10px 0 no-repeat; color:#235ba5; line-height:1.2em; font-weight:bold; vertical-align:middle;}
.k1_ico_won {padding:1px 0 1px 16px; background:url(/air/wfw/imgs/bullet/ico_won.gif) 0 2px no-repeat; font-size:12px; color:#2360ca;}
.k1_txt_state01 {display:inline-block; width:38px; height:13px; background:url(/air/wfw/imgs/icon/ico_state01.gif) no-repeat 0 0; color:#fff; font-size:0; vertical-align:middle;}
.k1_txt_state02 {display:inline-block; width:38px; height:13px; background:url(/air/wfw/imgs/icon/ico_state02.gif) no-repeat; color:#fff; font-size:0; vertical-align:middle;}
.k1_txt_state03 {display:inline-block; width:38px; height:13px; background:url(/air/wfw/imgs/icon/ico_state03.gif) no-repeat; color:#fff; font-size:0; vertical-align:middle;}
.k1_ico_trequired {display:inline-block; width:6px; height:6px; margin-top:-1px; margin-left:5px; background:url(/air/wfw/imgs/airA/bullet_icon/bul_6px_dot3.gif) no-repeat 0 0; vertical-align:middle; font-size:0; line-height:1.2em;}
.k1_ico_trequired2 {display:inline-block; width:6px; height:6px; margin-top:-3px; margin-left:2px; background:url(/air/wfw/imgs/airA/bullet_icon/bul_6px_dot3.gif) no-repeat 0 0; vertical-align:middle; font-size:0; line-height:1.2em;}
.k1_ico_1day {display:inline-block; width:15px; height:16px; background:url(/air/wfw/imgs/icon/ico_1day.gif) no-repeat; vertical-align:middle; font-size:0; text-indent:-1000px;}/*호텔공통*/
.k1_ico_2day {display:inline-block; width:15px; height:16px; background:url(/air/wfw/imgs/icon/ico_2day.gif) no-repeat; vertical-align:middle; font-size:0; text-indent:-1000px;}
.k1_ico_3day {display:inline-block; width:15px; height:16px; background:url(/air/wfw/imgs/icon/ico_3day.gif) no-repeat; vertical-align:middle; font-size:0; text-indent:-1000px;}
.k1_ico_1day_02 {display:inline-block; width:15px; height:16px; background:url(/air/wfw/imgs/icon/ico_1day_02.gif) no-repeat; vertical-align:middle; font-size:0; text-indent:-1000px;}

/************************************************************************************************************
 number
************************************************************************************************************/
.k1_txt_no01 {display:inline-block; width:24px; height:20px; background:url(/air/wfw/imgs/airA/bullet_icon/txt_no01.gif) no-repeat; color:#fff; font-weight:bold; line-height:20px; text-align:center;}
.k1_num {display:inline-block; width:13px; height:13px; background:url(/air/wfw/imgs/airA/bullet_icon/txt_num.gif) no-repeat; color:#fff; line-height:13px; text-align:center; vertical-align:middle;}
.k1_num2 {display:inline-block; width:13px; height:13px; background:url(/air/wfw/imgs/bullet/txt_num2.gif) no-repeat; color:#fff; line-height:13px; text-align:center; vertical-align:middle;}

/************************************************************************************************************
 별점
************************************************************************************************************/
.k1_star,
.k1_star span{height:12px; background:url(/air/wfw/imgs/airA/icon/ico_star.gif) no-repeat;}
.k1_star{display:inline-block; width:78px; padding-right:5px; margin-top:-5px; background-position:0 -13px; vertical-align:middle;}
.k1_star span{display:block; overflow:hidden; background-position:0 0; vertical-align:top; text-align:left; font-size:0;}

.k1_star02,
.k1_star02 span{display:inline-block; height:10px; background:url(/air/wfw/imgs/airA/icon/ico_star.gif) no-repeat;}
.k1_star02{width:63px; padding-right:5px; margin-top:-5px; background-position:0 -38px; vertical-align:middle;}
.k1_star02 span{overflow:hidden; background-position:0 -27px; vertical-align:top; text-align:left; font-size:0;}

.k1_star03{display:inline-block; height:11px; width:58px; margin-top:-3px; background:url(/air/wfw/imgs/airA/icon/ico_star.gif) no-repeat 0 -49px; vertical-align:middle; font-size:0;}

/************************************************************************************************************
 텍스트아이콘
************************************************************************************************************/
.k1_htl_icotxt01{display:inline-block; width:35px; height:15px; margin-left:2px; background:url(/air/wfw/imgs/airA/icon/htl_iconset.gif) no-repeat 0 -48px; font-size:0; vertical-align:middle;}
.k1_htl_icotxt02{display:inline-block; width:24px; height:15px; margin-left:2px; background:url(/air/wfw/imgs/airA/icon/htl_iconset.gif) no-repeat -36px -48px; font-size:0; vertical-align:middle;}
.k1_htl_icotxt03{display:inline-block; width:24px; height:15px; margin-left:2px; background:url(/air/wfw/imgs/airA/icon/htl_iconset.gif) no-repeat -61px -48px; font-size:0; vertical-align:middle;}
.k1_htl_icotxt04{display:inline-block; width:24px; height:15px; background:url(/air/wfw/imgs/airA/icon/htl_iconset.gif) no-repeat -86px -48px; font-size:0; vertical-align:middle;}
.k1_htl_icotxt05{display:inline-block; width:24px; height:15px; background:url(/air/wfw/imgs/airA/icon/htl_iconset.gif) no-repeat -111px -48px; font-size:0; vertical-align:middle;}
.k1_htl_icotxt06{display:inline-block; width:19px; height:13px; background:url(/air/wfw/imgs/airA/icon/htl_iconset.gif) no-repeat -186px -48px; font-size:0; vertical-align:middle;}
.k1_htl_icotxt07{display:inline-block; width:24px; height:15px; background:url(/air/wfw/imgs/airA/icon/htl_iconset.gif) no-repeat -136px -48px; font-size:0; vertical-align:middle;}
.k1_htl_icotxt08{display:inline-block; width:24px; height:15px; background:url(/air/wfw/imgs/airA/icon/htl_iconset.gif) no-repeat -161px -48px; font-size:0; vertical-align:middle;}

.k1_htl_txtico_01{display:inline-block; height:15px; padding-right:2px; background:url(/air/wfw/imgs/icon/icotxt_bgset.gif) no-repeat right 0; font-size:11px; color:#fff; text-align:center; line-height:11px;}
.k1_htl_txtico_01 span{display:inline-block; width:auto !important; height:11px !important; padding:2px 1px 2px 3px; background:url(/air/wfw/imgs/icon/icotxt_bgset.gif) no-repeat left 0 !important; font-size:11px !important;}
.k1_htl_txtico_02{display:inline-block; height:15px; padding-right:1px; background:url(/air/wfw/imgs/icon/icotxt_bgset.gif) no-repeat right 0; font-size:11px; color:#fff; text-align:center; line-height:12px;}
.k1_htl_txtico_02 span{display:inline-block; padding:2px 0 2px 1px; background:url(/air/wfw/imgs/icon/icotxt_bgset.gif) no-repeat left 0;}

.k1_htl_price{padding-left:20px; background:url(/air/wfw/imgs/htlA/cont/ico_won.gif) no-repeat 4px 1px; color:#235ba5; font-weight:bold; line-height:14px; vertical-align:middle;}

/************************************************************************************************************
 부대시설아이콘
************************************************************************************************************/
.k1_htl_ico span{display:inline-block; width:15px; height:16px; margin-right:-1px; background:url(/air/wfw/imgs/airA/icon/htl_iconset.gif) no-repeat; font-size:0; vertical-align:middle;}
.k1_htl_ico span.ico01{background-position:0 -13px;}
.k1_htl_ico span.ico02{background-position:-18px -13px;}
.k1_htl_ico span.ico03{background-position:-36px -13px;}
.k1_htl_ico span.ico04{background-position:-53px -13px;}
.k1_htl_ico span.ico05{background-position:-71px -13px;}
.k1_htl_ico span.ico06{background-position:-89px -13px;}
.k1_htl_ico span.ico01_off{background-position:0 -30px;}
.k1_htl_ico span.ico02_off{background-position:-18px -30px;}
.k1_htl_ico span.ico03_off{background-position:-36px -30px;}
.k1_htl_ico span.ico04_off{background-position:-53px -30px;}
.k1_htl_ico span.ico05_off{background-position:-71px -30px;}
.k1_htl_ico span.ico06_off{background-position:-89px -30px;}

/************************************************************************************************************************************************
 이미지라인
************************************************************************************************************************************************/
.k1_dot_line {width:100%; height:2px; background:url(/air/wfw/imgs/bullet/dot_line.gif) repeat-x;}/*호텔사용*/
.k1_dot_line2 {height:2px; margin:10px; background:url(/air/wfw/imgs/bullet/dot_line2.gif) repeat-x;}
.k1_dot_line2_1 {height:2px; margin:10px 0; background:url(/air/wfw/imgs/bullet/dot_line2.gif) repeat-x;}
.k1_dot_line4_1 {width:100%; height:2px; margin:20px 0; background:url(/air/wfw/imgs/bullet/dot_line4.gif) repeat-x;}/* 20130506 추가*/
.k1_dot_line4_2{display:block; width:100%; height:2px; background:url(/air/wfw/imgs/bullet/dot_line4.gif) repeat-x;}
