@charset "utf-8";

/* table */
table{border-collapse:collapse;}
th, td{margin:0;padding:0;}

/* variation */
td.k1_al{padding-left:20px !important;}
td.k1_ar{padding-right:20px !important;}
.linear li{float:left;}
.linear li span{margin:0 2px;}
.linear li:first-child span{margin-left:0;}
.linear li:last-child span{margin-right:0;}
.linear:after{content:"";display:block;clear:both;}

/* search result */
.k1_sch_result{width:100%;background-color:#fff;}
.k1_sch_result td{padding:13px 10px;border-bottom:1px solid #ccc;font-size:0.85rem;text-align:center;}
.k1_sch_result td .air{position:relative;padding-left:39px;}
.k1_sch_result td .air .thumb{position:absolute;top:0;left:0;}
.k1_sch_result td .air .thumb img{width:29px;height:auto;}
.k1_sch_result td .air li strong{display:block;margin-bottom:4px;font-size:1.19rem;font-weight:bold;color:#333;}
.k1_sch_result td .air li .info{display:block;margin-bottom:2px;min-width:90px;letter-spacing:-0.5px;}
.k1_sch_result td .price{display:block;margin-bottom:2px;font-size:1.43rem;font-weight:bold;color:#333;text-align:right;}
.k1_sch_result td .card{display:block;color:#947642;font-size:1.02rem; letter-spacing:-1px;text-align:right;}
.k1_sch_result tr td:nth-child(2){padding:13px 0;}
.k1_sch_result ul.k1_status_list li{float:right; margin-left:5px;}
.k1_sch_result ul.k1_status_list li:nth-child(3) .k1_status,
.k1_sch_result ul.k1_status_list li:first-child .k1_status{padding-top:15px;height:20px}
.k1_sch_result p span.k1_status{padding-top:10px; margin-left:3px; height:25px;width:30px;}
@media all and (max-width:330px){
	.k1_sch_result td{padding-right:5px;}
	.k1_sch_result td .air{padding-left:0px;}
	.k1_sch_result td .air .thumb{position:relative}
	.k1_sch_result td ul.air li{display:block; text-align:center}
	.k1_sch_result td ul.air li span{text-align:left}
	.k1_sch_result td .price{font-size:1.3rem;}
}





/* search result details */
.k1_sch_result_details_wrap .k1_sch_result_details.min{margin-top:10px;}
.k1_sch_result_details_wrap .k1_sch_result_details.min:first-child{margin-top:0;}
.k1_sch_result_details{width:100%;background-color:#fff;}
.k1_sch_result_details td{padding:13px 10px;border-bottom:1px solid #ccc;font-size:1.1rem;color:#888;text-align:center;}
.k1_sch_result_details td *{vertical-align:middle;}
.k1_sch_result_details td .k1_btn{display:inline-block;min-width:62px;height:17px;padding:4px 4px 0 1px;font-size:0.77rem;}
.k1_sch_result_details td .k1_status{font-size:0.77rem;}
.k1_sch_result_details td .time-info{min-height:32px;padding:2px 0 0 0px;color:#222;}
.k1_sch_result_details td .time-info li{margin-top:11px;}
.k1_sch_result_details td .time-info li:first-child{margin-top:0;}
.k1_sch_result_details td .seat-info li strong{display:block; float:right; width:72px; margin-bottom:3px;font-size:1.1rem; text-align:right;color:#333;}
.k1_sch_result_details td .seat-info li strong img.ico_info {width:20px; height:20px;}
.k1_sch_result_details tr td:nth-child(2){min-width:62px;padding:13px 0;}
.k1_sch_result_details.min{border:1px solid #ccc;}
.k1_sch_result_details.min td{background-color:#fff;}
.k1_sch_result_details.min td.k1_al{padding-left:15px !important;}
.k1_sch_result_details.min td.k1_al .k1_status{margin-right:8px;}
.k1_sch_result_details.min td.k1_ar{padding-right:15px !important;}

/* write type(passenger info, ...) */
.k1_box_wrap .k1_box{margin-top:15px;}
.k1_box_wrap .k1_box:first-child{margin-top:0;}
.k1_box{width:100%;border:1px solid #ccc;background-color:#fff;}
.k1_box caption{position:relative;padding:7px 12px 4px;background-color:#888;font-size:1.02rem;font-weight:bold;color:#fff;text-align:left;}
.k1_box caption *{vertical-align:middle;}
.k1_box caption img{width:20px;margin-right:9px;}
.k1_box caption .k1_custom_chk{position:absolute;top:13px;right:15px;color:#fff;text-align:right;}
.k1_box caption .k1_custom_chk label{display:inline-block;position:static;margin-left:-20px;}
.k1_box .k1_w_basis{width:75px;}
.k1_box tr:first-child th, .k1_box tr:first-child td{padding-top:15px;}
.k1_box tr:last-child th, .k1_box tr:last-child td{padding-bottom:15px;}
.k1_box th{padding:5px 0 5px 15px;font-size:1.02rem;color:#222;text-align:left;}
.k1_box td{padding:5px 15px 5px 0;font-size:1.02rem;color:#222;text-align:left;}
.k1_box td .k1_custom_ipt{padding:0 2px;}
.k1_box td .k1_custom_ipt.inner-btn{position:relative;padding-right:31px;}
.k1_box td .k1_custom_ipt.inner-btn button{position:absolute;top:0;right:0;}
.k1_box td .k1_custom_ipt input[type=text], .k1_box td .k1_custom_ipt input[type=password], .k1_box td .k1_custom_ipt input[type=tel]{width:100%;height:22px;border:none;font-size:0.94rem;}
.k1_box td .k1_custom_sel{display:block;height:24px;border:1px solid #ccc;}
.k1_box td .k1_custom_sel select{height:24px;padding:0 31px 0 6px;border:none;background-image:url(/air/wfw/imgs/mbl/common/select-min.png);background-position:right top;background-size:21px 24px;font-size:0.94rem;}
.k1_box td .k1_custom_sel select{padding-right:0\0/;}/*hack-IE9*/
.k1_box td .file-info{display:block;margin:9px 0 0 0px;padding:10px 0px 0px;border-top:1px dotted #666;font-size:0.85rem;color:#3775C7;}
.k1_box_wrap2 .tit{padding:16px 15px 13px;background-color:#888;font-size:1.02rem;font-weight:bold;color:#fff;text-align:left;}
.k1_box_wrap2 .tit.k1_both_sides ul li{font-size:1.02rem;color:#fff;}
.k1_box_wrap2 .tit.k1_both_sides ul li.custom-w1{max-width:30%;}
.k1_box_wrap2 .tit.k1_both_sides ul li.custom-w2{top:-4px;max-width:70%;}
.k1_box_wrap2 .tit.k1_both_sides ul li .k1_custom_rad{font-size:0.85rem;color:#fff;}
.k1_box_wrap2 .tit.k1_both_sides ul li .k1_custom_rad label{margin-left:5px;margin-right:0;}
.k1_box_wrap2 .cont{padding:15px;border:1px solid #ccc;background-color:#fff;}
.k1_box_wrap2 .cont .k1_subcopy{font-size:0.85rem;line-height:1.2;}
.k1_box_wrap2 .cont .k1_both_sides.yellow{height:auto;padding-bottom:12px;}
.k1_box_wrap2 .cont .k1_both_sides.yellow ul li{max-width:100%;font-size:1.02rem;}
.k1_box_wrap2 .cont .k1_both_sides.yellow ul li:first-child{position:absolute;top:0;left:0;}
.k1_box_wrap2 .cont .k1_both_sides.yellow ul li:last-child{position:static;font-size:1.28rem;text-align:right;}
.k1_box_wrap2 .cont .k1_both_sides.yellow ul li:last-child .cnt{display:block;margin-top:2px;font-size:1.02rem;font-weight:normal;}
.k1_box_wrap2 .cont .k1_both_sides.yellow .desc{display:block;margin-top:4px;font-size:0.77rem;color:#fff;text-align:right;}
.k1_box_wrap2 .cont .k1_box{margin:-15px 0;border:none;}
.k1_box_wrap2 .cont .k1_box th{padding-left:0;}
.k1_box_wrap2 .cont .k1_box td{padding-right:0;}
.k1_box_wrap2 .cont .k1_box td .desc{display:inline-block;margin-top:8px;color:#947642;vertical-align:top;}
.k1_box_wrap2 .cont .k1_w_basis{width:59px;}
.k1_box_wrap2 .dotted-line{margin-top:15px;padding-top:15px;border-top:1px dotted #666;}


/* list type */
.k1_list{width:100%;}
.k1_list th{padding:10px 0;border:1px solid #fff;background-color:#888;font-size:0.85rem;color:#fff;}
.k1_list th:first-child{border-left:none;}
.k1_list th:last-child{border-right:1px solid #888;}
.k1_list td{padding:10px 0;border:1px solid #ccc;font-size:0.94rem;text-align:center;background-color:#fff; color:#222;}
.k1_list td.k1_al{padding-left:5px !important;}
.k1_list td ul li{margin-top:2px;}
.k1_list td ul li:first-child{margin-top:0;}

/* e-ticket */
.k1_box_wrap2 .tit span.name {display:inline-block; width:90%;}
.k1_box_wrap2 .tit span.btn_ticket {position:absolute; top:26%; right:10px;}
.k1_box_wrap2 .tit span.btn_ticket a {color:#fff !important;}