@charset "utf-8";

p {margin:0; padding:0;}

/* form&control */
.k1_custom_chk label{position:absolute;left:0;height:17px;padding-left:21px;background:url(/air/wfw/imgs/mbl/airA/common/checkbox.png) no-repeat 0 -17px;background-size:17px 85px;line-height:17px;vertical-align:top;}
.k1_custom_rad label{display:inline-block;height:17px;margin-right:12px;padding-left:21px;-webkit-appearance:none;-moz-appearance:none;background:url(/air/wfw/imgs/mbl/airA/common/radio.png) no-repeat 0 -17px;background-size:17px 34px;line-height:17px;vertical-align:top;}

/* tab */
.k1_tab li{float:left;border-top:1px solid #747474;}
.k1_tab li a{display:block;height:27px;padding-top:11px;border-top:1px solid #818181;background-color:#888;font-size:1.45rem;font-weight:bold;color:#fff;text-align:center;}
.k1_tab li.active{border-color:#2F64A9;}
.k1_tab li.active a{border-color:#2F64A9;background-color:#004DCB;color:#FFF;}
.k1_tab.t2 li{width:50%;}
.k1_tab.t3 li{width:33.3333333%;}
.k1_tab.t3 li a,
.k1_tab.t4 li a{border-left:1px solid #9F9F9F}
.k1_tab.t3 li:first-child a,
.k1_tab.t4 li:first-child a{border-left:none}
.k1_tab.t4 li{width:25%;}
.k1_tab.t5 li{width:20%;}
.k1_tab.chk li{border-top:none;}
.k1_tab.chk li a{height:23px;padding-top:11px;border-top:none;border-left:1px solid #ccc;background-color:#fff;font-size:1.2rem;color:#666;}
.k1_tab.chk li:first-child a{border-left:none;}
.k1_tab.chk li.active a{color:#fff; background:#222222;}
.k1_tab.chk li.active a .k1_icon{display:inline-block;width:17px;height:17px;margin:-3px 5px 0 0;background:url(/air/wfw/imgs/mbl/common/checkbox.png) no-repeat 0 -34px;background-size:17px 85px;vertical-align:top;}
.k1_tab:after{content:"";display:block;clear:both;}
.k1_inner_tab li{float:left;}
.k1_inner_tab.t2 li{width:50%;}
.k1_inner_tab.t3 li{width:33.333333333%;}
.k1_inner_tab.t4 li{width:100%;}
.k1_inner_tab li a{display:block;position:relative;height:21px;margin:0 2px;padding-top:9px;background-color:#ccc;font-size:1.02rem;font-weight:bold;color:#fff;text-align:center;}
.k1_inner_tab li a .k1_icon{margin:-5px -6px 0 0;}
.k1_inner_tab li a .k1_icon_min.anchor{display:none;position:absolute;bottom:-15px;left:50%;margin-left:-7px;background-position:-105px 0;}
.k1_inner_tab li:first-child a{margin-left:0;}
.k1_inner_tab li:last-child a{margin-right:0;}
.k1_inner_tab li.active a{background-color:#666;color:#fff;}
.k1_inner_tab li.active a .k1_icon_min.anchor{display:block;}
.k1_inner_tab:after{content:"";display:block;clear:both;}
.k1_inner_tab_yellow li.active a{color:#333; background-color:#004DCB;}
.k1_inner_tab_yellow li a{background-color:#888888;}
.k1_inner_tab_yellow li a .k1_icon_min.anchor{background-position:-45px 0;}

/*로고*/
#k1_header .logo{display:inline-block; width:150px;height:34px;background-image:url(/air/wfw/imgs/mbl/airA/logo/logo.png); background-repeat:no-repeat; background-size:375px 76px;background-position:center 0;}

/* dim */
.k1_dimm_wrap{position:fixed;top:0;bottom:0;z-index:1000;width:100%;height:100%;margin-left:-40px;background-color:#222222;}

/* side menu */
.k1_slide_menu{height:100%;padding-left:40px;}
.k1_slide_menu li a.k1_menu_close{text-align:right}
.k1_slide_menu li a{display:block;height:26px;padding:13px 20px 0 10px;background-color:#004DCB;border-top:1px solid rgba(0,0,0,0.1);font-size:1.28rem;color:#fff;}
.k1_slide_menu li a img{width:25px; margin-right:3px; vertical-align:middle}
.k1_slide_menu li:first-child a{border-top:none;background-color:#222;color:#fff; background-image:none}
.k1_slide_menu li:first-child a img{width:13px; vertical-align:middle}
.k1_slide_blind{height:1000px;content:"";position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000;z-index:999;opacity:0.7;}

/* loading & splash*/
.k1_loading{display:table;width:100%;height:100%;}
.k1_loading ul{position:absolute;top:50%; left:50%; width:300px;  margin-top:-50px; margin-left:-150px; display:table-cell;height:100%;text-align:center;vertical-align:middle;}
.k1_loading ul li .logo{display:inline-block;width:300px;height:35px;background:url(/air/wfw/imgs/mbl/airA/logo/logo.png) no-repeat center 0px; background-size:325px; text-indent:-99999px}
.k1_loading ul li .spinner{display:block;width:280px;margin:20px auto 0;}
.k1_loading ul li .spinner img{width:60px}
.k1_splash {height:100%; background-color:#FFF;}
.k1_splash img{position:absolute;top:50%; left:50%; margin-left:-90px; margin-top:-125px;width:170px}
.k1_splash p.logo{position:absolute;top:50%; left:50%; width:200px; height:215px; margin-left:-100px; font-size:0px;margin-top:-110px;background:url(/air/wfw/imgs/mbl/airA/logo/splash_logo_blank.png) no-repeat 0px 0px;background-size:200px}
.k1_splash p.copy{position:absolute;bottom:20px;left:0%; width:100%; color:#111; text-align:center; font-size:1rem}

/*dl list*/
.k1_dl{margin-bottom:15px; padding:10px 0px; border:1px solid #CCCCCC; background:#fff;}
.k1_dl dt{clear:both; float:left; padding:5px 15px; width:64px; font-size:1.19rem; font-weight:bold; background:url(/air/wfw/imgs/mbl/bu/bu_bar_vertical.png) no-repeat right 7px; background-size:1px }
.k1_dl dd{padding:5px 15px 5px 100px; font-size:1.19rem}
.k1_dl dt.header,
.k1_dl dd.header{margin-bottom:15px;padding:15px 15px;font-size:1.45rem;font-weight:bold; border-bottom:1px solid #CCCCCC}
.k1_dl_gray{color:#fff; background:#666666;}

.k1_dl_list:after{content:"";display:block;clear:both;}
div#rulediv1_ke .k1_dl_list{margin:10px 10px 0px;background: #f3f3f3;border-radius: 10px;} /*국내선 대한항공 규정 안내 팝업 업데이트2021-02-26*/
div#rulediv1_ke .k1_dl_list+.k1_dl_list{margin-bottom:10px}
.k1_dl_list dt{float:left; padding:5px 0px 5px 15px; width:80px; background:none}
.k1_dl_list dd{float:left; padding:5px 15px 10px 25px; font-size:1.19rem; line-height:15px; background:url(/air/wfw/imgs/mbl/bu/bu_dot_bar_vertical.png) no-repeat 9px 7px; background-size:1px}
.k1_dl_list dd.block{width:90%;background:none;}

.k1_dl_list_bdr_none{border:none}

/*tab*/
ul.k1_tab li a{font-size:1.4rem}

/*ul list */
ul.k1_guide_arrw li{padding-bottom:10px;font-size:1.1rem}
ul.k1_guide{margin:10px 0px}
ul.k1_guide li{padding-bottom:5px; font-size:1.02rem; line-height:1.5rem}
ul.k1_guide li strong{color:#004DCB}

/* dotted h line*/
span.k1_line_dot_h{display:block; height:15px; margin-bottom:15px; border-bottom:1px dotted #666}

/*box*/
.k1_rect{height:26px;margin-top:15px;padding:12px 15px 0;}
.k1_rect_yellow{color:#333;background-color:#004DCB;}
.k1_rect_gray{padding:5px 10px; color:#333;background-color:#E0DDDD;}
