@charset "utf-8";

@import '_mbase', '_mfont';

/* Common */
html{font-size:$font-body}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,div,figure,article,header,nav,footer,section,input,textarea,button, span{margin:0;padding:0;color:$default_col;font-family:$default_font;font-weight:$weight400;font-size:rem(15px);line-height:1.53;letter-spacing:-0.01em;box-sizing:border-box;word-break:keep-all;word-wrap:break-word;white-space:normal;-webkit-text-size-adjust:100%;text-size-adjust:100%;max-height:1000000px}
h1,h2,h3,h4,h5,h6{font-weight:$weight400}
img,fieldset,iframe{border:0;vertical-align:top}
img{width:100%}
textarea{-webkit-border-radius:0;-webkit-appearance:none;resize:none}
ul,ol{list-style:none}
em,address{font-style:normal}
input,select{-webkit-border-radius:0;-webkit-appearance:none;vertical-align:middle}
table{width:100%;border-collapse:separate;border-spacing:0}
hr,legend{display:none}
caption{visibility:hidden;overflow:hidden;position:static;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
strong, b{font-weight:$weight700}
button{box-sizing:border-box;border:none;background:none;cursor:pointer}
label{box-sizing:border-box}

a{color:inherit;text-decoration:none;box-sizing:border-box}
a, button, label{cursor:pointer}
a:focus, button:focus, input[type=radio]:focus, input[type=checkbox]:focus{outline:none}

::-webkit-input-placeholder{color:$col_g400;font-size:rem(15px);font-weight:400}
:-ms-input-placeholder{color:$col_g400;font-size:rem(15px);font-weight:400}
::-ms-input-placeholder{color:$col_g400;font-size:rem(15px);font-weight:400}
::placeholder{color:$col_g400;font-size:rem(15px);font-weight:400}
textarea::-webkit-input-placeholder{font-size:rem(15px)}
textarea:-ms-input-placeholder{font-size:rem(15px)}
textarea::-ms-input-placeholder{font-size:rem(15px)}
textarea::placeholder{font-size:rem(15px)}

[tabindex='-1'],button:active, a:active, label:active{outline:0;-webkit-tap-highlight-color:rgba($col_black,0)}
[tabindex='0']:focus{outline:0}
:disabled{-webkit-tap-highlight-color:rgba($col_black,0)}
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active{-webkit-box-shadow:0 0 0 1000px $col_white inset;box-shadow:0 0 0 1000px $col_white inset}

/* common */
.hidden{@extend %hidden;}
.dimmed{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba($col_black, 0.8);z-index:998;}
.vspace{margin-top:48px !important} //단락간의 간격

.marT0{margin-top:0 !important}
.marT16{margin-top:16px !important}
.marT32{margin-top:32px !important}
.marT40{margin-top:40px !important}

.colPointP{color:$col_p600 !important}

/* skipmenu */
.skip{
	a{position:fixed;left:0;top:-60px;overflow:hidden;display:block;height:0;width:0;margin-bottom:-1px;text-align:center;white-space:nowrap;color:$col_white;text-align:center;z-index:10001;background:$col_primary;font-size:16px;font-weight:bold;
		&:focus, &:active{top:0;height:auto;width:100%;;color:$col_white;line-height:60px}
	}
}

/* layout */
html, body{height:100%}
body > .wrapper{height:auto;}
.wrapper{position:relative;
	header{position:fixed;top:0;left:0;width:100%;padding:0 66px;background:$col_white;z-index:100;
		&.fixed{box-shadow:0 5px 5px rgba($col_black, 0.05)}
		.btPrev{@extend %textHidden;position:absolute;top:0;left:8px;width:56px;height:56px;
			&:after{@include pseudo(26px,26px);background:url(#{$img_url}/common/spr_layout.svg) no-repeat}
		}
		.titDep1{@include ellipsis(1, auto);height:56px;color:$col_g900;font-size:rem(18px);font-weight:$weight700;line-height:56px;text-align:center;
			&.titAir{
				.icTrip{@extend %textHidden;position:relative;display:inline-block;width:24px;height:24px;margin:0 1px 4px 0;vertical-align:middle;
					&:after{@include pseudo(12px,12px);background:url(#{$img_url}/common/spr_layout.svg) no-repeat -200px 0}
				}
			}
		}
		.menuWrap{position:absolute;top:0;right:10px;display:inline-block;width:56px;height:56px;
			.btNav{@extend %textHidden;position:relative;width:56px;height:56px;
				&:after{@include pseudo(26px,26px);background:url(#{$img_url}/common/spr_layout.svg) no-repeat -26px 0}
			}
		}
		.btShare{@extend %textHidden;position:absolute;top:0;right:1px;display:inline-block;width:56px;height:56px;
			&:after{@include pseudo(26px,26px);background:url(#{$img_url}/common/spr_layout.svg) no-repeat -56px 0}
		}
		.searchIcon{margin-top:8px;
			input[type=search]{height:40px;line-height:38px}
		}	
	}
	.container{padding:88px 20px 64px}
	&.defaultWrapper{
		header{height:56px;
		}
		.container{margin:0;padding-top:68px}
	}
	&.mainWrapper{
		header{position:relative;height:auto;padding:0;
			.mainLogo a{@extend %textHidden;position:relative;display:block;width:148px;height:56px;
				&:after{@include pseudo(110px,20px);background:url(#{$img_url}/common/spr_layout.svg) no-repeat 0 -28px}
			}
			.mainNav{height:48px;
				.navList{overflow:auto;position:relative;width:100%;padding:0 10px;background:$col_white;white-space:nowrap;
					&:after{content:'';display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;background:$col_g200;z-index:2}
					> h2{display:inline-block;position:relative;margin-left:-3px;z-index:3;
						&:first-child{margin-left:0}
						a{position:relative;display:block;height:48px;padding:0 10px;color:$col_g900;font-size:rem(18px);font-weight:$weight700;line-height:47px;z-index:3}
						&.navON a{color:$col_p600;
							&:after{content:'';display:block;position:absolute;bottom:0;left:10px;right:10px;height:2px;background:$col_p600;z-index:3}
						}
					}
					&::-webkit-scrollbar{display:none}
					
				}
				&.fixed{
					.navList{position:fixed;top:0;left:0;box-shadow:0 5px 5px rgba($col_black, 0.05)}
				}
			}
		}
		.container{padding-top:32px}
		& ~ footer{padding-bottom:132px;padding-bottom:calc(constant(safe-area-inset-bottom) + 132px);padding-bottom:calc(env(safe-area-inset-bottom) + 132px)}
	}
	&.searchWrapper{
		header{padding-right:20px}
	}
	&.completeWrapper{
		.container{padding:0 20px 64px}
		.kf_bgGray{background:$col_g100;}
	}
	&.floatingWrapper{
		header{height:56px;}
		.container{padding-top:68px}
		& ~ footer{padding-bottom:88px;padding-bottom:calc(constant(safe-area-inset-bottom) + 88px);padding-bottom:calc(env(safe-area-inset-bottom) + 88px)}
	}	
}

.quickSearch{position:fixed;bottom:0;left:0;width:100%;z-index:1000;
	.quickInner{text-align:center;padding-top:40px;
		.tit{position:absolute;top:1px;left:50%;width:164px;height:40px;margin-left:-82px;padding-top:4px;color:$col_p600;font-weight:$weight600;line-height:47px;background:url(#{$img_url}/common/bg_quickTit.png) no-repeat 50% 100% / auto 44px;z-index:1;
		&:before{content:'';display:inline-block;width:14px;height:14px;margin:0 5px -2px 0;background:url(#{$img_url}/common/spr_ico.svg) no-repeat -50px -54px}
	}
		.quickList{position:relative;display:flex;padding:0 20px;background:$col_white;box-shadow: 0 -4px 8px 0 rgba($col_black, 0.05);z-index:0;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);
			> li{width:100%;height:75px;
				a{position:relative;display:block;height:63px;padding-top:48px;color:$col_g600;font-size:rem(13px);text-align:center;
					&:before{@include pseudo(24px,24px);top:18px;margin-top:0;background:url(#{$img_url}/common/spr_quick.svg) no-repeat}
				}
				&.rentcar a:before{background-position:-26px 0}
				&.stay a:before{background-position:-52px 0}
				&.cafe a:before{background-position:-78px 0}
				&.trip a:before{background-position:-104px 0}
			}
		}
	}
	& ~ aside{
		.asideLeft, .asideRight{bottom:99px;bottom:calc(constant(safe-area-inset-bottom) + 99px);bottom:calc(env(safe-area-inset-bottom) + 99px);}
	}
}

aside{
	div > button{@extend %textHidden;position:relative;display:block;width:48px;height:48px;margin-top:16px;border-radius:50%;background:$col_white;z-index:1000;box-shadow: 0 8px 16px 0 rgba($col_g900, 0.1);
		&:after{@include pseudo(18px,18px);background:url(#{$img_url}/common/spr_layout.svg) no-repeat}
		&.btTop:after{background-position:-140px 0}
		&.btPopup:after{background-position:-160px 0}
		&.btSearch:after{background-position:-180px 0}
	}
	.asideLeft, .asideRight{position:fixed;bottom:24px;bottom:calc(constant(safe-area-inset-bottom) + 24px);bottom:calc(env(safe-area-inset-bottom) + 24px);z-index:900;}
	.asideLeft{left:20px}
	.asideRight{right:20px;}
}

footer{position:relative;padding:0 20px 32px;border-top:1px solid $col_g200;padding-bottom:calc(constant(safe-area-inset-bottom) + 32px);padding-bottom:calc(env(safe-area-inset-bottom) + 32px);z-index:100;background:$col_pointB url(#{$img_url}/common/bg_footer.png) no-repeat 50% 106px / 100% auto;
	.footCenter{position:relative;margin:0 -20px;padding:21px 20px 24px;text-align:left;background:$col_white;
		h4{color:$col_g900;font-weight:$weight700}
		.callNum{display:inline-block;margin-top:5px;color:$col_g900;font-size:rem(22px);font-weight:$weight700;line-height:1}
		.callTime{position:absolute;top:33px;right:20px;
			>li{font-size:rem(14px);
				.tit{display:inline-block;width:60px;font-size:rem(14px);}
			}
		}
	}
	.footMenu{margin-top:35px;font-size:0;
		li{margin-top:2px;
			.tit{display:inline-block;width:76px;color:$col_white;font-weight:$weight600;line-height:28px}
			a{position:relative;display:inline-block;padding:5px 8px 5px 9px;color:$col_white;line-height:28px;font-size:rem(14px);opacity:0.5;
				& + a:before{content:'';display:block;position:absolute;top:50%;left:0;width:1px;height:12px;margin-top:-6px;background:rgba($col_white, 0.5)}
			}
		}
		&.subMenu{margin:35px 0 0 -9px;
			li{display:inline-block;
				> a{display:block;padding:0 8px 0 9px;font-size:rem(13px);opacity:1;font-weight:$weight600}
				& + li > a{opacity:0.6;font-weight:$weight400;
					&:before{content:'';display:block;position:absolute;top:50%;left:0;width:1px;height:12px;margin-top:-6px;background:rgba($col_white, 0.2)}
				}
			}
		}
	}
	.snsList{position:relative;margin-top:30px;padding:16px 0;font-size:0;border:solid rgba($col_white, 0.1);border-width:1px 0;
		> a{@extend %textHidden;position:relative;display:inline-block;width:32px;height:32px;border-radius:50%;
			&:after{@include pseudo(32px,32px);background:url(#{$img_url}/common/spr_layout.svg) no-repeat -117px -29px;opacity:0.4}
			&.insta:after{background-position:-151px -29px}
			&.youTube:after{background-position:-185px -29px}
			&.blog:after{background-position:-219px -29px}
			& + a{margin-left:15px;}
		}
		.downList{position:absolute;top:50%;right:0;margin-top:-16px;
			button{@extend %textHidden;position:relative;display:inline-block;width:32px;height:32px;margin-left:15px;font-size:0;padding:0;
				&:after{@include pseudo(32px,32px);background:url(#{$img_url}/common/spr_layout.svg) no-repeat -253px -29px}
				&.ios:after{background-position:-287px -29px}
			}
		}
	}
	.txtFoot, .txtFoot02, .txtFoot03, .txtCopy{margin-top:12px;color:$col_g600;font-size:rem(13px);line-height:1.62;color:rgba($col_white, 0.4)}	
	.txtCopy{margin-top:24px}
}

/* title */
[class^=titDep]{color:$col_g900;font-weight:$weight700;line-height:1;
	.date{display:inline-block;margin-left:5px;color:$col_g600}
	&.kf_line{margin-top:32px;margin-bottom:0 !important;padding:39px 20px 13px 20px}
	.ness{display:inline-block;color:$col_p600;margin-left:2px;font-size:rem(12px)}
}
.titDep2{font-size:rem(22px);line-height:1.36}
.titDep3{margin-bottom:16px;font-size:rem(20px);line-height:1.4;
	> a{display:block;position:relative;
		&:after{content:'';display:inline-block;width:6px;height:6px;border:solid $col_g900;border-width:2px 2px 0 0;margin:0 0 3px 5px;@include prefix(transform,rotate(45deg));}
	}
}
.titDep4{margin-bottom:12px;font-size:rem(18px);line-height:1.44;}
.titDep5{margin-bottom:12px;font-size:rem(16px);line-height:1.44}
.tit14{@extend %size14;}

.titArea{position:relative;margin-bottom:10px;	
	.btIco{position:absolute;top:-15px;right:-19px}
	.frmInp.txt{display:inline-block;position:absolute;top:50%;right:0;@include prefix(transform,translateY(-50%));}
	.side{position:absolute;bottom:0;right:0}
}

.pageTit{display:block;margin:18px 0 -4px 0;color:$col_g900;font-weight:$weight900;font-family:NanumSquareR;font-size:rem(26px);line-height:1.31;letter-spacing:-0.02em;
    &:after{content:'';display:inline-block;width:4px;height:4px;margin-bottom:15px;border-radius:50%;background-color:$col_pointR}
	.kf_price{color:$col_p600}
}
.subTit{display:block;margin-top:12px}
.wrapper.airWrapper .container .pageTit{margin-top:0}

/* button */
.btnDefault{overflow:hidden;position:relative;display:block;width:100%;color:$col_primary;text-align:center;background:$col_p200;
	&:disabled{color:$col_white;border:none;background:$col_g300 !important}
	&:active{background:$col_p300}
	&.action{color:$col_white;background:$col_primary;
		&:active{background:$col_p800}
	}
}
.btnL{height:56px;font-size:rem(18px);font-weight:$weight600;border-radius:12px;line-height:56px;}
.btnM{height:48px;font-size:rem(15px);font-weight:$weight600;border-radius:8px;line-height:48px}

.btnS{display:inline-block;width:auto;height:32px;padding:0 12px;color:$default_col;font-size:rem(13px);font-weight:$weight600;border-radius:8px;border:1px solid $col_g500;line-height:31px;background:$col_white;
	&:active{background:$col_g100}
}
.btnS2{display:inline-block;width:auto;height:40px;padding:0 12px;color:$default_col;font-size:rem(14px);font-weight:$weight600;border-radius:8px;border:1px solid $col_g500;line-height:38px;background:$col_white;}
.btnLineP{color:$col_p600;border:1px solid $col_p600;background:$col_white;
	&:active{background-color:$col_p100}
}
.btnLineG{color:$col_g800;border:1px solid $col_g500;background:$col_white;
	&:active{background-color:$col_g100}
}

.btIco{@extend %textHidden;position:relative;display:inline-block;width:56px;height:56px;
	&:after{@include pseudo(24px,24px);background:url(#{$img_url}/common/spr_ico.svg) no-repeat}
	&.icoReset:after{background-position:-259px 0}
	&.icoHome:after{background-position:-387px 0}
	&.icoSearch{width:48px;height:48px;border:1px solid $col_g200;border-radius:8px;background:$col_white;
		&:after{background-position:-233px 0}
		&.colPoint{border-color:$col_primary;background-color:$col_primary;
			&:after{background-position:-207px 0}
		}
	}
	&.icoChange{
		&:after{@include pseudo(18px,18px);background:url(#{$img_url}/air/spr_air.svg) no-repeat -116px -20px}
	}
	&.icModify:after{background-position:-34px -26px}
	&.icoEdit:after{@include pseudo(20px,46px);background-position:-100px -26px}
	&.icCopy:after{@include pseudo(18px,18px);background-position:-120px -26px}
}
.icoMore{position:relative;display:inline-block;width:auto;padding:0 31px 0 0;font-size:rem(16px);font-weight:$weight600;line-height:24px;
	&:after{@include pseudo(26px,26px);left:auto;right:0;margin-left:0;background:url(#{$img_url}/common/spr_ico.svg) no-repeat -50px 0}
}
.icDel{@extend %textHidden;width:46px;height:46px;
	&:after{@include pseudo(20px,20px);background:url(#{$img_url}/common/spr_ico.svg) no-repeat -28px 0}
}
.btLink01{display:inline-block;position:relative;padding:5px 14px;color:$col_g800;
	&:after{content:'';display:block;position:absolute;;top:50%;right:0;width:12px;height:12px;margin-top:-6px;background:url(#{$img_url}/common/spr_ico.svg) no-repeat -14px -72px}
}
.btLink02{display:inline-block;position:relative;padding:5px 12px 5px 12px;color:$col_g600;font-size:rem(14px);letter-spacing:-0.02em;
	&:after{content:'';display:block;position:absolute;top:50%;right:2px;width:5px;height:5px;margin-top:-5px;border:solid $col_g600;border-width:2px 2px 0 0;@include prefix(transform,rotate(45deg));}
}
.btLink{display:inline-block;padding:10px 5px;color:$col_g600;font-size:rem(14px);font-weight:$weight600;line-height:1.14;text-decoration:underline;letter-spacing:-0.02em}

.btArr{padding-right:22px;
	&:after{content:'';display:block;position:absolute;top:50%;right:8px;width:12px;height:12px;margin-top:-6px;background:url(#{$img_url}/common/spr_ico.svg) no-repeat 0 -72px}
}
.icAdd{
	&:before{content:'';display:inline-block;width:14px;height:14px;margin:0 5px -1px 0;background:url(#{$img_url}/common/spr_ico.svg) no-repeat -204px -54px}
}
.btSearchPop{display:block;width:100%;height:48px;padding:0 20px 0 40px;border:1px solid $col_g200;border-radius:8px;text-align:left}

.btnArea{display:flex;margin:32px -4px 0;
	.btnDefault{width:100%;margin:0 4px}
	.icoShare{flex:0 0 56px}
	&.type02{margin-top:0;}
	&.type03{margin-top:16px}
	& + .btnArea{margin-top:8px;}
}
.floatingBtns{/*height:88px;height:calc(constant(safe-area-inset-bottom) + 88px);height:calc(env(safe-area-inset-bottom) + 88px);*/
	.floatingInner{position:fixed;bottom:0;left:0;width:100%;padding:16px 16px 20px;border-radius:16px 16px 0 0;background:$col_white;box-shadow: 0 -4px 8px 0 rgba($col_black, 0.05);z-index:998;
		padding-bottom:calc(constant(safe-area-inset-bottom) + 20px);padding-bottom:calc(env(safe-area-inset-bottom) + 20px);}
	&.floatingCase01{
		.floatingInner{display:flex;
			.btnDefault{margin:0 4px}
		}
	}
	&.floatingCase02{
		.floatingInner{display:flex;
			.btIco{flex:0 0 56px}
			.btnDefault{margin:0 4px}
		}
	}
	&.floatingCase03{
		.floatingInner{text-align:right;
			&:after{content:'';display:block;clear:both}
			.txtArea{float:left;height:56px;text-align:left;display:flex;align-items:left;flex-direction:column;justify-content:center;
				.tit{font-size:rem(14px);line-height:1.2}
				.txtPoint{display:block;margin-top:6px;color:$col_p600;font-size:rem(18px);font-weight:$weight700;line-height:1.2;
					&.default{color:$col_g600}
				}
				a.txtPoint{position:relative;display:inline-block;padding-right:18px;
					&:after{@include pseudo(5px,5px);left:auto;right:2px;margin-left:0;border:solid $col_g500;border-width:2px 2px 0 0;@include prefix(transform,rotate(45deg));}
				}
			}
			.btnDefault{display:inline-block;width:163px}
		}
	}
	&.floatingCase04{
		.termArea{overflow:auto;margin:0 -20px 16px -20px;padding-left:20px;white-space:noWrap;
			.selectWrap{display:inline-block;width:200px;margin-left:8px;white-space:noWrap;
				&:first-child{margin-left:0}
				&:last-child{margin-right:20px}
			}
		}
		.termArea::-webkit-scrollbar{display:none}
	}
	&.floatingCase05{height:0;
		.floatingInner{padding:0;left:0;bottom:24px;bottom:calc(constant(safe-area-inset-bottom) + 24px);bottom:calc(env(safe-area-inset-bottom) + 24px);text-align:center;background:none;box-shadow:none;z-index:999;
			button{display:inline-block;}
			.btSearch{@extend %textHidden;position:absolute;top:0;left:20px;width:44px;height:44px;border-radius:50%;border:1px solid $col_p600;background:$col_white;
				&:after{@include pseudo(18px,18px);background:url(#{$img_url}/common/spr_ico.svg) no-repeat -78px 0}
			}
			.sortingArea{display:inline-block;height:48px;margin:0 auto;padding:0 10px;font-size:0;text-align:center;border-radius:48px;background:$col_primary;@include prefix(transform,trnslateX(-50%));white-space:nowrap;
				> button{@extend %textHidden;position:relative;display:inline-block;width:48px;height:48px;margin:0 -1px;padding:0 10px;color:$col_white;font-size:rem(14px);font-weight:$weight500;font:0/0 Arial;vertical-align:top;white-space:nowrap;
					&:after{content:'';display:block;position:absolute;top:14px;bottom:14px;left:0;width:1px;background:rgba($col_white, 0.1)}
					&:first-child{
						&:after{display:none;}
					}
					& + .selectSorting:after{content:'';display:block;position:absolute;top:14px;bottom:14px;left:0;width:1px;background:rgba($col_white, 0.1)}
				}
				.btMap{
					&:before{@include pseudo(16px,16px);background:url(#{$img_url}/common/spr_ico.svg) no-repeat -32px -54px}
				}
				.btSort{
					&:before{@include pseudo(16px,16px);background:url(#{$img_url}/common/spr_ico.svg) no-repeat -116px 0}
				}
				.btFilter{
					&:before{@include pseudo(16px,16px);background:url(#{$img_url}/common/spr_ico.svg) no-repeat -98px 0}
				}
				.selOption{position:relative;display:inline-block;height:48px;vertical-align:top;white-space:nowrap;
					input{position:absolute;right:5px;top:5px;
						&:checked + label:after{right:2px}
					}
					label{position:relative;display:block;height:48px;padding:0 41px 0 11px;color:$col_white;font-size:rem(14px);line-height:48px;
						&:before{content:'';display:block;position:absolute;top:50%;right:0;width:36px;height:18px;margin-top:-9px;border-radius:18px;background:$col_p800}
						&:after{content:'';display:block;position:absolute;top:50%;right:20px;width:14px;height:14px;margin-top:-7px;border-radius:50%;background:$col_p600;transition:0.3s}
					}
					&.priceOption{position:relative;padding-left:36px;margin-right:2px;
						&:before{content:'';display:block;position:absolute;top:14px;bottom:14px;left:0;width:1px;background:rgba($col_white, 0.1)}
						&:after{content:'';display:block;position:absolute;top:50%;left:17px;width:14px;height:14px;margin-top:-7px;background:url(#{$img_url}/common/spr_ico.svg) no-repeat -188px -54px}
						label{@extend %textHidden;padding-left:0;}
					}
				}
				.selectWrap.selectSorting{display:inline-block;white-space:nowrap;
					.ui-selectmenu-button{@extend %textHidden;width:48px;height:48px;padding:0;border:none;
						&:after{display:none;}
						&:before{@include pseudo(16px,16px);background:url(#{$img_url}/common/spr_ico.svg) no-repeat -116px 0}
					}
				}
			}

			.asideRight{position:absolute;bottom:0;right:20px;z-index:1;
				.btTop{@extend %textHidden;position:relative;display:none;width:48px;height:48px;border-radius:50%;background:$col_white;z-index:1000;box-shadow: 0 8px 16px 0 rgba($col_g900, 0.1);
					&:after{@include pseudo(18px,18px);background:url(#{$img_url}/common/spr_layout.svg) no-repeat -140px 0}
				}				
			}
			.myViewGo{position:relative;display:flex;width:48px;height:48px;margin-top:8px;box-shadow:0 8px 16px 0 rgba($col_g900,.1);border-radius:8px;align-items:center;justify-content:center;
				> img{overflow:hidden;display:flex;background:$body_color;border-radius:8px;border:1px solid $col_white}
				.listNum{position:absolute;top:-4px;right:-4px;width:18px;height:18px;color:$col_white;font-size:rem(11px);line-height:1.58;text-align:center;border-radius:50%;background:$col_p600;}
			}
		}
	}
	&.floatAbs{margin-top:-32px;
		.floatingInner{position:relative;}	
	}
}
.absolBtns{height:72px;
	.absolInner{position:absolute;bottom:0;left:0;right:0;padding:0 16px 16px;background:$col_white;display:flex;
		.btnDefault{width:100%;margin:0 4px}
	}
}

/* form */
input[type=text], input[type=password], input[type=tel], input[type=number], input[type=search], input[type=date], input[type=email]{display:block;width:100%;height:48px;padding:0 15px;color:$default_col;font-size:inherit;font-family:inherit;line-height:48px;border-radius:8px;border:1px solid $col_g200;background:$col_white}
input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=search]:focus, input[type=date]:focus, input[type=email]:focus{border-color:$col_p600;outline:0}
input[type=text]:read-only, input[type=password]:read-only, input[type=tel]:read-only, input[type=number]:read-only, input[type=search]:read-only, input[type=date]:read-only, input[type=email]:read-only, [type=text]:disabled, input[type=password]:disabled, input[type=tel]:disabled, input[type=number]:disabled, input[type=search]:disabled, input[type=date]:disabled, input[type=email]:disabled{color:$col_g500;border-color:$col_g200;background:$col_g100}
textarea, input[type=date]{-webkit-border-radius:0;-webkit-appearance:none;appearance:none;resize:none} 
textarea{width:100%;height:120px;padding:14px 16px;border-radius:8px;border:none;background:$col_g100;border:1px solid $col_g100;
	&:focus{outline:0;border-color:$col_p600;}
}
grammarly-extension{display:none}
input[type=search]::-webkit-search-cancel-button{display:none} 
input:-internal-autofill-selected{background-color:$col_white !important} 

.inpFrm{margin-top:24px;
	label{display:block;margin-bottom:7px;color:$col_g800;font-size:rem(14px);font-weight:$weight600;line-height:1.35}
	.inpA{position:relative;display:block;
				
		&.inpText{
			& + .textNum{color:$col_g600;font-size:rem(13px);line-height:1.2;text-align:right}
		}
		&.inpBtns{display:flex;
			.btnM{flex:0 0 88px;margin-left:8px}
		}
		&.inpFlex{display:flex;
			.dash{flex:0 0 20px;color:$col_g400;text-align:center;line-height:48px}
		}
	}
	&.inpDeleteAni{
		.inpA{
			input{padding-right:50px;}
			.icDel{position:absolute;top:1px;right:1px;display:none;}
		}		
	}
	&.inpPidNum{
		.inpA{display:flex;
			> input{flex:0 calc(50% - 8px)}
			.dash{flex:0 16px;line-height:48px;text-align:center}
			.inpPidAfter{flex:0 calc(50% - 8px);
				input{width:42px;display:inline-block;margin-right:8px}
			}
		}
	}	
}
.inpError{
	input[type=text], input[type=password], input[type=tel], input[type=number], input[type=search], input[type=date]{color:$col_redP;border-color:$col_pointR}
}
.txtInfo{margin-top:6px;color:$col_g600;font-size:rem(12px);line-height:1.33}
.txtErr{margin-top:6px;color:$col_redP;font-size:rem(12px);line-height:1.33}

.searchArea{position:relative;padding-right:56px;
	.icoSearch{position:absolute;top:0;right:0}
}
.inpfileAttach{
	> label{display:block;margin-bottom:8px;color:$col_g800;font-size:rem(14px);line-height:1}
	.attachWrap{position:relative;padding-right:96px;
		input[type=file]{position:absolute;top:0;right:0;width:88px;height:100%;opacity:0;z-index:100;appearance:none}
		.file{@include ellipsis(1, auto);display:block;height:48px;padding:0 15px;line-height:46px;border:1px solid $col_g200;border-radius:8px;}
		.buttonFile{position:absolute;top:0;right:0;width:88px;height:48px;color:$col_g800;font-weight:$weight600;line-height:46px;text-align:center;border:1px solid $col_g200;border-radius:8px;}
	}
	.fileList{margin-top:11px;
		> li{position:relative;margin-top:6px;
			>a{display:block;height:40px;padding:0 15px;font-size:rem(14px);line-height:40px;border-radius:8px;background:$col_g100;
				.txt{@include ellipsis(1, auto);display:inline-block;max-width:calc(100% - 90px);line-height:40px}
				.volume{display:inline-block;margin-left:5px;color:$col_g400;font-size:rem(14px);line-height:40px;vertical-align:top}
			}
			.icDel{width:40px;height:40px;position:absolute;top:0;right:0;
				&:after{width:12px;height:12px;margin:-6px 0 0 -6px;background-position:0 -26px}
			}
		}
	}
}

//radio/checkbox
.frmBox{display:flex;margin:-8px -4px 0;flex-wrap:wrap;
	> li{position:relative;flex:0 50%;flex-shrink:0;padding:0 4px;margin-top:8px;
		input{position:absolute;top:10px;left:10px;z-index:1;
			&:checked + label{color:$col_p600;border-color:$col_p300;background-color:$col_p100}
		}
		label{position:relative;display:block;height:48px;font-size:15px;font-weight:$weight600;line-height:46px;border:1px solid $col_g200;border-radius:8px;box-sizing:border-box;text-align:center;background:$col_white;z-index:2}
	}
	&.boxCol03 > li{flex:0 33.33%}
	&.boxCol04 > li{flex:0 25%}
	&.frmBoxS{
		> li{flex:0 25%;margin-top:0;
			label{height:40px;padding:0 10px;font-size:14px;line-height:38px;}
		}
	}
	&.frmTog{overflow:hidden;flex-wrap:nowrap;margin:0;border-radius:8px;
		> li{padding:0;margin:0;
			label{border-radius:8px 0 0 8px;border:1px solid $col_g200;z-index:1}
			//&:first-child label{border-left:none}
			& + li{
				label{border-radius:0 8px 8px 0;}
			}			
		}		
	}
	&.frmTogS{overflow:hidden;display:inline-block;margin:0;border:1px solid $col_g200;border-radius:8px;
		> li{display:inline-block;padding:0;margin:0 0 0 -4px;
			&:first-child{margin:0}
			label{width:56px;border:none;border-radius:0;border-left:1px solid $col_g200}
			&:first-child label{border-left:none}
		}	
	}
}

.frmInp{position:relative;display:inline-block;
	input{position:absolute;top:5px;left:5px;z-index:1;
		&:checked + label:before{border:none;background:$col_primary}
		&:checked + label:after{border-color:$col_white}
		&:disabled + label{color:$col_g500}
		&:disabled + label:before{border:none;background:$col_g300}
		&:disabled + label:after{border-color:$col_g200}
		&[type=radio]{
			& + label{
				&:before{border-radius:50%}
				&:after{@include pseudo(8px,8px);top:0;left:0;margin:7px 0 0 7px;border:none;border-radius:50%;background:$col_g300;transform:none}
			}
			&:checked + label:after{background:$col_white}
		}
	}
	label{position:relative;display:block;min-height:22px;padding-left:22px;line-height:22px;z-index:2;
		&:before{@include pseudo(22px,22px);top:0;left:0;margin:0;border:1px solid $col_g200;border-radius:4px;background:$col_white;box-sizing:border-box}
		&:after{content:'';display:block;position:absolute;top:6px;left:6px;width:8px;height:4px;border:solid $col_g400;border-width:0 0 2px 2px;@include prefix(transform,rotate(-45deg));}
	}
	&.txt{display:block;
		label{padding-left:28px}
		.viewBtn{position:absolute;top:1px;right:-5px;width:20px;height:20px;z-index:2;
			&:after{@include pseudo(12px,12px);background:url(#{$img_url}/common/spr_ico.svg) no-repeat 0 -72px}
		}
		&.small{
			input[type=checkbox]{
				&:checked+label:after{border-color:$col_p600}
				& + label{
					&:before{border:0;background:transparent}
					em{color:$col_p600}
				}
			}
			input[type=radio] + label{min-height:18px;padding-left:26px;line-height:18px;
				&:before{width:18px;height:18px}
				&:after{margin:5px 0 0 5px}
			}
			
		}
		&.large{color:$col_g900;font-weight:$weight600;font-size:rem(18px);line-height:1.44;letter-spacing:-.02em;
			label{
				&:before{width:22px;height:22px;line-height:22px;border-color:$col_g400}
				&:after{top:7px;left:6px}
			}
		}
	}	
}
.agreeList{margin-top:21px;padding-top:6px;border-top:2px dotted $col_g300;
    li{margin-top:12px}
    &.toggleList .acctItem{
        & > .frmInp{position:absolute;
            & + .toggleBtn{height:22px;line-height:22px;
                &:after{right:3px;margin-top:-6px;border-color:$col_g500}
            }
        }
        .toggleCont .chk-group{display:block;padding-top:10px;
            .frmInp.txt{display:inline-block;margin-left:28px;
                & + .frmInp.txt{margin-left:16px}
            }
        }
    }
    & + .listType01{margin:16px 0 -4px}
}
.frmList{
	> .frmInp{margin-top:12px;
		&:first-child{margin-top:0}
		.txtEtc{display:block;margin-top:4px;color:$col_g600;font-size:rem(13px)}
	}
}
.searchIcon{position:relative;
	&:before{@include pseudo(24px,24px);left:13px;margin-left:0;background:url(#{$img_url}/common/spr_ico.svg) no-repeat -285px 0;z-index:2}
	.inpSear{padding:0 50px 0 40px;}
	.icDel{position:absolute;top:1px;right:1px;display:none}
	&.inpFocus:before{background-position:-285px -26px}
}

// selectbox
.selectWrap{position:relative;
	select{display:none}
	.ui-selectmenu-button{position:relative;display:block;width:100%;border:1px solid $col_g200;border-radius:8px;
		&:after{content:'';display:block;position:absolute;top:50%;right:15px;width:12px;height:12px;margin-top:-6px;background:url(#{$img_url}/common/spr_ico.svg) no-repeat -28px -72px}
		&.custom-customSelect-disabled{background:$col_g100;
			span{color:$col_g500}
		}
		span{@include ellipsis(1, auto);display:block;width:100%;height:48px;padding:0 45px 0 15px;color:$col_g500;line-height:48px;text-align:left;}
	}
	.ui-selectmenu-menu{display:none;position:fixed;bottom:-100%;left:0;width:100%;border-radius:16px 16px 0 0;background:$col_white;z-index:1000;		
		&.ui-selectmenu-open{display:block;bottom:0;
			& ~ .dimmed{display:block;opacity:1}
		}
		.selectScroll{max-height:calc(100vh - 250px);overflow-y:auto;}
		.titSelect{position:relative;height:68px;padding:0 20px;color:$col_g900;font-size:rem(20px);font-weight:$weight700;line-height:68px;text-align:left;background:none}
		.ui-menu{
			li{
				.ui-menu-item-wrapper{@include ellipsis(1, auto);position:relative;display:block;height:56px;padding:0 56px 0 20px;font-size:rem(15px);line-height:56px;font-weight:$weight600;border-top:1px solid $col_g100;text-align:left;
					&.ui-state-active{color:$col_p600;background:$col_p100;
						&:after{content:'';display:block;position:absolute;top:50%;right:22px;width:11px;height:6px;margin-top:-4px;border:solid $col_p600;border-width:0 0 2px 2px;@include prefix(transform,rotate(-45deg));}
					}
				}
				&:first-child > a{border-top:none}
			}
		}
	}
	.dimmed2{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba($col_black, 0.8);z-index:998}
	.closeL{@extend %textHidden;position:absolute;top:-50px;right:8px;width:56px;height:56px;z-index:1000;
		&:after{@include pseudo(26px,26px);background:url(#{$img_url}/common/spr_layout.svg) no-repeat -112px 0}
	}
}


//scroll 영역
.scrollVArea{overflow:auto;overflow-x:hidden;margin:0 -20px;padding:0 20px;
	.frmBox{white-space:nowrap;margin:0 -4px;
		>li:last-child{margin-right:20px}
	}
	.frmBoxS{display:block;
		> li{display:inline-block;
			label{padding:0 14px}
		}
	}
}
.scrollVArea::-webkit-scrollbar{display:none}

/* layerPopup */
.layPop{display:none;position:fixed;background:$col_white;z-index:1000;
	&.layFull{top:0;left:0;width:100%;height:100%;
		&.layScroll{
			header{box-shadow:0 8px 10px rgba($col_black, 0.05)}
		}
		.layContainer{height:calc(100% - 56px);margin-top:56px;padding:32px 20px 16px;
			.layContent{position:relative;height:auto;min-height:100%;
				.pageTit{margin-top:0}
			}
		}
	}
	header{position:absolute;top:0;left:0;width:100%;height:56px;z-index:10;
		.titLay{@include ellipsis(1, auto);height:56px;padding:0 20px;color:$col_g900;font-size:rem(18px);font-weight:$weight700;line-height:56px;text-align:center}
	}
	.layContainer{overflow:auto;overflow-x:hidden}
	.btnBtm{height:100px;
		.btnArea{position:absolute;bottom:0;left:0;width:100%;margin:0;padding:22px 20px;background:$col_white}
	}
	> .closeL{@extend %textHidden;position:absolute;top:0;right:0;width:56px;height:56px;z-index:100;
		&:after{@include pseudo(26px,26px);background:url(#{$img_url}/common/spr_layout.svg) no-repeat -84px 0}
	}
	&.layBtm{bottom:-100%;width:100%;border-radius:16px 16px 0 0;max-height:calc(100% - 56px);
		.layContainer{margin-top:68px;padding:0 20px 16px;
			.layContent{padding-bottom:32px}
		}
		.closeL{right:4px;top:-52px;
			&:after{background-position:-112px 0}
		}
	}
	&.layCent{overflow:hidden;top:50%;left:20px;bottom:auto !important;right:20px;@include prefix(transform,translateY(-50%));border-radius:12px;
		header{height:64px;background:$col_white;
			.titLay{padding-right:66px;}
		}
		.layContainer{max-height:calc(100vh - 200px);padding:64px 20px 20px;
			.btnBtm{height:72px;
				.btnArea{position:absolute;bottom:0;padding:16px 16px 20px}
			}
		}
		&.layCentType02{
			header{height:auto;position:relative;
				.titLay{height:auto;padding:44px 0 10px;line-height:1.44;text-align:center;font-weight:$weight700}
			}
			.layContainer{padding-top:0;
				.txtPop{text-align:center}
			}
		}
	}
	
	.floatingBtns{
		&.floatingCase02{height:92px;height:calc(constant(safe-area-inset-bottom) + 92px);height:calc(env(safe-area-inset-bottom) + 92px);}
		&.floatingCase06{height:144px;height:calc(constant(safe-area-inset-bottom) + 144px);height:calc(env(safe-area-inset-bottom) + 144px);}
		&.floatAbs{margin:0 -20px 0}
	} 
}
.toastPopup{display:none;position:fixed;top:-50px;left:20px;right:20px;padding:14px 0 13px;border-radius:8px;text-align:center;background:rgba($col_g900, 0.9);animation:toastPop 5s;z-index:100;
	.txt{color:$col_white;font-size:rem(14px);
		em{color:$col_secondary}
	}
	@keyframes toastPop{
		0%{top:-50px;display:block}
		30%{top:68px;display:block}
		90%{top:68px;display:block}
		100%{top:-50px;display:none}
	}
}

/* swiper */
.swiperWrap{overflow:hidden;position:relative;margin:0 -20px;
	.swiper-container{overflow:hidden;position:static;width:100%;padding:0 20px;font:0/0 Arial;}
	.swiper-wrapper{position:relative;display:flex;width:100%;transition-property:transform;z-index:1;box-sizing:content-box;
		.swiper-slide{overflow:hidden;width:100%;display:flex;flex-shrink:0;transition-property:transform;box-sizing:border-box;transform:none}
	}
	.swiper-pagination{position:relative;width:100% !important;text-align:center;font:0/0 Arial;
		.swiper-pagination-bullet{@extend %textHidden;position:relative;display:inline-block;width:5px;height:5px;margin:18px 2px 0;border-radius:50%;background:$col_black;opacity:0.3;transition:0.3s;vertical-align:top;
			&.swiper-pagination-bullet-active{width:20px;opacity:1;border-radius:5px} 
		}
		.btAutoplays{display:inline-block;margin-top:11px;height:18px;
			*{vertical-align:top}
			> button{@extend %textHidden;position:relative;display:inline-block;font-size:0;width:18px;height:18px;
				&:after{@include pseudo(12px,12px);background:url(#{$img_url}/common/spr_ico.svg) no-repeat;}
				&.btStop{
					&:after{background-position:-174px -54px}
				}
				&.btPlay{display:none;
					&:after{background-position:-160px -54px}
				}
			}
		}
	}
	[class^=swiper-button-]{@extend %textHidden;position:absolute;top:50%;width:50px;height:50px;margin-top:-25px;background:#444;z-index:100;
		&.swiper-button-prev{left:20px}
		&.swiper-button-next{right:20px}
	}
	&.swiperPaging{
		[class^=swiper-button-]{margin-top:-36px}
	}
	.swiper-paging{position:absolute;top:-44px;right:36px;height:24px;padding:0 11px;border-radius:24px;z-index:100;background:rgba($col_black, 0.6);
		*{vertical-align:middle}
		.swiperMore{@extend %textHidden;position:relative;display:inline-block;width:14px;height:14px;margin:0 -2px 0 0;
			&:after{@include pseudo(10px,10px);background:url(#{$img_url}/common/spr_ico.svg) no-repeat -134px 0}
		}
	}
	.paging{display:inline-block;color:$col_white;font-size:rem(12px);line-height:24px;
		[class^=swiper-pagination-]{display:inline-block;padding:0 2px;color:$col_white;font-size:rem(12px);line-height:24px;}
	}
	&.swiperMainBanner{
		.swiper-slide{overflow:hidden;border-radius:12px}
	}
	&.swiperGap{
		.swiper-container{overflow:visible;position:relative;width:calc(100% - 0px)}
	}
	.swiper-notification{height:0;font:0/0 Arial}
	&.swiperVertical{
		.swiper-container{width:calc(100% - 40px);height:100%;margin:0 20px;padding:0}
		.swiper-wrapper{height:100%;flex-direction: column;}
	}
}

/* list/bullet */
.listType01{
	> li{position:relative;margin-top:12px;padding-left:6px;color:$col_g600;line-height:1.53;letter-spacing:-0.03em;
		&:first-child{margin-top:0}
		&:before{content:'';display:block;position:absolute;top:9px;left:0;width:2px;height:2px;background:$col_g600}
		.linkPoint{color:$col_p600;font-weight:$weight600;text-decoration:underline}
		.linkPoint02{color:$col_p600}
	}
}
p.listType01{position:relative;margin-top:12px;padding-left:6px;color:$col_g600;line-height:1.53;letter-spacing:-0.03em;
	&:before{content:'';display:block;position:absolute;top:9px;left:0;width:2px;height:2px;background:$col_g600}
}
.listType02{margin-top:12px;
	> li{position:relative;margin-top:12px;padding-left:22px;color:$col_g600;font-size:rem(14px);
		&:first-child{margin-top:0}
		&:before{content:'';display:block;position:absolute;top:1px;left:0;width:18px;height:18px;background:url(#{$img_url}/common/spr_ico.svg) no-repeat -14px -26px}
	}
}
p.listType02{position:relative;margin-top:12px;padding-left:22px;color:$col_g600;font-size:rem(14px);
	&:before{content:'';display:block;position:absolute;top:1px;left:0;width:18px;height:18px;background:url(#{$img_url}/common/spr_ico.svg) no-repeat -14px -26px}
	&.small{padding-left:16px;
		&:before{top:3px;width:14px;height:14px;background-position:0 -54px}
	}
	&.typePoint{color:$col_redP;opacity:1;
		&:before{top:3px;width:14px;height:14px;background-position:-16px -54px}
	}
}
.guideInfo{position:relative;margin:38px -20px 0;padding:39px 20px 0;border-top:1px solid $col_g200;
	&:before{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:8px;background:$col_g100}
	.titGuide{position:relative;padding:0 0 15px 28px;color:$col_g900;font-size:rem(18px);font-weight:$weight700;border-bottom:1px solid $col_g200;text-align:left;height:auto;line-height:inherit;
		&:before{content:'';display:block;position:absolute;top:2px;left:-1px;width:22px;height:22px;background:url(#{$img_url}/common/spr_ico.svg) no-repeat -311px 0}
	}
	.listType01{margin-top:16px}
	&.boxType01{margin:32px 0 0;padding:18px 20px;border-radius:12px;border-top:none;background:$col_p100;
		&:before{display:none}
		.titGuide{position:relative;height:18px;font-size:rem(16px);margin-bottom:12px;padding:1px 0 0 22px;border:none;line-height:18px;
			&:before{top:0;left:0;width:18px;height:18px;background-position:-300px -54px}
		}
		.listType01{margin-top:8px;
			> li{margin-top:10px}
		}
		p{color:$default_col;}
		a{padding:4px 0;color:$col_p600;font-size:rem(15px)}
		.kf_line + &{margin:0;}
	}
}

/* tab */
.tabType01{display:flex;border-bottom:1px solid $col_g200;background:$col_white;
	> li{width:100%;
		a{position:relative;display:block;height:46px;color:$col_g600;font-size:rem(16px);line-height:46px;text-align:center;
			&[aria-selected=true]{color:$col_g800;font-weight:$weight600;
				&:after{content:'';display:block;position:absolute;bottom:0;left:0;width:100%;height:2px;border-radius:2px;background:$col_g800;z-index:1000}
			}
		}
	}
	&.tabConts{position:relative;margin:0 -20px;padding-top:8px;border-top:1px solid $col_g200;
		&:before{content:'';display:block;position:absolute;top:0;left:0;right:0;height:8px;background:$col_g100}
	}
}
.tabType02{margin:0 -20px;padding:0 8px;border-bottom:1px solid $col_g200;background:$col_white;
	> li{display:inline-block;
		a{position:relative;display:block;height:47px;padding:0 12px;color:$col_g600;font-size:rem(16px);line-height:47px;text-align:center;
			&[aria-selected=true]{color:$col_p600;font-weight:$weight700;
				&:after{content:'';display:block;position:absolute;bottom:0;left:12px;right:12px;height:2px;border-radius:2px;background:$col_p600;z-index:1000}
			}
		}
	}
}
.tabWrap{position:relative;margin:0 -20px;padding-bottom:1px;
	&.fixed{height:47px;
		.tabType01{position:fixed;top:56px;left:0;width:100%;margin:0;z-index:100;}
		button{position:fixed;top:77px}
	}
	[class^=tabType]{overflow:auto;display:block;white-space:nowrap;
		&::-webkit-scrollbar{display:none}
		
	}
	.tabType01{
		> li{display:inline-block;width:auto;min-width:92px;margin-left:-4px;
			&:first-child{margin-left:0}
			> a{padding:0 27px;}
		}
		&.typeTypeFixed{display:flex;
			> li{display:initial;width:100%;}
		}
	}
	> button{position:absolute;top:50%;width:44px;height:44px;margin-top:-22px;z-index:101;
		span{@extend %textHidden;position:relative;display:block;width:24px;height:24px;margin:1px 0 0 10px;border:1px solid $col_g300;border-radius:50%;background:$col_white;box-shadow: 0 4px 8px 0 rgba($col_black, 0.08);z-index:10;vertical-align:top;
			&:after{@include pseudo(12px,12px);background:url(#{$img_url}/common/spr_ico.svg) no-repeat -56px -72px}
		}
		&:before{overflow:hidden;content:'';display:block;position:absolute;top:0;left:50%;width:70px;height:43px;margin-left:-35px;z-index:1;
			background-image:linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 1), rgba(255,255,255, 1))
		}
		&.prev{left:10px;display:none;
			&:before{background-image:linear-gradient(to left, rgba(255,255,255, 0), rgba(255,255,255, 1), rgba(255,255,255, 1))}
			span:after{@include prefix(transform,rotate(180deg));}
		}
		&.next{right:10px;box-shadow:6px 8px 10px 10px rgba(255,255,255,0.6)}
	}
	
	.tabType01.tabConts{margin:0}
	.tabType02{margin:0}
	
	&.tabScroll .tabType01{box-shadow:0 5px 5px rgba($col_black, 0.05)}
}
.tabContentWrap{display:none;
	&.tabON{display:block}
}
/* 아코디언 */
.toggleList{
	.toggleBtn{position:relative;display:block;width:100%;height:48px;padding:0 32px 0 20px;color:$col_g800;font-weight:$weight600;line-height:48px;text-align:left;
		&:after{@include pseudo(12px,12px);left:auto;right:20px;margin:-6px 0 0 0;background:url(#{$img_url}/common/spr_ico.svg) no-repeat -42px -72px;@include prefix(transition,0.3s);}
		&[aria-expanded=true]{
			&:after{@include prefix(transform,rotate(-180deg));}
			& + .toggleCont{display:block;visibility:visible;height:auto;opacity:1;}
		}
		&[aria-expanded=false] + .toggleCont{transition:none}
	}
	.toggleCont{display:none;visibility:hidden;height:0;opacity:0;transition: visibility 0.5s, opacity .3s linear;}
}

/* table */
[class^=tbl]{width:100%;border-top:1px solid $col_g200;
	th,td{padding:15px 16px;text-align:left;border-bottom:1px solid $col_g200}
	th{color:$col_g900;font-weight:$weight600;background:$col_g100}
	td{border-left:1px solid $col_g200;}
}

/* box */
.grayBox{padding:20px;border-radius:12px;background-color:$col_g100;}
.txtGrayBox{margin-top:24px;padding:18px 16px 16px;color:$col_g600;font-size:rem(14px);border-radius:12px;background-color:$col_g100;
	.listType02{margin-top:0}
}

.flagList{margin-bottom:12px}
.flag{display:inline-block;height:24px;margin-right:1px;padding:0 6px;color:$col_r800;font-size:rem(12px);font-weight:$weight600;line-height:24px;background:$col_r100;
	&.envi{color:$col_s800;background:$col_s100}
	&.fly{padding:0 8px;color:$col_s800;background:$col_s100}
}

/* pattern */
//우편번호 찾기
.addrWrap{
	.zipSearch{display:flex;
		input{width:100%}
		.btnDefault{flex:0 0 85px;display:flex;margin-left:8px;justify-content: center;}
	}
	> input{margin-top:8px}
	input[type=text]:read-only, input[type=tel]:read-only{border-color:$col_g200;background:$col_white}
}

// 360이하
@media screen and (max-width:$sizeM) {
	
	input[type=text], input[type=password], input[type=tel], input[type=number], input[type=search], input[type=date], input[type=email]{padding:0 7px}
	.layPop.layCent .layContainer{max-height:calc(100vh - 170px)}
}

// 320이하
@media screen and (max-width:$sizeS) {
	.quickTab{margin:-8px 8px 24px;
		>a{margin:0}
	}
}