@charset "utf-8";

/* icon : search, login, condition, more, back, close, ... */
.k1_icon.search{margin:-4px 3px 0 0;background-position:-22px -44px;}
.k1_icon.login{margin:-4px 3px 0 0;background-position:-88px -44px;}
.k1_icon.naver{width:35px;height:7px;margin:2px 4px 0 0;background-image:url(/air/wfw/imgs/mbl/ico/naver.png);background-repeat:no-repeat;background-size:35px 7px;}
.k1_icon.ticket{margin:-4px 3px 0 0;background-position:0 -88px;}
.k1_icon.docs{margin:-5px 4px 0 0;background-position:-66px -88px;}
.k1_icon.home{margin:-6px 5px 0 0;background-position:-88px -88px;}
.k1_icon.pay-yellow{margin:-5px 6px 0 0;background-position:-44px -154px;}
.k1_icon.condition{margin:-5px 0 0 2px;background-position:-66px -44px;}
.k1_icon.arr_down{width:14px;height:14px;margin-right:6px;background-image:url(/air/wfw/imgs/mbl/ico/arrow.png);background-repeat:no-repeat;background-position:-28px 0;background-size:56px 28px;}
.k1_icon.back{width:14px;height:14px;margin-right:6px;background-image:url(/air/wfw/imgs/mbl/airC/ico/arrow.png);background-repeat:no-repeat;background-position:-42px 0;background-size:56px 28px;}
.k1_icon_min.close, .k1_icon_min.del{background-position:-60px 0;}
.k1_icon_min.pop-close{background-position:-60px 0;}
.k1_icon_min.add{margin-top:-2px;background-position:-75px 0;}
.k1_icon_min.details{margin-top:-2px;background-position:-90px 0;}
button.search{width:22px;height:22px;margin:1px 2px 0 0;padding:0;border:none;background-color:transparent;background-image:url(/air/wfw/imgs/mbl/airC/ico/icon.png);background-repeat:no-repeat;background-position:-44px -44px;background-size:110px 176px;font-size:0;}
button.cal{width:22px;height:22px;margin:1px 2px 0 0;padding:0;border:none;background-color:transparent;background-image:url(/air/wfw/imgs/mbl/airC/ico/icon.png);background-repeat:no-repeat;background-position:-66px -154px;background-size:110px 176px;font-size:0;}
button.paper{width:22px;height:22px;margin:-5px 0 0 0;padding:0;border:none;background-color:transparent;background-image:url(/air/wfw/imgs/mbl/airC/ico/icon.png);background-repeat:no-repeat;background-position:-44px -132px;background-size:110px 176px;font-size:0;}