@charset "utf-8"; 

/* ------------------------------------------------------------------------------------
Basic Style Sheet (for version 4 browsers)

version: 0.2
author: 박수연
email: suudjin@nate.com
설명: B2C
--------------------------------------------------------------------------------------- */
/* header */
#k1_wrap {position:relative; width:100%;}
#k1_header {position:relative; width:100%; height:129px; margin-bottom:30px; background:url(/air/wfw/imgs/airB/common/gnb_bar.jpg) repeat-x 0 bottom;}
#k1_header .k1_top_area {width:930px; margin:0 auto; }
.k1_gnb {width:930px; height:39px; padding:0 0 0 14px;}
.k1_gnb li {float:left; padding:13px 30px 0 30px; height:26px; vertical-align:middle; line-height:15px; background:url(/air/wfw/imgs/airB/common/gnb_line.gif) no-repeat 0 50%;}
.k1_gnb li.first {background:none;}
.k1_gnb li a{color:#fff; font-size:14px; font-weight:bold; text-decoration:none; cursor:pointer;}
.k1_gnb li a:hover,
.k1_gnb li a:active,
.k1_gnb li a:focus{color:#fff77f; font-size:14px;text-decoration:none;}
.k1_gnb li a.on{color:#fff77f; font-size:14px; font-weight:bold; text-decoration:none; cursor:pointer;}
.k1_gnb li a.on:hover,#k1_gnb li a.on:active,#k1_gnb li a.on:focus{color:#fff77f; font-size:14px;text-decoration:none;}

#k1_container {width:930px; margin:0 auto;}
#k1_container:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
#k1_aside {float:left; width:180px;}
#k1_content {float:right; width:730px;}

/* k1_footer */
#k1_footer {width:100%; margin-top:20px;}
#k1_footer .f_cont {width:930px; margin:0 auto;}

/* leftmenu */
#k1_aside h2 .tit{display:block; width:180px; height:45px; background:url(/air/wfw/imgs/airB/cont/leftmenu_tit.gif) no-repeat 0 0; cursor:pointer;}
#k1_aside h2 .tit_off{display:block; width:180px; height:45px; background:url(/air/wfw/imgs/airB/cont/leftmenu_tit.gif) no-repeat 0 -45px; cursor:pointer;}
#k1_aside h2 .txt {margin:16px 0 0 10px;}
#k1_aside .left_menu{width:180px; border-bottom:#eb2727 1px solid;}
#k1_aside .left_menu h3{height:34px; border-top:1px solid #ddd;}
#k1_aside .left_menu h3.first{border:0 none;}
#k1_aside .left_menu h3 a{display:block; padding:11px 10px 10px 33px; background:url(/air/wfw/imgs/icon/bul_arrow_off.gif) no-repeat 10px 11px; line-height:1.3em; vertical-align:middle;}
#k1_aside .left_menu h3 a.active,
#k1_aside .left_menu h3 a:hover{background:url(/air/wfw/imgs/airB/icon/bul_arrow_on.gif) no-repeat 10px 11px; color:#ca2323; font-weight:bold;}
#k1_aside .left_menu .dep3{border-top:1px solid #ddd;}
#k1_aside .left_menu .dep3 li{height:30px; background:url(/air/wfw/imgs/airB/cont/leftmenu_dot_line.gif) repeat-x 0 29px;}
#k1_aside .left_menu .dep3 li a{display:block; padding:9px 0 8px 40px; color:#5e5e5e; background:url(/air/wfw/imgs/airB/cont/leftmenu_dep3_dot1.gif) no-repeat 32px 13px; line-height:1.2em;}
#k1_aside .left_menu .dep3 li a:hover, 
#k1_aside .left_menu .dep3 li a.active{background:url(/air/wfw/imgs/airB/cont/leftmenu_dep3_dot2.gif) no-repeat 32px 13px; color:#ca2323;}
#k1_aside .left_menu .dep3 li.last{background:none;}

/* 네이버랜딩 페이지 */
.k1_landing {text-align:center; margin:30px 0; padding-bottom:20px; border-bottom:3px solid #eb2727;}

/* 비회원예약조회 페이지 */
.k1_nomember_area {margin:0 auto; width:440px; border:1px solid #ddd;}
.k1_nomember_area h1 {text-align:center; margin:20px 0;}
.k1_nomember_area .k1_nomember_cont {padding:0 20px 20px 20px;}
.k1_nomember_area .k1_nomember_cont .k1_nonmember_wrap h2 {font-weight:bold; font-size:13px; margin-bottom:10px; letter-spacing:-1px;}
.k1_nomember_area .k1_nomember_cont .k1_nonmember_wrap label {width:90px; display:inline-block;}
.k1_nomember_area .k1_nomember_cont .k1_nonmember_wrap {overflow:hidden;}
.k1_nomember_area .k1_nomember_cont .k1_nonmember_wrap:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.k1_nomember_area .k1_nomember_cont .k1_nonmember_wrap .k1_loginBox {line-height:22px;}
.k1_nomember_area .k1_nomember_cont .k1_nonmember_wrap .login_input {float:left; width:75%;}
.k1_nomember_area .k1_nomember_cont .k1_nonmember_wrap .btn_login {float:right; margin-top:3px;}
.k1_nomember_area .k1_nomember_cont .k1_nonmember_wrap .btn_login .k1_btn_input01 {font-size:14px;}
.k1_nomember_area .k1_nomember_cont .k1_nonmember_wrap .k1_btn_nomember {width:100%; height:35px; line-height:35px; display:block; font-size:14px; cursor:pointer; color:#fff; border:none; background-color:#EB2727; text-align:center; vertical-align:middle; font-weight:bold;}