	$font-url:"../fonts";

	@font-face {
		font-family: 'Pretendard';
		font-weight: 400;
		font-display: swap;
		src: local('Pretendard Regular'), url(#{$font-url}/Pretendard-Regular.woff2) format('woff2'), url(#{$font-url}/Pretendard-Regular.woff) format('woff');
	}

	@font-face {
		font-family: 'Pretendard'; 
		font-weight: 600;
		font-display: swap;
		src: local('Pretendard SemiBold'), url(#{$font-url}/Pretendard-SemiBold.woff2) format('woff2'), url(#{$font-url}/Pretendard-SemiBold.woff) format('woff');
	}

	@font-face {
		font-family: 'Pretendard'; 
		font-weight: 700;
		font-display: swap;
		src: local('Pretendard Bold'), url(#{$font-url}/Pretendard-Bold.woff2) format('woff2'), url(#{$font-url}/Pretendard-Bold.woff) format('woff');
	}

	@font-face {
		font-family: 'NanumSquareR';
		font-weight: 900;
		font-display: swap;
		src: local('나눔스퀘어라운드 ExtraBold'), url(#{$font-url}/NanumSquareRoundOTFEB.woff) format('woff');
	}