@charset "utf-8";

@import '_pbase', '_pfont';

/* 이벤트 */

/*이벤트*/
.photoListR{display:flex;flex-flow:row wrap;margin:-40px -10px 0;
    li{margin:40px 10px 0;width:414px;
        .inner{display:block;
            .imgCont{overflow:hidden;position:relative;width:414px;height:234px;border-radius:12px;
                img{transition:0.5s;
                    &:hover{transform:scale(1.1)}
                }
            }
            .tit{@include ellipsis(2, auto);margin:12px 0 4px;color:$col_g900;font-size:rem(17px);font-weight:$weight700}
            .date{color:$col_g600;font-size:rem(13px)}
            &.end{
                .imgCont:before{content:'';position:absolute;width:100%;height:100%;background:rgba(0,0,0,0.7)}
                .roundTxt{position:absolute;top:50%;left:50%;width:86px;height:36px;margin:-18px 0 0 -43px;color:$col_white;font-size:rem(18px);text-align:center;line-height:31px;border:1px solid $col_white;border-radius:80px;box-sizing:border-box;}
            }
        }
    }
    & + .pageMove{margin-top:48px}
}
.boardList.event{
    .tit a{@include ellipsis(2, auto)}
}
.infoArea.event{
    .eventTit{margin:-40px 0 24px}
    table{margin-bottom:40px;border-top:1px solid $col_g200;box-sizing:border-box;
        tr{height:52px;line-height:52px;text-align:center;
            td{width:336px;border-bottom:1px solid $col_g200;box-sizing:border-box;color:$col_g900;
                &:first-child{width:174px;font-weight:$weight600;background:$col_g100}
                &:not(:last-child){border-right:1px solid $col_g200}
            }
        }
    }
    .centerTxt{margin:20px 0;
        p{margin:0}
    }
}